<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Contact</title>
  <% include partials/head %>
</head>

<body>
  <div id="backgroundDiv"></div>
  <% include partials/header %>
  <div class="container body-content">
    <div class="updiv row hidden-xs text-center">
      <h1 class="title">
        OoT Championship Series - About
      </h1>
    </div>
    <div class="updiv row table-padding">
      <div>
        <table class="table table-bordered table-responsive" id="ScoresboardTable">
          <thead>
            <tr class="table-header">
              <th>
                <h1 class="h-marginfix text-center title"><strong>About</strong></h1>
              </th>
            </tr>
          </thead>
          <tr>
            <td class="table-customstyle">
              <h3 class="text-center">
                <strong>WTHH:</strong> Main creator of OCS series, you either like him or hate him.
                <br /><br /> Face of the OoT Championship Series, Race Designer/Tester and Schedule Manager.
              </h3>
            </td>
          </tr>
          <tr>
            <td class="table-customstyle">
              <h3 class="text-center">
                <strong>Davpat:</strong> OoT Noob.
                <br /><br /> Website Developer, Image Designer and Race designer.
              </h3>
            </td>
          </tr>
          <tr>
            <td class="table-customstyle">
              <h3 class="text-center">
                <strong>Prettybigjoe:</strong> Literal (Developer) God and a PrettyBigCheater.
                <br /><br /> Website Tools Developer and Race Designer/Tester.
              </h3>
            </td>
          </tr>
          <tr>
            <td class="table-customstyle">
              <h3 class="text-center">
                <strong>MikeKatz45:</strong> The True Canadian
                <br /><br /> Race Designer/Tester.
              </h3>
            </td>
          </tr>
          <tr>
            <td class="table-customstyle">
              <h3 class="text-center">
                <strong>Senn: .Senn to race against him.</strong>
                <br /><br /> Race Designer/Tester.
              </h3>
            </td>
          </tr>
          <tr>
            <td class="table-customstyle">
              <h3 class="text-center">
                <strong>Contact us on <a href="https://discord.gg/8dShaR3">Discord</a></strong>
              </h3>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
