<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS Afterparty</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/afterparty.css">
<script src="script/afterparty.js"></script>
</head>
<body>
		<div class="AfterParty"></div>
		<div class="row">
      <div class="col-lg-3">
        <table style="margin-left:15px; height:90vh;" class="bingo bingo-element col-centered">
          <tbody>
          <tr>
            <td class="square">
              <img src="images/AfterParty/Gohma.png" class="BossImage" alt="Gohma.png"><span>Queen Gohma</span>
            </td>
            <td class="square" id="EponaSong">
              <img src="images/AfterParty/EponasSong.png" alt="EponasSong.png"><img style="padding-right:15px;" src="images/AfterParty/NoteK.gif"></img><span>Epona’s Song</span><img style="padding-left:15px;" src="images/AfterParty/NoteK.gif"></img>
            </td>
          </tr>

          <tr>
            <td class="square">
              <img src="images/AfterParty/Dodongo.png" class="BossImage" alt="Dodongo.png"><span>King Dodongo</span>
            </td>
            <td class="square" id="SariasSong">
              <img src="images/AfterParty/SariasSong.png" alt="SariasSong.png"><img style="padding-right:15px;" src="images/AfterParty/NoteK.gif"><span>Saria’s Song</span><img style="padding-left:15px;" src="images/AfterParty/NoteK.gif">
            </td>
          </tr>

          <tr>
            <td class="square">
              <img src="images/AfterParty/Barinade.png" class="BossImage" alt="Barinade.png"><span>Barinade</span>
            </td>
            <td class="square" id="SunsSong">
              <img src="images/AfterParty/SunsSong.png" alt="SunsSong.png"><img style="padding-right:15px;" src="images/AfterParty/NoteK.gif"><span>Sun’s Song</span><img style="padding-left:15px;" src="images/AfterParty/NoteK.gif">
            </td>
          </tr>

          <tr>
            <td class="square">
              <img src="images/AfterParty/Phantom.png" class="BossImage" alt="Phantom.png"><span>Phantom Ganon</span>
            </td>
            <td class="square" id="SongofStorms">
              <img src="images/AfterParty/SongofStorms.png" alt="SongofStorms.png"><img style="padding-right:15px;" src="images/AfterParty/NoteK.gif"><span>Song of Storms</span><img style="padding-left:15px;" src="images/AfterParty/NoteK.gif">
            </td>
          </tr>

          <tr>
            <td class="square">
              <img src="images/AfterParty/Volvagia.png" class="BossImage" alt="Volvagia.png"><span>Volvagia</span>
            </td>
            <td class="square" id="MinuetofForest" >
              <img src="images/AfterParty/MinuetofForest.png" alt="MinuetofForest.png"><img style="padding-right:15px;" src="images/AfterParty/NoteG.gif"><span>Minuet of Forest</span><img style="padding-left:15px;" src="images/AfterParty/NoteG.gif">
            </td>
          </tr>
          <tr>
            <td class="square">
              <img src="images/AfterParty/WhiteWolfos.png" class="BossImage" alt="WhiteWolfos.png"><span>White Wolfos</span>
            </td>
            <td class="square" id="NocturneofShadow">
              <img src="images/AfterParty/NocturneofShadow.png" alt="NocturneofShadow.png"><img style="padding-right:15px;" src="images/AfterParty/NoteP.gif"><span>Nocturne of Shadow</span><img style="padding-left:15px;" src="images/AfterParty/NoteP.gif">
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="col-lg-6 hidden-xs hidden-sm">
		<div class="col-lg-12 col-centered" style="padding-top:50px;">
			<div class="media message-wrap-header">
					<div>
						<h1 class="message-wrap-header-text" align="center">OCS Afterparty - The Hyrule tour!</h1>
					</div>
			</div>
			<div style="padding-bottom:20px;" class="msg-wrap">
				<h1 class="message-wrap-header-text">Goal: </h1>
				<h2 style="font-family: FOT-ChiaroStd;" class="message-wrap-header-text">Earn 6 points by playing songs for bosses.</h2>

				<h1 class="message-wrap-header-text">Restrictions:</h1>
					<li style="font-size:25px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">You must use the web app provided to know which song you can play for each boss.</li>
					<li style="font-size:25px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">No oldies! <u>You may not play</u> for bosses as adult songs that you learned as child.</li>
					<li style="font-size:25px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">Nocturne of Shadow and Song of Time are <u>worth double</u> each!</li>
					<li style="font-size:25px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">No Item manipulation. (No RBA)</li>

				<h1 class="message-wrap-header-text">Reminders:</h1>
					<li style="font-size:18px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">Remember you’ll need to perform the ocarina items glitch to play songs inside boss rooms.</li>
					<li style="font-size:18px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">If you defeat a boss before playing the song for it on accident you can go back to the boss room and play it, still counts.</li>
					<li style="font-size:18px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">Songs played for the bosses only count after watching the intro cutscenes of the corresponding bosses
					<br>  &emsp;&emsp;or after they start attacking you in the case of mini-bosses.</li>
					<li style="font-size:18px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">You can still play songs as adult that you got as child for everything else except playing for the bosses in the table.</li>
					<li style="font-size:18px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">Time stops when hearing the “success” sound effect upon playing the last song for the last boss.</li>
			</div>
			<br>
	</div>
  </div>
    <div class="col-lg-3">
      <table style="margin-right:15px; height:90vh;" class="bingo bingo-element col-centered">
        <tbody>
              <tr>
                <td class="square" id="PreludeofLight">
                  <img src="images/AfterParty/PreludeofLight.png" alt="PreludeofLight.png"><img style="padding-right:15px;" src="images/AfterParty/NoteY.gif"><span>Prelude of Light</span><img style="padding-left:15px;" src="images/AfterParty/NoteY.gif">
                </td>
								<td class="square">
									<img src="images/AfterParty/Morpha.png" class="BossImage" alt="Morpha.png"><span>Morpha</span>
								</td>
              </tr>

              <tr>
                <td class="square" id="SerenadeofWater" >
                  <img src="images/AfterParty/SerenadeofWater.png" alt="SerenadeofWater.png"><img style="padding-right:15px;" src="images/AfterParty/NoteB.gif"><span>Serenade of Water</span><img style="padding-left:15px;" src="images/AfterParty/NoteB.gif">
                </td>
								<td class="square">
									<img src="images/AfterParty/DarkLink.png" class="BossImage" alt="DarkLink.png"><span>Dark Link</span>
								</td>
              </tr>
              <tr>
                <td class="square" id="SongofTime">
                  <img src="images/AfterParty/SongofTime.png" alt="SongofTime.png"><img style="padding-right:15px;" src="images/AfterParty/NoteK.gif"><span>Song of Time</span><img style="padding-left:15px;" src="images/AfterParty/NoteK.gif">
                </td>
								<td class="square">
									<img src="images/AfterParty/DeadHand.png" class="BossImage" alt="DeadHand.png"><span>Death Hand</span>
								</td>
              </tr>
              <tr>
                <td class="square" id="ZeldaLullaby">
                  <img src="images/AfterParty/ZeldasLullaby.png" alt="ZeldasLullaby.png"><img style="padding-right:15px;" src="images/AfterParty/NoteK.gif"><span>Zelda’s Lullaby</span><img style="padding-left:15px;" src="images/AfterParty/NoteK.gif">
                </td>
								<td class="square">
									<img src="images/AfterParty/Bongo.png" class="BossImage" alt="Bongo.png"><span>Bongo Bongo</span>
								</td>
              </tr>

              <tr>
                <td class="square" id="BoleroofFire">
                  <img src="images/AfterParty/BoleroofFire.png" alt="BoleroofFire.png"><img style="padding-right:15px;" src="images/AfterParty/NoteR.gif"><span>Bolero of Fire</span><img style="padding-left:15px;" src="images/AfterParty/NoteR.gif">
                </td>
								<td class="square">
									<img src="images/AfterParty/Twinrova.png" class="BossImage" alt="Twinrova.png"><span>Twinrova</span>
								</td>
              </tr>

              <tr>
                <td class="square" id="RequiemofSpirit">
                  <img src="images/AfterParty/RequiemofSpirit.png" alt="RequiemofSpirit.png"><img style="padding-right:15px;" src="images/AfterParty/NoteO.gif"><span>Requiem of Spirit</span><img style="padding-left:15px;" src="images/AfterParty/NoteO.gif">
                </td>
								<td class="square">
									<img src="images/AfterParty/Ganondorf.png" class="BossImage" alt="Ganondorf.png"><span>Ganondorf</span>
								</td>
              </tr>
            </tbody>
          </table>
      </div>
			<audio id="audio" hidden controls="controls">
					<source id="oggSource" src="" type="audio/ogg"></source>
					<source id="mp3Source" type="audio/mp3"></source>
					Your browser does not support the audio format.
			</audio>
</html>
