<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS - Information</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/site.css">
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		 <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Leaderboard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
					<li><a href="/challenges">Challenges</a></li>
					<li><a href="/information">Information</a></li>
					<li><a href="/revision">Race Revision</a></li>
					<li><a href="/highlights">Highlights</a></li>
					<li><a href="/halloffame">Hall of Fame</a></li>
					<li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
	</div>
	<div class="container body-content">
		<div id="backgroundDiv"></div>
		<div class="updiv row hidden-xs text-center">
			<h1 class="title">
				OoT Championship Series - Challenges
			</h1>
		</div>
		<div class="updiv row">
			<div>
				<table class="table table-bordered table-responsive table-striped">
					<thead>
						<tr class="table-header">
							<th>Week</th>
							<th>Title</th>
							<th>Rules</th>
							<th class="hidden-xs">Clue</th>
							<th class="hidden-xs">Tool</th>
							<th class="hidden-xs">Date</th>
							<th class="hidden-xs">Winner</th>
							<th class="hidden-xs">Time</th>
							<th class="hidden-xs">SRL Result</th>
							<th class="hidden-xs">Recap</th>
						</tr>
					</thead>
					<tr>
						<td>#1</td>
						<td>The Skulltula Hunt</td>
						<td><a target="_blank" href="images/Challenges/Challenge1.png">Challenge1.png</a></td>
						<td class="hidden-xs text-center"></td>
						<td class="hidden-xs"><a target="_blank" href="http://challenge-series.prettybigjoe.me/skull-counter">Skull Counter</a></td>
						<td class="hidden-xs">September 18, 2016 at 3:00 PM ET</td>
						<td class="hidden-xs"><a target="_blank" href="https://www.twitch.tv/amateseru">Amateseru</a></td>
						<td class="hidden-xs">01:37:29</td>
						<td class="hidden-xs"><a target="_blank" href="http://www.speedrunslive.com/races/result/#!/180407">SRL Result 1</a></td>
						<td class="hidden-xs"><a target="_blank" href="/recap1">Week 1</a></td>
					</tr>
					<tr>
						<td>#2</td>
						<td>Glass Ganon</td>
						<td><a target="_blank" href="images/Challenges/Challenge2.png">Challenge2.png</a></td>
						<td class="hidden-xs"><a href="clue/Clue2.mp3" target="_blank">Clue2.mp3</a></td>
						<td class="hidden-xs"></td>
						<td class="hidden-xs">October 2, 2016 at 3:00 PM ET</td>
						<td class="hidden-xs"><a target="_blank" href="https://www.twitch.tv/sniping117">Sniping</a></td>
						<td class="hidden-xs">01:47:12</td>
						<td class="hidden-xs"><a target="_blank" href="http://www.speedrunslive.com/races/result/#!/181301">SRL Result 2</a></td>
						<td class="hidden-xs"><a target="_blank" href="/recap2">Week 2</a></td>
					</tr>
					<tr>
						<td>#3</td>
						<td>Killink Spree!</td>
						<td><a target="_blank" href="images/Challenges/Challenge3.png">Challenge3.png</a></td>
						<td class="hidden-xs"><a href="clue/Clue3.mp3" target="_blank">Clue3.mp3</a></td>
						<td class="hidden-xs"><a target="_blank" href="http://challenge-series.prettybigjoe.me/enemy-counter/">Enemy Counter</a></td>
						<td class="hidden-xs">October 16, 2016 at 3:00 PM ET</td>
						<td class="hidden-xs"><a target="_blank" href="https://www.twitch.tv/exodus122">Exodus</a></td>
						<td class="hidden-xs">01:40:16</td>
						<td class="hidden-xs"><a target="_blank" href="http://www.speedrunslive.com/races/result/#!/182117">SRL Result 3</a></td>
						<td class="hidden-xs"><a target="_blank" href="/recap3">Week 3</a></td>
					</tr>
					<tr>
						<td>#4</td>
						<td>Trick or Treat</td>
						<td><a target="_blank" href="images/Challenges/Challenge4.png">Challenge4.png</a></td>
						<td class="hidden-xs"><a href="clue/Clue4.mp3" target="_blank">Clue4.mp3</a></td>
						<td class="hidden-xs"></td>
						<td class="hidden-xs">October 30, 2016 at 3:00 PM ET</td>
						<td class="hidden-xs"><a target="_blank" href="https://www.twitch.tv/sniping117">Sniping</a></td>
						<td class="hidden-xs">01:29:43</td>
						<td class="hidden-xs"><a target="_blank" href="http://www.speedrunslive.com/races/result/#!/182935">SRL Result 4</a></td>
						<td class="hidden-xs"><a target="_blank" href="/recap4">Week 4</a></td>
					</tr>
					<tr>
						<td>#5</td>
						<td><del>MS</del>T</td>
						<td><a target="_blank" href="images/Challenges/Challenge5.png">Challenge5.png</a></td>
						<td class="hidden-xs"><a href="clue5" target="_blank">Clue5.html</a></td>
						<td class="hidden-xs"></td>
						<td class="hidden-xs">November 13, 2016 at 3:00 PM ET</td>
						<td class="hidden-xs"><a target="_blank" href="https://www.twitch.tv/marco8641">Marco</a></td>
						<td class="hidden-xs">01:27:19</td>
						<td class="hidden-xs"><a target="_blank" href="http://www.speedrunslive.com/races/result/#!/183772">SRL Result 5</a></td>
						<td class="hidden-xs"><a target="_blank" href="/recap5">Week 5</a></td>
					</tr>
					<tr>
						<td>#6</td>
						<td>The Janitor Challenge</td>
						<td><a target="_blank" href="images/Challenges/Challenge6.png">Challenge6.png</a></td>
						<td class="hidden-xs"><a href="clue/Clue6.png" target="_blank">Clue6.png</a></td>
						<td class="hidden-xs"><a target="_blank" href="http://challenge-series.prettybigjoe.me/key-counter">Key Counter</a></td>
						<td class="hidden-xs">November 27, 2016 at 3:00 PM ET</td>
						<td class="hidden-xs"><a target="_blank" href="https://www.twitch.tv/tob3000">Tob3000</a></td>
						<td class="hidden-xs">01:26:11</td>
						<td class="hidden-xs"><a target="_blank" href="http://www.speedrunslive.com/races/result/#!/184600">SRL Result 6</a></td>
						<td class="hidden-xs"><a target="_blank" href="/recap6">Week 6</a></td>
					</tr>
					<tr>
						<td>#7</td>
						<td>The downside?...</td>
						<td><a target="_blank" href="images/Challenges/Challenge7.png">Challenge7.png</a></td>
						<td class="hidden-xs"><a href="clue/Clue7.mp4" target="_blank">Clue7.mp4</a></td>
						<td class="hidden-xs"></td>
						<td class="hidden-xs">December 11, 2016 at 3:00 PM ET</td>
						<td class="hidden-xs"><a target="_blank" href="https://www.twitch.tv/runnerguy2489">Runnerguy2489</a></td>
						<td class="hidden-xs">01:09:50</td>
						<td class="hidden-xs"><a target="_blank" href="http://www.speedrunslive.com/races/result/#!/185456">SRL Result 7</a></td>
						<td class="hidden-xs"><a target="_blank" href="/recap7">Week 7</a></td>
					</tr>
					<tr>
						<td>#8</td>
						<td>A Kakariko Kristmas</td>
						<td><a target="_blank" href="images/Challenges/Challenge8.png">Challenge8.png</a></td>
						<td class="hidden-xs"><a href="clue8" target="_blank">Clue8.html</a></td>
						<td class="hidden-xs"></td>
						<td class="hidden-xs">December 18, 2016 at 3:00 PM ET</td>
						<td class="hidden-xs"><a target="_blank" href="https://www.twitch.tv/exodus122">Exodus</a></td>
						<td class="hidden-xs">01:21:41</td>
						<td class="hidden-xs"><a target="_blank" href="http://www.speedrunslive.com/races/result/#!/185837">SRL Result 8</a></td>
						<td class="hidden-xs"><a target="_blank" href="/recap8">Week 8</a></td>
					</tr>
					<tr>
						<td>#9</td>
						<td>The Materialist</td>
						<td><a target="_blank" href="images/Challenges/Challenge9.png">Challenge9.png</a></td>
						<td class="hidden-xs"><a href="https://twitter.com/xa12345/status/821829986881536000" target="_blank">Clue9.html</a></td>
						<td class="hidden-xs"><a target="_blank" href="http://challenge-series.prettybigjoe.me/item-counter">Item Counter</a></td>
						<td class="hidden-xs">January 22, 2017 at 3:00 PM ET</td>
						<td class="hidden-xs"><a target="_blank" href="https://www.twitch.tv/exodus122">Exodus</a></td>
						<td class="hidden-xs">01:27:42</td>
						<td class="hidden-xs"><a target="_blank" href="http://www.speedrunslive.com/races/result/#!/187615">SRL Result 9</a></td>
						<td class="hidden-xs"><a target="_blank" href="/recap9">Week 9</a></td>
					</tr>
					<tr>
						<td>#10</td>
						<td>OCS Bingo</td>
						<td><a target="_blank" href="images/Challenges/Challenge10.png">Challenge10.png</a></td>
						<td class="hidden-xs"><a href="https://www.youtube.com/watch?v=ECFiyrjYZFU" target="_blank">Clue10.mp4</a></td>
						<td class="hidden-xs"><a target="_blank" href="http://challenge-series.prettybigjoe.me/bingo">Bingo Card</a></td>
						<td class="hidden-xs">February 5, 2017 at 3:00 PM ET</td>
						<td class="hidden-xs"><a target="_blank" href="https://www.twitch.tv/marco8641">Marco</a></td>
						<td class="hidden-xs">01:28:04</td>
						<td class="hidden-xs"><a target="_blank" href="http://www.speedrunslive.com/races/result/#!/188647">SRL Result 10</a></td>
						<td class="hidden-xs">Week 10</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>
