<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS - clue 9-2</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/site.css">
</head>
<body>
<div id="clue9bbackground"></div>
<audio controls autoplay hidden id="audioclue">
  <source src="/clue/Clue9.mp3" type="audio/mpeg">
</audio>
</body>
<style type="text/css">
  html {
    overflow-y: hidden;
    overflow-x: hidden;
  }
</style>
<script>
  window.onload = function(){
  	var vid = document.getElementById("audioclue");
  	vid.volume = 0.2;
  }
</script>
</html>
