<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Hall of Fame</title>
  <% include partials/head %>
</head>

<body>
  <div id="backgroundDiv"></div>
  <% include partials/header %>
    <div class="container body-content">
      <div class="updiv row hidden-xs text-center">
        <h1 class="title">
          OoT Championship Series - Hall of Fame
        </h1>
      </div>

      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title">Impromptu Series</h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Impromptu #1</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <h4>
                        Visit and obtain the reward from all six great fairy fountains. Time ends upon the sixth fairy fountain cutscene ending.
                      </h4>
                      <h4 class="text-center"><br /><strong>Hosted by RingRush - October 17th, 2009</strong></h4>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Impromptu #2</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <h4>
                        Get each dungeon's main item (slingshot, bomb bag, boomerang, bow, hamer, longshot, hover boots, miror shield).
                        <br /> And then end by the sign outside your house.
                      </h4>
                      <h4 class="text-center"><br /><strong>Hosted by Cosmo - November 21th, 2009 - 1st Jiano - 3 hours 10 minutes</strong></h4>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Impromptu #3</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <h4>
                        Complety buy out the bombchu shop in the back alley. Time ends upon playing saria's song showing the 8 sold out signs.
                      </h4>
                      <h4 class="text-center"><br /><strong>Hosted by Cosmo - December 12th, 2009 - 1st Mp16</strong></h4>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Impromptu #4</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <img style="max-width:700px;max-height:500px; display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Impromptu-4.png"
                        class="img-responsive" alt="Impromptu-4.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Impromptu #5</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <h4>
                        Fill up your whole equipment screen (swords, shields, boots, etc..). You can decide yourself which items you want to get.
                        <br /><br /> In the end, there just has to be an item in every slot. You can decide between the quiver
                        and the seed bag, for example.
                        <br /><br />
                        <ul>
                          <li>
                            You must not RBA any items on your equipment screen, so you shouldn't try to RBA Cojiro, etc.
                          </li>
                          <li>
                            Medallions, songs, etc., can be gotten through RBA, however
                          </li>
                          <li>
                            The run will end when Navi says your name at the cutscene before the Ganondorf Battle.
                          </li>
                          <li>
                            Save Warping and Death Warping is allowed.
                          </li>
                          <li>You can enter ganons castle anyway you see fit</li>
                        </ul><br /> File Name: GrunzFTW | As soon as you input your name start your file and begin watching the
                        intro cutscene.
                      </h4>
                      <h4 class="text-center"><br /><strong>Hosted by remen - February 20th, 2010 - 1st Jiano - 2 hours 00 minutes</strong></h4>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Impromptu #6</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <h4>
                        Play Saria's Song on the Boomerang (with Ocarina Items) next to the Mirror Shield chest.
                        <br /><br /> For shits and giggles, you also have at least 4 hearts as well.
                      </h4>
                      <h4 class="text-center"><br /><strong>Hosted by mzxrules - February 28th, 2010 - 1st Mp16 - 1:26:53</strong></h4>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Impromptu #7</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <h4>
                        Get all Deku Stick and Deku Nut upgrades and end at the Saria Song cutscene with the name "A55".
                      </h4>
                      <h4 class="text-center"><strong>A mistake was made in the goal.</strong></h4>
                      <h4>
                        It is impossible to end this goal at Saria's Song cutscene due to needing Saria's Song in order to give the Skull Mask to
                        the Imp.
                        <br /><br /> Therefore mid-way we decided the goal should instead just end when all stick and nut
                        upgrades are gotten.
                      </h4>
                      <h4 class="text-center"><br /><strong>Hosted by Elminster - March 28th, 2010 - 1st Jiano - 1:37:51</strong></h4>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Impromptu #8</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <h4>
                        Get both the Bow and the Megaton Hammer as a child. You must not become an adult at any time.
                        <br /><br /> The goal ends upon re-entering Link's house and showing the bow and hammer. Filename:
                        FLM
                      </h4>
                      <h4 class="text-center"><br /><strong>Hosted by Pokey - March 28th, 2010 - 1st Runnerguy2489 - 3:15:37</strong></h4>

                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Impromptu #9</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <h4 class="text-center"><strong>Hosted by darkeye14 - April 25th, 2010 - 1st	ZFG	2:04:20</strong></h4>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Impromptu #15</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <img style="max-width:800px;max-height:500px; display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Impromptu-15.png"
                        class="img-responsive" alt="Impromptu-15.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Impromptu #16</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <img style="max-width:800px;max-height:500px; display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Impromptu-16.png"
                        class="img-responsive" alt="Impromptu-16.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Impromptu #17</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <img style="max-width:800px;max-height:500px; display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Impromptu-17Final.png"
                        class="img-responsive" alt="Impromptu-17Final.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>OoT Puzzle Series</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #1</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <h4 style="min-width:800px" class="text-center">
                        Empty the equipment subscreen except for the Kokiri Boots.
                        <br /><br />
                        <strong>Hosted by Cosmo - May 08, 2010</strong>
                      </h4>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #3</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace3.jpg"
                        class="img-responsive" alt="OoTPuzzleRace3.jpg">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #4</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace4.png"
                        class="img-responsive" alt="OoTPuzzleRace4.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #5</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace5.png"
                        class="img-responsive" alt="OoTPuzzleRace5.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #6</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace6.png"
                        class="img-responsive" alt="OoTPuzzleRace6.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #7</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace7.png"
                        class="img-responsive" alt="OoTPuzzleRace7.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #8</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace8.png"
                        class="img-responsive" alt="OoTPuzzleRace8.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #9</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace9.jpg"
                        class="img-responsive" alt="OoTPuzzleRace9.jpg">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #10</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace10.png"
                        class="img-responsive" alt="OoTPuzzleRace10.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #11</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace11.png"
                        class="img-responsive" alt="OoTPuzzleRace11.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #12</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace12.jpg"
                        class="img-responsive" alt="OoTPuzzleRace12.jpg">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #13</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace13.png"
                        class="img-responsive" alt="OoTPuzzleRace13.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #14</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace14.jpg"
                        class="img-responsive" alt="OoTPuzzleRace14.jpg">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">OoT Puzzle Race #15</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace15.png"
                        class="img-responsive" alt="OoTPuzzleRace15.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Challenge Goal Jarvitz</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/ChallengeGoalJarvitz.jpg"
                  class="img-responsive" alt="ChallengeGoalJarvitz.jpg">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Halloween Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/CosmoHallowen.jpg"
                  class="img-responsive" alt="CosmoHallowen.jpg">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Easter Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/EasterPuzzle.png"
                  class="img-responsive" alt="EasterPuzzle.png">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Exodus Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Exodus2.png"
                  class="img-responsive" alt="Exodus2.png">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Fairy (DK64 and OoT)</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Fairy(DK64 and OoT).png"
                  class="img-responsive" alt="Fairy(DK64 and OoT).png">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Iron Boot and Broken Knife</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/IronBootandBrokenKnife.jpg"
                  class="img-responsive" alt="IronBootandBrokenKnife.jpg">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>MrBubbleskp Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Puzzle #1</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/MrBubbleskp1.jpg"
                        class="img-responsive" alt="MrBubbleskp1.jpg">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Puzzle #2</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Mrbubbleskp2.jpg"
                        class="img-responsive" alt="MrBubbleskp2.jpg">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>NewYear Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/NewYearPuzzle.png"
                  class="img-responsive" alt="NewYearPuzzle.png">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Amateseru Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRaceAma.jpg"
                  class="img-responsive" alt="OoTPuzzleRaceAma.jpg">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>OoT NPC Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRaceNPC.jpg"
                  class="img-responsive" alt="OoTPuzzleRaceNPC.jpg">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race Ratio Keys</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRaceWhatGoingOn.png"
                  class="img-responsive" alt="OoTPuzzleRaceWhatGoingOn.png">
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>PsyMarth Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Puzzle #1</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px; display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/PsyMarth1.png"
                        class="img-responsive" alt="PsyMarth1.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Puzzle #2</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/PsyMarth2.png"
                        class="img-responsive" alt="PsyMarth2.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Puzzle #3</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/PsyMarth3.png"
                        class="img-responsive" alt="PsyMarth3.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>


      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>OoT, Lttp and MM Riddles</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Riddle.jpg"
                  class="img-responsive" alt="Riddle.jpg">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Scenary Puzzle (Go To Location)</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/ScenaryPuzzle(GoToLocation).jpg"
                  class="img-responsive" alt="ScenaryPuzzle(GoToLocation).jpg">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Sniping Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Puzzle #1</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Snipping1.png"
                        class="img-responsive" alt="Snipping1.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Puzzle #2</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Snipping2.png"
                        class="img-responsive" alt="Snipping2.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Barinade and Ruto Letter on C</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/BarinadeandLetterC.png"
                  class="img-responsive" alt="BarinadeandLetterC.png">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Dispel Forest Trial</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/DisspelForestTrial.jpg"
                  class="img-responsive" alt="DisspelForestTrial.jpg">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Obtain Biggoron Sword</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/ObtainBiggoronSword.jpg"
                  class="img-responsive" alt="ObtainBiggoronSword.jpg">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Defeat Amy</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/DefeatAmy.jpg"
                  class="img-responsive" alt="DefeatAmy.jpg">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Jenslang Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Jenslang.jpg"
                  class="img-responsive" alt="Jenslang.jpg">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Chrisbullcock Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/ChrisbullcockPuzzle.jpg"
                  class="img-responsive" alt="ChrisbullcockPuzzle.jpg">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Water Temple Goal</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/WaterTempleGoal.png"
                  class="img-responsive" alt="WaterTempleGoal.png">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>MP16 Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Light Torches</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/LightTorchesShadowTemple.png"
                        class="img-responsive" alt="LightTorchesShadowTemple.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Restore link courage</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/PuzzleMP16.png"
                        class="img-responsive" alt="PuzzleMP16.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>DannyB Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Serving Hard Time - Puzzle #1</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/ServingHardTime.png"
                        class="img-responsive" alt="ServingHardTime.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Heartbreaker - Puzzle #2</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Heartbreaker.png"
                        class="img-responsive" alt="Heartbreaker.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">From Rags to Riches to Rags - Puzzle #3</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/FromRagstoRichestoRags.png"
                        class="img-responsive" alt="FromRagstoRichestoRags.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">A Lofty Goal - Puzzle #4</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/ALoftyGoal.png"
                        class="img-responsive" alt="ALoftyGoal.png.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">ReDead ReVenge - Puzzle #5</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/ReDeadReVenge.png"
                        class="img-responsive" alt="ReDeadReVenge.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>OOperadics Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Puzzle #1</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/operadics.png"
                        class="img-responsive" alt="operadics.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>DankMoose Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Bomb Limit - Puzzle #1</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/BombLimit.png"
                        class="img-responsive" alt="BombLimit.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>VerySydney Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Don't Lose Your Way - Puzzle #1</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/sydney.jpg"
                        class="img-responsive" alt="sydney.jpg">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Jolin012 Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Meme Mastery - Puzzle #1</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Meme.png"
                        class="img-responsive" alt="Meme.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
	  <div class="updiv row table-padding">
        <div>
          <table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
            <thead>
              <tr class="table-header">
                <th colspan="1">
                  <h3 class="h-marginfix text-center title"><strong>Gombill Puzzle</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="table-customstyle">
                <table align="center" style="border-spacing: 10px; border-style: hidden;">
                  <thead>
                    <tr class="table-header">
                      <th colspan="1">
                        <h2 class="h-marginfix text-center title">Link's Vacation Album - Puzzle #1</h2>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="table-customstyle">
                      <img style="max-width:800px;max-height:500px;display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/gombilPreOcS2.png"
                        class="img-responsive" alt="Meme.png">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
</body>

</html>
