<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS - Hall of Fame</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/site.css">
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		 <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Leaderboard</a>
            </div>
            <div class="navbar-collapse collapse">  
                <ul class="nav navbar-nav">
					<li><a href="/challenges">Challenges</a></li>
					<li><a href="/information">Information</a></li>
					<li><a href="/revision">Race Revision</a></li>
					<li><a href="/highlights">Highlights</a></li>
					<li><a href="/halloffame">Hall of Fame</a></li>
					<li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
	</div>
	<div class="container body-content">
		<div id="backgroundDiv"></div>
		<div class="updiv row hidden-xs text-center">
			<h1 class="title">
				OoT Championship Series - Hall of Fame
			</h1>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Hall of Fame</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								I have try to make a list of the past Puzzle Race and Impromptu Speedrunning Race, which were scattered around the web.
								<br /><br />
								If you find or have more Puzzle Race, feel free to contact WTHH or Davpat.
								<br /><br />
								Look like Impromptu Speedrunning is back with OCS, I didn't even knew it's existed in the past.
								<br /><br />
								Nothing to do? 
								<br /><br />
								You might want to try one of those puzzle race but make sure to use only the glitch found at that time.  
							</h3>
						</td>
					</tr>           
				</table>
			</div>
		</div>

		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu Speedrunning</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								The Idea: 
								<br /><br />
								Basically, this is a real time race of OoT. 
								<br /><br />
								Everybody waits in chat for the signal, and at the "go", they all begin a new file.
								<br /><br />
								The catch? The players learn the goal of the run only while waiting for the intro cutscene to finish. This means there are no pre-planned routes or practicing sections: you have to make up and execute your path on the fly. 
								<br /><br />
								Don't worry if you aren't the most knowledgeable in OoT — without premeditation, it is unlikely that obscure tricks will be thought of and used. Basically, all you need is decent skill, decent glitch knowledge, and the ability to think fast and play fast at the same time.
								<br /><br />
								Since this is a new experience for everyone, it will probably be pretty chaotic, and anybody could win. Just post your progress every once in a while in irc during cutscenes so we can see the competition unfolding. Chances are, this will be great fun to everyone involved.
								<br /><br />
								I'd imagine doing one impromptu race a month, on some given time such as the first saturday or last sunday. When the best time would be is up for discussion, as we want to incorporate as many people as possible.
								<br /><br />
								Taken from : <a target="_blank" href="http://www.zeldaspeedrun.dreamhosters.com/site/index.php?link=oot/speedruns/impromptu#oct172009">zeldaspeedrun</a>
								<br /><br />
							</h3>
						</td>
					</tr>                   
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu #1</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								Visit and obtain the reward from all six great fairy fountains.
								<br /><br />
								Time ends upon the sixth fairy fountain cutscene ending.
								<br /><br />
								Impromptu #1 hosted by RingRush - October 17th, 2009
							</h3>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu #2</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								Get each dungeon's main item (slingshot, bomb bag, boomerang, bow, hamer, longshot, hover boots, miror shield). 
								<br /><br />
								And then end by the sign outside your house.                         
								<br /><br />
								Impromptu #2 hosted by Cosmo - November 21th, 2009 - 1st Jiano - 3 hours 10 minutes
							</h3>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu #3</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								Complety buy out the bombchu shop in the back alley. 
								<br /><br />
								Time ends upon playing saria's song showing the 8 sold out signs.
								<br /><br />
								Impromptu #2 hosted by Cosmo - December 12th, 2009 - 1st Mp16
							</h3>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu #4</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;"  src="oldpuzzle/Impromptu-4.png" class="img-responsive" alt="Impromptu-4.png">
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h3>
								Impromptu #4 hosted by RingRush - January 2th, 2010 - 1st	Jiano - 1 hour 36 minutes
							</h3>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu #5</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								Goal: 
								<br /><br />
								Fill up your whole equipment screen swords, shields, boots, etc.. You can decide yourself which items you want to get. In the end, there just has to be an item in every slot. You can decide between the quiver and the seed bag, for example.
								<br /><br />
								*You must not RBA any items on your equipment screen, so you shouldn't try to RBA Cojiro, etc. Medallions, songs, etc., can be gotten through RBA, however *The run will end when Navi says your name at the cutscene before the Ganondorf Battle. Save Warping and Death Warping is allowed. *You can enter ganons castle anyway you see fit
								<br /><br />
								If you are doing absolute or short recording instead of streaming, post where you are as much as possible, usually during cutscenes.
								<br /><br />
								File Name: GrunzFTW | As soon as you input your name start your file and begin watching the intro cutscene.
								<br /><br />
								Impromptu #5 hosted by remen - February 20th, 2010 - 1st Jiano - 2 hours 00 minutes 
							</h3>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu #6</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								Goal:
								<br /><br />
								Play Saria's Song on the Boomerang (with Ocarina Items) next to the Mirror Shield chest. 
								<br /><br />
								For shits and giggles, you also have at least 4 hearts as well.
								<br /><br />
								Impromptu #6 hosted by mzxrules - February 28th, 2010 - 1st Mp16 - 1:26:53
							</h3>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu #7</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								Goal:
								<br /><br />
								Get all Deku Stick and Deku Nut upgrades and end at the Saria Song cutscene with the name "A55".
								<br /><br />
								A mistake was made in the goal. It is impossible to end this goal at Saria's Song cutscene due to needing Saria's Song in order to give the Skull Mask to the Imp. Therefore mid-way we decided the goal should instead just end when all stick and nut upgrades are gotten.
								<br /><br />
								Impromptu #7 hosted by Elminster - March 28th, 2010 - 1st Jiano - 1:37:51
							</h3>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu #8</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								Goal:
								<br /><br />
								Get both the Bow and the Megaton Hammer as a child. You must not become an adult at any time.
								<br /><br />
								The goal ends upon re-entering Link's house and showing the bow and hammer. Filename: FLM
								<br /><br />
								Impromptu #8 hosted by Pokey - March 28th, 2010 - 1st Runnerguy2489 - 3:15:37
							</h3>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu #9</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								Goal:
								<br /><br />
								???
								<br /><br />
								Impromptu #9 hosted by darkeye14 - April 25th, 2010 - 1st	ZFG	2:04:20
							</h3>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu #15</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;"  src="oldpuzzle/Impromptu-15.png" class="img-responsive" alt="Impromptu-15.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu #16</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;"  src="oldpuzzle/Impromptu-16.png" class="img-responsive" alt="Impromptu-16.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Impromptu #17</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;"  src="oldpuzzle/Impromptu-17Final.png" class="img-responsive" alt="Impromptu-17Final.png">
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #1</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								Puzzle Race #1 hosted by Cosmo
								<br /><br />
								May 08, 2010
								<br /><br />
								Empty the equipment subscreen except for the Kokiri Boots.
								<br /><br />
							</h3>
						</td>
				   </tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #2</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace2.png" class="img-responsive" alt="OoTPuzzleRace2.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #3</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace3.jpg" class="img-responsive" alt="OoTPuzzleRace3.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #4</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace4.png" class="img-responsive" alt="OoTPuzzleRace4.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #5</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace5.png" class="img-responsive" alt="OoTPuzzleRace5.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #6</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace6.png" class="img-responsive" alt="OoTPuzzleRace6.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #7</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace7.png" class="img-responsive" alt="OoTPuzzleRace7.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #8</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace8.png" class="img-responsive" alt="OoTPuzzleRace8.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #9</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace9.jpg" class="img-responsive" alt="OoTPuzzleRace9.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #10</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace10.png" class="img-responsive" alt="OoTPuzzleRace10.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #11</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace11.png" class="img-responsive" alt="OoTPuzzleRace11.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #12</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace12.jpg" class="img-responsive" alt="OoTPuzzleRace12.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #13</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace13.png" class="img-responsive" alt="OoTPuzzleRace13.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #14</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace14.jpg" class="img-responsive" alt="OoTPuzzleRace14.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race #15</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRace15.png" class="img-responsive" alt="OoTPuzzleRace15.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Challenge Goal Jarvitz</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/ChallengeGoalJarvitz.jpg" class="img-responsive" alt="ChallengeGoalJarvitz.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Halloween Puzzle</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/CosmoHallowen.jpg" class="img-responsive" alt="CosmoHallowen.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Easter Puzzle</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/EasterPuzzle.png" class="img-responsive" alt="EasterPuzzle.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Exodus Puzzle #2</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Exodus2.png" class="img-responsive" alt="Exodus2.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Fairy (DK64 and OoT)</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Fairy(DK64 and OoT).png" class="img-responsive" alt="Fairy(DK64 and OoT).png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Iron Boot and Broken Knife</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/IronBootandBrokenKnife.jpg" class="img-responsive" alt="IronBootandBrokenKnife.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>MrBubbleskp Puzzle #1</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/MrBubbleskp1.jpg" class="img-responsive" alt="MrBubbleskp1.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>MrBubbleskp Puzzle #2</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Mrbubbleskp2.jpg" class="img-responsive" alt="MrBubbleskp2.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>NewYear Puzzle</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/NewYearPuzzle.png" class="img-responsive" alt="NewYearPuzzle.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Amateseru Puzzle</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRaceAma.jpg" class="img-responsive" alt="OoTPuzzleRaceAma.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race NPC</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRaceNPC.jpg" class="img-responsive" alt="OoTPuzzleRaceNPC.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>OoT Puzzle Race ?????</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/OoTPuzzleRaceWhatGoingOn.png" class="img-responsive" alt="OoTPuzzleRaceWhatGoingOn.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>PsyMarth Puzzle #1</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/PsyMarth1.png" class="img-responsive" alt="PsyMarth1.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>PsyMarth Puzzle #2</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/PsyMarth2.png" class="img-responsive" alt="PsyMarth2.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>PsyMarth Puzzle #3</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/PsyMarth3.png" class="img-responsive" alt="PsyMarth3.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Riddle</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Riddle.jpg" class="img-responsive" alt="Riddle.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Scenary Puzzle (Go To Location)</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/ScenaryPuzzle(GoToLocation).jpg" class="img-responsive" alt="ScenaryPuzzle(GoToLocation).jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Sniping Puzzle #1</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Snipping1.png" class="img-responsive" alt="Snipping1.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Sniping Puzzle #2</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/Snipping2.png" class="img-responsive" alt="Snipping2.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Barinade and Ruto Letter on C</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/BarinadeandLetterC.png" class="img-responsive" alt="BarinadeandLetterC.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Dispel Forest Trial</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/DisspelForestTrial.jpg" class="img-responsive" alt="DisspelForestTrial.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Obtain Biggoron Sword</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/ObtainBiggoronSword.jpg" class="img-responsive" alt="ObtainBiggoronSword.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Defeat Amy</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/DefeatAmy.jpg" class="img-responsive" alt="DefeatAmy.jpg">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Water Temple Goal</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/WaterTempleGoal.png" class="img-responsive" alt="WaterTempleGoal.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>MP16 Puzzle - Light Torches</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/LightTorchesShadowTemple.png" class="img-responsive" alt="LightTorchesShadowTemple.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>MP16 Puzzle - Restore link courage</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img style="display: block; margin-left:auto; margin-right:auto;" src="oldpuzzle/PuzzleMP16.png" class="img-responsive" alt="PuzzleMP16.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>