<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS - Highlights</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/site.css">
<script src="script/OpaqueNavbar.js"></script>
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top opaque-navbar" role="navigation">
		 <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Leaderboard</a>
            </div>
            <div class="navbar-collapse collapse">  
                <ul class="nav navbar-nav">
					<li><a href="/challenges">Challenges</a></li>
					<li><a href="/information">Information</a></li>
					<li><a href="/revision">Race Revision</a></li>
					<li><a href="/highlights">Highlights</a></li>
					<li><a href="/halloffame">Hall of Fame</a></li>
					<li><a href="/season1">Season 1</a></li>
					<li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
	</div>
	<div class="container body-content">
		<div id="backgroundDiv"></div>
		<div class="updiv row hidden-xs text-center">
			<h1 class="title">
				OoT Championship Series - Highlights
			</h1>
		</div>
		<div class="updiv row">
			<div>
				<table class="table table-bordered table-responsive table-striped">
					<thead>
						<tr class="table-header">
							<th>Season</th>
							<th>Race</th>
							<th>Player</th>
							<th>URL</th>
							<th class="hidden-xs">Description</th>
						</tr>
					</thead>
					<tr>
						<td>#1</td>
						<td>The Skulltula Hunt</td>
						<td>Tob3000</td>
						<td><a href="https://clips.twitch.tv/embed?clip=tob3000/RelievedStarlingKappa&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Tob dying to the skulltula in graveyard.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>The Skulltula Hunt</td>
						<td>Moose1137</td>
						<td><a href="https://clips.twitch.tv/embed?clip=moose1137/ThankfulAlbatrossSMSkull&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Moose diving to his death.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>The Skulltula Hunt</td>
						<td>MatttIntTheHat</td>
						<td><a href="https://clips.twitch.tv/embed?clip=matttinthehat/GoodOtterTriHard&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">MatttIntTheHat drowning in the lab.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>The Skulltula Hunt</td>
						<td>Aliensqueakytoy</td>
						<td><a href="https://clips.twitch.tv/embed?clip=aliensqueakytoy/ObedientPartridgeHotPokket&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Aliensqueakytoy vineclipping in Jabu.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>The Skulltula Hunt</td>
						<td>MatttIntTheHat</td>
						<td><a href="https://clips.twitch.tv/embed?clip=matttinthehat/TameLyrebirdDuDudu&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Matt realizing he had 61 skulltulas after having trouble getting up the tree in Lake Hylia.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>The Skulltula Hunt</td>
						<td>Tashman</td>
						<td><a href="https://clips.twitch.tv/embed?clip=tashman91/DoubtfulBaboonVolcania&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Tashman getting the first skulltula.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>Tashman</td>
						<td><a href="https://clips.twitch.tv/embed?clip=tashman91/CheerfulNarwhalTooSpicy&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Risky Cucco ISG in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>MikeKatz45</td>
						<td><a href="https://www.twitch.tv/mikekatz45/v/93211050#" target="_blank">Highlight</a></td>
						<td class="hidden-xs">Spirit trial in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>Flofloo</td>
						<td><a href="https://www.twitch.tv/flofloo2217/v/93271870" target="_blank">Highlight</a></td>
						<td class="hidden-xs">Sick Dampé race in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>Amateseru</td>
						<td><a href="https://clips.twitch.tv/embed?clip=amateseru/HilariousLapwingSoBayed&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Amazing block skip in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>Hyperion64</td>
						<td><a href="https://clips.twitch.tv/embed?clip=hyperion64/ExpensiveCheetahPJSalt&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Shadow Temple ledge clip in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>Sniping</td>
						<td><a href="https://clips.twitch.tv/embed?clip=sniping117/EasyMartenCoolCat&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Shadow Temple boss key skip in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>Sniping</td>
						<td><a href="https://clips.twitch.tv/embed?clip=sniping117/MotionlessWalrusBigBrother&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Ground clip into Darunia's room in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>Sniping</td>
						<td><a href="https://clips.twitch.tv/embed?clip=sniping117/CooperativeChamoisBORT&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Megaflipping from the block room with a clip out of bounds in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>PhoenixFeather</td>
						<td><a href="https://clips.twitch.tv/embed?clip=phoenixfeather1/UninterestedBatRedCoat&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">No extra keys in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>PhoenixFeather</td>
						<td><a href="https://clips.twitch.tv/embed?clip=phoenixfeather1/AgreeableFoxPeteZarollTie&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Leevers in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>Amateseru</td>
						<td><a href="https://clips.twitch.tv/embed?clip=amateseru/HelplessFlyAsianGlow&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Leevers in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>MikeKatz45</td>
						<td><a href="https://clips.twitch.tv/embed?clip=mikekatz45/BadCoyoteSmoocherZ&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Leevers in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>whatthehellshappened</td>
						<td><a href="https://www.twitch.tv/whatthehellshappened/v/93318767" target="_blank">Highlight</a></td>
						<td class="hidden-xs">Strategy for leevers in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>MatttIntTheHat</td>
						<td><a href="https://clips.twitch.tv/embed?clip=matttinthehat/AliveGoshawkKappa&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">No cutscene dive and void in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>Marco</td>
						<td><a href="https://clips.twitch.tv/embed?clip=marco8641/WanderingTapirMrDestructoid&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Spirit temple boss key in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>Sniping</td>
						<td><a href="https://www.twitch.tv/sniping117/v/93170447" target="_blank">Highlight</a></td>
						<td class="hidden-xs">Spirit temple boss key skip in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>PsyMarth</td>
						<td><a href="https://clips.twitch.tv/embed?clip=psymarth/InquisitiveSharkNotLikeThis&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Interesting Ganondorf fights in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Glass Ganon</td>
						<td>MrBubbleSkp</td>
						<td><a href="https://clips.twitch.tv/embed?clip=mrbubbleskp/MushyCamelMau5&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Interesting Ganondorf fights in no damage %.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Killink Spree!</td>
						<td>Exodus</td>
						<td><a href="https://clips.twitch.tv/embed?clip=exodus122/ShinyLyrebirdDansGame&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Asking Navi about ennemies type.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Killink Spree!</td>
						<td>MikeKatz45</td>
						<td><a href="https://clips.twitch.tv/embed?clip=mikekatz45/PreciousShrimpPeoplesChamp&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Fast fire temple.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Killink Spree!</td>
						<td>OCS</td>
						<td><a href="https://youtu.be/aK6Gxf7NVGE" target="_blank">Youtube</a></td>
						<td class="hidden-xs">Red Bubble.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Killink Spree!</td>
						<td>Gombill</td>
						<td><a href="https://clips.twitch.tv/embed?clip=gombill/CuriousFinchStoneLightning&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Amazing bowling snipe.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Killink Spree!</td>
						<td>Exodus</td>
						<td><a href="https://clips.twitch.tv/embed?clip=exodus122/PoisedNarwhalBionicBunion&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Close call with the Dinolfos.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Killink Spree!</td>
						<td>Blinkzy</td>
						<td><a href="https://clips.twitch.tv/embed?clip=blinkzy/ObedientClamPRChase&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Forgetting Mirror Shield.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Thundrio</td>
						<td><a href="https://clips.twitch.tv/embed?clip=thundrio/EncouragingEelMingLee&autoplay=false" target="_blank">Clip</a></td>
						<td class="hidden-xs">Thundrio and his buddies sweet setup.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>DannyB</td>
						<td><a href="https://clips.twitch.tv/dannyb21892/GlamorousKuduRedCoat" target="_blank">Clip</a></td>
						<td class="hidden-xs">Ground jump from a pot.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Sniping</td>
						<td><a href="https://clips.twitch.tv/sniping117/LovelyHawkWutFace" target="_blank">Clip</a></td>
						<td class="hidden-xs">Wrong warping to Gerudo Training Grounds from Dodongo's Cavern.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Hyperion64</td>
						<td><a href="https://clips.twitch.tv/hyperion64/SplendidTapirSoBayed" target="_blank">Clip</a></td>
						<td class="hidden-xs">Hyperion64 hover over the gate but getting caught by guard.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Exodus</td>
						<td><a href="https://clips.twitch.tv/exodus122/WrongFinchPRChase" target="_blank">Clip</a></td>
						<td class="hidden-xs">Exodus lucky rock.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Marco</td>
						<td><a href="https://clips.twitch.tv/marco8641/UninterestedToadMingLee" target="_blank">Clip</a></td>
						<td class="hidden-xs">Moving around the gerudo fortress as Child.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>DannyB</td>
						<td><a href="https://clips.twitch.tv/dannyb21892/GorgeousWormJKanStyle" target="_blank">Clip</a></td>
						<td class="hidden-xs">Moving around the gerudo fortress as Child.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Menou</td>
						<td><a href="https://youtu.be/iivh0SC75D0" target="_blank">Youtube</a></td>
						<td class="hidden-xs">MGS.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Drewdrewbro</td>
						<td><a href="https://clips.twitch.tv/drewdrewbro/FamousReindeerTinyFace" target="_blank">Clip</a></td>
						<td class="hidden-xs">Link was truly hyped for Halloween and was really proud of his costume.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Blinkzy</td>
						<td><a href="https://clips.twitch.tv/blinkzy/DifficultHedgehogKappaRoss" target="_blank">Clip</a></td>
						<td class="hidden-xs">Bombchu hit switch in the switch room with the Stalfos.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>GmanXXXX</td>
						<td><a href="https://clips.twitch.tv/gmanxxxx/PoisedHornetUleetBackup" target="_blank">Clip</a></td>
						<td class="hidden-xs">Bombchu hit switch in the switch room with the Stalfos.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>GmanXXXX</td>
						<td><a href="https://clips.twitch.tv/gmanxxxx/PoisedHornetUleetBackup" target="_blank">Clip</a></td>
						<td class="hidden-xs">Bombchu hit switch in the switch room with the Stalfos.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Oxxyga</td>
						<td><a href="https://clips.twitch.tv/oxxyga/SillyHedgehogRaccAttack" target="_blank">Clip</a></td>
						<td class="hidden-xs">Bomb hover in the switch room with the Stalfos.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Amateseru</td>
						<td><a href="https://clips.twitch.tv/amateseru/HealthySkunkBORT" target="_blank">Clip</a></td>
						<td class="hidden-xs">This is how real men cross that room on.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Hyperion64</td>
						<td><a href="https://clips.twitch.tv/hyperion64/GorgeousEelPicoMause" target="_blank">Clip</a></td>
						<td class="hidden-xs">Watch out for the Green Bubble.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Valientlink</td>
						<td><a href="https://www.twitch.tv/valientlink/v/98109913" target="_blank">Highlight</a></td>
						<td class="hidden-xs">Vineclip</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Blinkzy</td>
						<td><a href="https://clips.twitch.tv/blinkzy/DarkJellyfishPermaSmug" target="_blank">Clip</a></td>
						<td class="hidden-xs">Skip Silver Ruby</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>PhoenixFeather</td>
						<td><a href="https://clips.twitch.tv/phoenixfeather1/KindFerretFuzzyOtterOO" target="_blank">Clip</a></td>
						<td class="hidden-xs">Skulltula in the silver rupee room.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Sniping</td>
						<td><a href="https://clips.twitch.tv/sniping117/AliveMonkeyPRChase" target="_blank">Clip</a></td>
						<td class="hidden-xs">Megaflipped to the Lost Woods bridge.</td>
					</tr>
					<tr>
						<td>#1</td>
						<td>Trick Or Treat</td>
						<td>Sniping</td>
						<td><a href="https://clips.twitch.tv/sniping117/ComfortableWallabyNotATK" target="_blank">Clip</a></td>
						<td class="hidden-xs">Skulltula race classic moments.</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>