<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS - Leaderboard</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/site.css">
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		 <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Leaderboard</a>
            </div>
            <div class="navbar-collapse collapse">  
                <ul class="nav navbar-nav">
					<li><a href="/challenges">Challenges</a></li>
					<li><a href="/information">Information</a></li>
					<li><a href="/revision">Race Revision</a></li>
					<li><a href="/highlights">Highlights</a></li>
					<li><a href="/halloffame">Hall of Fame</a></li>
					<li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
	</div>
	<div class="container body-content">
		<div id="backgroundDiv"></div>
		<div class="updiv row hidden-xs text-center">
			<h1 class="title">OoT Championship Series - Season 1 Leaderboard</h1>
		</div>
		<div class="updiv row">
			<div>
				<table class="table table-bordered table-responsive table-striped">
					<thead>
						<tr class="table-header">
							<th onclick="sort_table(people, 0, asc1, true); asc1 *= -1; asc2 = 1; asc3 = 1; asc4 = 1; asc5 = 1;">Rank<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
							<th onclick="sort_table(people, 1, asc2, false); asc2 *= -1; asc3 = 1; asc1 = 1; asc4 = 1; asc5 = 1;">Player<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
							<th onclick="sort_table(people, 2, asc3, false); asc3 *= -1; asc1 = 1; asc2 = 1; asc4 = 1; asc5 = 1;" class="hidden-xs">Country <span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
							<th onclick="sort_table(people, 3, asc4, true); asc4 *= -1; asc1 = 1; asc2 = 1; asc3 = 1; asc5 = 1;">Score<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
							<th onclick="sort_table(people, 4, asc5, true); asc5 *= -1; asc1 = 1; asc2 = 1; asc4 = 1; asc3 = 1;" class="hidden-xs"># of Races<span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
						</tr>
					</thead>
					<tbody id="ScoresboardTable">

					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
</body>
<script>
	var people, 
    asc1 = 1,
    asc2 = 1,
    asc3 = 1,
    asc4 = 1,
    asc5 = 1;

	$.ajax({
		type: 'GET',
		url: "http://www.ootchampionship.com/scoresboard/scoresboard.xml",
		dataType: "xml"
	}).done(function (data) {

		$(data).find('Scoresboard').each(function(){
			var Scoretable = $(this).find("Score");
			$(this).find("Score").sort(function (a, b) {
				return parseFloat(b.PScore) - parseFloat(a.PScore);
			});
			
			var cpt = 0;
			while (cpt < Scoretable.length) {
				$('#ScoresboardTable').append("<tr><td><b>" + (Scoretable[cpt].getElementsByTagName("Rank")[0].innerHTML) + '</b></td><th><a target="_blank" href="' + Scoretable[cpt].getElementsByTagName("Twitch")[0].innerHTML + '">' + Scoretable[cpt].getElementsByTagName("Player")[0].innerHTML + '</a></th><td class="hidden-xs"><b>' + Scoretable[cpt].getElementsByTagName("Country")[0].innerHTML + "</b></td><td><b>" + Scoretable[cpt].getElementsByTagName("PScore")[0].innerHTML + '</b></td><td class="hidden-xs"><b>' + Scoretable[cpt].getElementsByTagName("NRace")[0].innerHTML + "</b></td></tr>");
				cpt++;
			}
			people = document.getElementById("ScoresboardTable");
			sort_table(people, 0, asc1, true);
	});

	}).fail(function (jqXHR, textStatus, errorThrown) { });
			 
			 
	function sort_table(tbody, col, asc, number) {
		var rows = tbody.rows,
			rlen = rows.length,
			arr = new Array(),
			i, j, cells, clen;
			// fill the array with values from the table
			for (i = 0; i < rlen; i++) {
				cells = rows[i].cells;
				clen = cells.length;
				arr[i] = new Array();
				for (j = 0; j < clen; j++) {
					arr[i][j] = cells[j].innerText;
				}
			}
			if (!number){
				// sort the array by the specified column number (col) and order (asc)
				arr.sort(function (a, b) {
					return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
				});
			}
			else{
				// sort the array by the specified column number (col) and order (asc)
				arr.sort(function (a, b) {
					return (parseInt(a[col]) == parseInt(b[col])) ? 0 : ((parseInt(a[col]) > parseInt(b[col])) ? asc : -1 * asc);
				});
			}

			var myMap = new Map();

			for (cpt = 0; cpt < rlen; cpt++) {
				for (v = 0; v < rlen; v++){
					if (rows[cpt].cells[1].innerText === arr[v][1]) {
						var temp = rows[cpt].cells[1].innerHTML
						myMap.set(v, temp);
					}
				}
			}
			// replace existing rows with new rows created from the sorted array
			for (i = 0; i < rlen; i++) {
				rows[i].innerHTML = "<td><b>" + arr[i][0] + '</b></td><th>' + myMap.get(i) + '</th><td class="hidden-xs"><b>' + arr[i][2] + "</b></td><td><b>" + arr[i][3] + '</b></td><td class="hidden-xs"><b>' + arr[i][4] + "</b></td>";
			}
		}
</script>
</html>