<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS</title>
  <% include partials/head %>
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  <div class="backgroundDiv"></div>
  <% include partials/header %>
   <div class="container body-content">
	<div class="main-title text-center">
		<div>
			<div class="sub">Ocarina of Time</div>
			<div>Championship&nbsp;Series</div>
		  </div>
		</div>
		<div style="padding-top:50px;" class="embedly-card text-center">
			<iframe style="box-shadow: 2px 3px 5px black;" width="640" height="360" src="https://www.youtube.com/embed/YiN1AdOjcfE?ecver=2" frameborder="0" allowfullscreen></iframe>
		</div>
    </div>
	<div style="font-size:32px; padding-top:50px;" class="title text-center"> 
        <div>The Ocarina of Time Championship Series is back for its second season! </div>
    </div>
  </div>
</body>

</html>
