<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Information</title>
  <% include partials/head %>
</head>

<body>
  <div id="backgroundDiv"></div>
  <% include partials/header %>
    <div class="container body-content">
      <div id="backgroundDiv"></div>
      <div class="updiv row hidden-xs text-center">
        <h1 class="title">
          OoT Championship Series - Information
        </h1>
      </div>
      <div class="updiv row table-padding">
      <div>
		<table style="background-color:white;" class="table table-bordered table-responsive" id="ScoresboardTable">
		  <thead>
			<tr class="table-header">
				<th colspan="1">
					<h3 class="h-marginfix text-center title">What is OCS?</h3>
				</th>
			</tr>
		  </thead>
		  <tr>
			<td>
				<h2 class="text-center">
					<strong>
						The goal for OCS is to have a way for newer players to enjoy big challenge races 
						<br />where they have to think and route on the fly but without having to do some crazy research to figure out obscure strats. 
						<br /><br />
						At the same time, it is a good place for experienced <br />players to have good healthy competition.
						<br />
					<strong/>
				<h2/>
			</td>
		  </tr>
		</table>
		<table style="background-color:white;" class="table table-bordered table-responsive" id="ScoresboardTable">
		  <tr>
			<td>
				<h2 class="text-center">
					<strong>
					The first season was a success and featured some of the biggest <br />ocarina of time races in the last few years.<br /><br />
					The second installment will continue in the path of the first one and try to bring new original and fun ways to race the game. <br /><br />
					This is not your regular No IM/WW race to get SRL points, this is to determine who is the best all-around Ocarina of Time player!
					<strong/>
				<h2/>
			</td>
		  </tr>
		</table>
		<table style="background-color:white;" class="table table-bordered table-responsive" id="ScoresboardTable">
		  <thead>
			<tr class="table-header">
				<th colspan="1">
					<h3 class="h-marginfix text-center title">Regular season</h3>
				</th>
			</tr>
		  </thead>
		  <tr>
			<td>
				<h2 class="text-center">
					<strong>
						The format for the regular season will have a couple changes. <br /><br />
						First of all, there will be 12 races in total instead of 10. <br /><br />
						The season will be separated in 4 quarters of 3 races.  <br /><br />
						The races will be on every Sunday at 3PM EDT <br /> and there will be a week off in between quarters.
					<strong/>
				<h2/>
			</td>
		  </tr>
		</table>
				<table style="background-color:white;" class="table table-bordered table-responsive" id="ScoresboardTable">
		  <thead>
			<tr class="table-header">
				<th colspan="1">
					<h3 class="h-marginfix text-center title">Playoff format</h3>
				</th>
			</tr>
		  </thead>
		  <tr>
			<td>
				<h2 class="text-center">
					<strong>
						The playoffs will be completely different this time around. <br /><br />
						The 16 players that finish with the most points at the end of the 12 races will qualify for the playoffs and will compete in a double elimination bracket. <br /><br />
						This bracket will be seeded according to their season ranking (1vs16, 2vs15 etc). <br /><br />
						This is not any ordinary OoT tournament, these races will be 2 out of 3 and the players will pick and counterpick what they will be racing out of 6 different battle modes.  
						<br /><br />
						More information on this will come as the season progresses but a lot more people will qualify for the playoffs this time! <br /><br />
					<strong/>
				<h2/>
			</td>
		  </tr>
		</table>
    </div>
</div>
</body>
</html>
