<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS - Information</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/site.css">
<script src="script/OpaqueNavbar.js"></script>
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top opaque-navbar" role="navigation">
		 <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Leaderboard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
								<li><a href="/challenges">Challenges</a></li>
								<li><a href="/information">Information</a></li>
								<li><a href="/revision">Race Revision</a></li>
								<li><a href="/highlights">Highlights</a></li>
								<li><a href="/halloffame">Hall of Fame</a></li>
								<li><a href="/season1">Season 1</a></li>
								<li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
	</div>
	<div class="container body-content">
		<div id="backgroundDiv"></div>
		<div class="updiv row hidden-xs text-center">
			<h1 class="title">
				OoT Championship Series - Information
			</h1>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table style="background-color:white;" class="table table-bordered table-responsive" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title">OCS Season Race</h3></th>
						</tr>
					</thead>
					<tr>
						<td><h3 class="h-marginfix"><strong>
						Basically, this is a real time race of OoT.
						<br /><br />
						Everybody waits in chat for the signal, and at the "go", they all begin a new file.
						<br /><br />
						The catch? The players learn the goal of the run only while waiting for the intro cutscene to finish. This means there are no pre-planned routes or practicing sections: you have to make up and execute your path on the fly.
						<br /><br />
						Don't worry if you aren't the most knowledgeable in OoT — without premeditation, it is unlikely that obscure tricks will be thought of and used. Basically, all you need is decent glitch knowledge.
						<br /><br />
						For example, the races will be more like: <a target="_blank" href="http://imgur.com/ptPfXqI">Example #1</a> than  <a target="_blank" href="http://imgur.com/5OVtkza ">Example #2</a>.
						<br /><br />

						<table align="center" style="border-spacing: 10px; border-collapse: separate;">
							<thead>
								<tr class="table-header">
									<th colspan="1"><h3 class="h-marginfix text-center title">Example #1</h3></th>
									<th colspan="1"><h3 class="h-marginfix text-center title">Example #2</h3></th>
								</tr>
							</thead>
							<tr>
								<td><img src="http://i.imgur.com/ptPfXqI.jpg" alt="" style="width:auto;height:300px;"></td>
								<td><img src="http://i.imgur.com/5OVtkza.png" alt="" style="width:auto;height:300px;"></td>
							</tr>
						</table>


						<br /><br />
						The OCS race will be hold every 2 weeks, on sunday, at 3:00 PM ET. When the best time would be is up for discussion, as we want to incorporate as many people as possible.
						<br /><br />
						Finaly, the leaderboard will be hosted on this website and points will be distributed by race result.
						<br /><br />
						For more information, see the "Race Result Example" Table at the bottom of the page.
						</strong></h3></td>
					</tr>
					<thead>
						<tr class="table-header">
							<th><h3 class="text-center h-marginfix"><strong>Next race: August 27 at 3PM EDT</strong> </h3></th>
						</tr>
					</thead>
				</table>
				<table style="background-color:white;" class="table table-bordered table-responsive" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title">OCS Playoff Race</h3></th>
						</tr>
					</thead>
					<tr>
					<td><h3 class="h-marginfix"><strong>
						After the 10 first races, the top 5 leaders in points will face each other in the playoff round.
						<br /><br />
						For each playoff race, the player that finishes in last place will be eliminated and the process will repeat until only 2 players remain.
						<br /><br />
						The top 2 players will face each other in the grand finals.
					</tr>
				</table>
			</div>
		</div>
		<div class="updiv row">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Race Result Example></h3></th>
						</tr>
						<tr class="table-header">
							<th>Position</th>
							<th>Score</th>
						</tr>
					</thead>
					<tr><td>#1</td><td>100pts</td></tr>
					<tr><td>#2</td><td>75pts</td></tr>
					<tr><td>#3</td><td>60pts</td></tr>
					<tr><td>#4</td><td>50pts</td></tr>
					<tr><td>#5</td><td>40pts</td></tr>
					<tr><td>#6</td><td>35pts</td></tr>
					<tr><td>#7</td><td>30pts</td></tr>
					<tr><td>#8</td><td>28pts</td></tr>
					<tr><td>#9</td><td>26pts</td></tr>
					<tr><td>#10</td><td>24pts</td></tr>
					<tr><td>#11</td><td>22pts</td></tr>
					<tr><td>#12</td><td>20pts</td></tr>
					<tr><td>#13</td><td>18pts</td></tr>
					<tr><td>#14</td><td>16pts</td></tr>
					<tr><td>#15</td><td>14pts</td></tr>
					<tr><td>#16</td><td>12pts</td></tr>
					<tr><td>#17</td><td>10pts</td></tr>
					<tr><td>#18</td><td>8pts</td></tr>
					<tr><td>#19</td><td>6pts</td></tr>
					<tr><td>#20</td><td>5pts</td></tr>
					<tr><td>#etc</td><td>5pts</td></tr>
					<tr><td>#Forfeit</td><td>0pts</td></tr>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>
