<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS - Information</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/site.css">
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		 <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Leaderboard</a>
            </div>
            <div class="navbar-collapse collapse">  
                <ul class="nav navbar-nav">
					<li><a href="/challenges">Challenges</a></li>
					<li><a href="/information">Information</a></li>
					<li><a href="/about">Highlights</a></li>
					<li><a href="/contact">Hall of Fame</a></li>
					<li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
	</div>
	<div class="container body-content">
		<div id="backgroundDiv"></div>
		<div class="updiv row hidden-xs text-center">
			<h1 class="title">
				OoT Championship Series - Information
			</h1>
		</div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header">
							<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Season League</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<th><h3 class="h-marginfix text-center"><strong>10 races, every 2 weeks (starting September 18 2016)</strong></h3></th>
					</tr>
					<tr>
						<th><h3 class="h-marginfix text-center"><strong>All skill levels are welcome, anybody should be able to finish all the goals</strong></h3></th>
					</tr>
					<tr>
						<th><h3 class="h-marginfix text-center"><strong>For example, the races will be more like: <a target="_blank" href="http://imgur.com/ptPfXqI">http://imgur.com/ptPfXqI</a> than <a target="_blank" href="http://imgur.com/5OVtkza ">http://imgur.com/5OVtkza </a></strong></h3></th>
					</tr>
					<tr>
						<th><h3 class="h-marginfix text-center"><strong>Races will be done on Speedrunslive and streaming is required</strong></h3></th>
					</tr>
					<tr>
						<th><h3 class="h-marginfix text-center"><strong><a target="_blank" href="~/Content/Images/Challenges/OoTChampionship.png">Image Version</a></strong></h3></th>
					</tr>
					<thead>
						<tr class="table-header">
							<th><h3 class="text-center h-marginfix"><strong>Next race:</strong> November 27, 2016 at 3:00 PM ET</h3></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div>
			<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
				<thead>
					<tr class="table-header">
						<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Final League</strong></h3></th>
					</tr>
				</thead>
				<tr>
					<th><h3 class="h-marginfix text-center"><strong>Top 5 leaders in points will face each other in the finals</strong></h3></th>
				</tr>
				<tr>
					<th><h3 class="h-marginfix text-center"><strong>The player that finishes in last place will be eliminated</strong></h3></th>
				</tr>
				<tr>
					<th><h3 class="h-marginfix text-center"><strong>Process repeats until only 2 players remain</strong></h3></th>
				</tr>
				<tr>
					<th><h3 class="h-marginfix text-center"><strong>Top 2 players face each other in the grand finals</strong></h3></th>
				</tr>
			</table>
		</div>
		<div class="updiv row">
			<div>
				<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
					<thead>
						<tr class="table-header text-center">
							<th colspan="2"><h4 class="h-marginfix">Race result example</h4></th>
						</tr>
						<tr class="table-header">
							<th>Position</th>
							<th>Score</th>
						</tr>
					</thead>
					<tr><td>#1</td><td>100pts</td></tr>
					<tr><td>#2</td><td>75pts</td></tr>
					<tr><td>#3</td><td>60pts</td></tr>
					<tr><td>#4</td><td>50pts</td></tr>
					<tr><td>#5</td><td>40pts</td></tr>
					<tr><td>#6</td><td>35pts</td></tr>
					<tr><td>#7</td><td>30pts</td></tr>
					<tr><td>#8</td><td>28pts</td></tr>
					<tr><td>#9</td><td>26pts</td></tr>
					<tr><td>#10</td><td>24pts</td></tr>
					<tr><td>#11</td><td>22pts</td></tr>
					<tr><td>#12</td><td>20pts</td></tr>
					<tr><td>#13</td><td>18pts</td></tr>
					<tr><td>#14</td><td>16pts</td></tr>
					<tr><td>#15</td><td>14pts</td></tr>
					<tr><td>#16</td><td>12pts</td></tr>
					<tr><td>#17</td><td>10pts</td></tr>
					<tr><td>#18</td><td>8pts</td></tr>
					<tr><td>#19</td><td>6pts</td></tr>
					<tr><td>#20</td><td>5pts</td></tr>
					<tr><td>#etc</td><td>5pts</td></tr>
					<tr><td>#Forfeit</td><td>0pts</td></tr>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>