<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Leaderboard</title>
  <% include partials/head %>
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/afterparty.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

	<body>
	  <div class="backgroundDiv"></div>
	  <% include partials/header %>
	   <div class="container body-content">
	   		</br></br>
			<div class="title" style="text-align:center;">
				<span class="display2">
					Season 2 Leaderboard
				</span>
		   </div>
			</br></br>
			<div class="updiv row">
			  <div>
				<table class="table table-bordered table-responsive table-striped">
				  <thead>
					<tr class="table-header">
					  <th class="leaderboard-td">Rank</th>
					  <th>Player</th>
					  <th>Country</th>
					  <th>Score</th>
					  <th># of Races</th>
					</tr>
				  </thead>
				  <tbody id="ScoresboardTable">

				  </tbody>
				</table>
			  </div>
			</div>
		  </div>
	</body>
	<script>
		var Avatars = <%- JSON.stringify(data) %>;
	</script>
	<script src="script/leaderboard.js"></script>
</html> 