<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Leaderboard</title>
  <% include partials/head %>
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  <div class="backgroundDiv"></div>
  <% include partials/header %>
   <div class="container body-content">
    
  </div>
</body>

</html>
