<!DOCTYPE html>
<html>
<head>
	<title>Ocarina of Time Bingo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../bingorace.css">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script> <!-- google libraries API -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> <!-- jquery -->
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
	<script src="../script/querystring.js"></script>
	<script type="text/javascript">
		var srl = {}; // javascript holder
		function setcolor() {
			var pathArray = window.location.href.split('/');
			if (pathArray[3].toLowerCase() == 'races') { return 'racesborder'}
			else if (pathArray[3].toLowerCase() == 'leaderboards') { return 'leaderboardsborder' }
			else if (pathArray[3].toLowerCase() == 'channel') { return 'channelborder' }
			else if (!pathArray[3]) { return 'streamsborder' }
			else { return 'defaultborder' }
		}
	</script>
</head>
<body>
<div id="wrap">
	<div id="main">
		<div class="container2" id="pageContent">
			<script src="../script/bingosetup.js" type="text/javascript"></script>	
			<div id="bingoPage">
				<div id="results">
					<table id="bingo">
						<tr>
							<td id="tlbr" class="popout1">TL-BR</td>
							<td id="col1" class="popout1">COL1</td>
							<td id="col2" class="popout1">COL2</td>
							<td id="col3" class="popout1">COL3</td>
						</tr>
						<tr>
							<td id="row1" class="popout1">ROW1</td>
							<td class="row1 col1 tlbr" id="slot1">8 Songs</td> 
							<td class="row1 col2" id="slot2">4 Boss Keys</td> 
							<td class="row1 col3 bltr" id="slot3">7 Compasses</td> 
						</tr>
						<tr> 
							<td id="row2" class="popout1">ROW2</td>
							<td class="row2 col1" id="slot6">7 Maps</td> 
							<td class="row2 col2 tlbr bltr" id="slot7">20 Different Overworld Skulltulas</td> 
							<td class="row2 col3" id="slot8">Clear 8 Silver Rupee Rooms</td> 
						</tr>
						<tr> 
							<td id="row3" class="popout1">ROW3</td>
							<td class="row3 col1 bltr" id="slot11">10 Unused Keys From Dungeons</td> 
							<td class="row3 col2" id="slot12">9 Hearts</td> 
							<td class="row3 col3 tlbr" id="slot13">7 Different Bottled Contents</td> 
						</tr>
						<tr>
							<td id="bltr" class="popout1">BL-TR</td>
						</tr>
					</table>
				</div>
			</div>
			<div>
				<h1 style="font-size:30px;">Goal:</h1>
				<h3>
				Pick the row, column or diagonal that you will NOT complete. </br> </br>
				Complete the remaining 6 goals.
				<h3/>
				<h1 style="font-size:30px;">Information:</h1>
				<h3>
				- A dungeon is an area that has a map and a compass. </br> </br> 
				- The unused small keys must be obtained from inside a dungeon.  (Water Temple key RBA does not count towards the goal) </br> </br>
				- Any gold skulltula that is not inside a dungeon is an overworld gold skulltula. </br></br>
				- Ruto's Letter is a bottled content. </br> </br>
				- An empty bottle is not a bottled content. </br> </br>
				- For silver rupee puzzles the goal is completed once you get the last silver rupee in the room. </br> </br>
				<h3>
				</div>
		</div>
	</div>
</div>
	<script type="text/javascript">
	$('footer').addClass( setcolor());
	</script>
</body>
</html>
