<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS - Recap Race #1</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/site.css">
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			 <div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">Leaderboard</a>
				</div>
				<div class="navbar-collapse collapse">  
					<ul class="nav navbar-nav">
						<li><a href="/challenges">Challenges</a></li>
						<li><a href="/information">Information</a></li>
						<li><a href="/revision">Race Revision</a></li>
						<li><a href="/highlights">Highlights</a></li>
						<li><a href="/halloffame">Hall of Fame</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container body-content">
			<div id="backgroundDiv"></div>
			<div class="updiv row table-padding">
				<div>
					<table class="table table-bordered table-responsive" id="ScoresboardTable">
						<thead>
							<tr class="table-header">
								<th><h3 class="h-marginfix text-center title"><strong>Race #1 - The Skulltula hunt</strong></h3></th>
							</tr>
						</thead>
						<tr>
							<td class="table-customstyle">
								<p class="lead" style="font-size:20px">
									The first OCS race had a pretty straight-forward goal: get 60 gold skulltulas. No restrictions except you couldn't dupe skulltulas. <br />
								</p>
								<p style="font-size:20px">
									This made it so that routing was probably the most important factor in this race. We tried to implement something new in the Skulltula counter which was a tool made by Prettybigjoe. Players could add up their Skulltulas as they got them which linked to a leaderboard that was shown on the commentary stream so we could track progress. It's the first time something like this was used but we will probably use it again in future challenges. The commentary stream ended up pretty messy but that will be fixed next time so the whole thing can be a lot clearer.<br /><br />

									The reason the number was 60 skulltulas was that 50 would mean that you can easily just stay child and finish the goal. There are 50 skulltulas that you can get pretty fast as child, Still, with 60 skulltulas people could have chosen to do the goal fully as child Link and skip Master Sword cutscene and picking up Hookshot. Forest Temple as child was an option, same with Spirit Temple, Ice Cavern or even a couple Skulltulas in Shadow Temple. This would also mean that you need to do Dodongo's Cavern as child.<br /><br />

									I expected at least one person to stay child for the entirety of the run, but everyone ended up picking up the Master Sword (even Psymarth!) Most people ended up getting around 30-40 skulltulas in their child 1 segment and getting the rest once they were adult. Amateseru and Exodus did exactly that and completely focused on the Skulltula hunting. Their child 1 segment was pretty much just getting bombchus, boomerang and grabbing whatever tokens they thought was fastest. The adult segment was then just getting hookshot, hover boots and finishing the rest. They decided to not grab Zelda's Lullaby or Sun's Song and to find other ways to deal with the day and night cycle. They went for the most "simple" but effective route since they finish 1st and 2nd with only a 9 second difference.<br /><br />

									Sniping finished in 3rd place around a minute behind the first two, but he opted for a very different route. He started the same as most, getting Bombchus and Boomerang but he ended up getting Zelda's Lullaby and Sun's Song as child so that meant he wouldn't have to wait for night at all anymore if needed. He also decided to skip Hover Boots. Of course, people will always make mistakes, but I think it's interesting that he only finished 1 minute behind the top two with such a different route.<br /><br />

									Another route option was to go straight to Master Sword after getting your bottle, RBA up to Poacher's Saw to obtain warp songs and Zelda's Lullaby, get Sun's Song and then go back in time to have an easier time grabbing a lot of Skulltulas with all these tools. Giuocob, Moose, Tashman and Aliensqueakytoy opted for this strategy and Giuocob got the best time out of these with a 1:57.<br /><br />

									It was interesting to see how a couple runners ended up having to get the Lake Hylia Skulltula in the tree without Longshot as their last token. We saw Alaris, MikeKatz and Matttinthehat (which was actually his 61th token!) do that and it just seemed so frustrating after getting 59 Skulltulas that now you have to wait for night and then go for a precise trick that is not always easy under pressure, but they both ended up getting it although Alaris lost a place to it.<br /><br />

									The award for the most original route goes to Flanthis since he's the only one that got Longshot, he skipped Boomerang and he even got a Skulltula in Fire Temple It can be easy to plan your whole route but then as soon as you forget one token the whole thing crashes down but getting the first Skulltula in Fire Temple was a good backup since at least here he didn't have to worry about any day/night cycle.<br /><br />

									The big story was the 1st place snipe by Amateseru but it wouldn't be an OoT race without a snipe at the very end too. It blows my mind that after 3 hours and 60 skulltulas, people still find ways to finish within seconds of each other like what happened with 2dollargargoyle beating Moosecrap by 31 seconds.<br /><br />

									All in all, I'm happy with how the first race went. I want to clarify that the rest of the goals will still not be super complicated and deep puzzles. I want the races to feel like races more than puzzles while still keeping the aspect of routing and quick decision making. If you missed the first race, don't worry there's still 9 more to go and even if you have high goals, you can still make it into top 5.<br /><br />
								</p>
							</td>
					</table>
				</div>
			</div>
			<div class="updiv row table-padding">
				<div>
					<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
						<thead>
							<tr class="table-header">
								<th colspan="1"><h3 class="h-marginfix text-center title"><strong>Top 5 moments from Race #1</strong></h3></th>
							</tr>
						</thead>
						<tr>
							<th><h3 class="h-marginfix text-center"><strong>5 - Tob dying to the skulltula in graveyard</strong></h3></th>
						</tr>
						<tr>
							<td><h3 class="text-center"><iframe src="https://clips.twitch.tv/embed?clip=tob3000/RelievedStarlingKappa&autoplay=false" width="640" height="360" frameborder="1" scrolling="no" allowfullscreen="true"></iframe></h3></td>
						</tr>
						<tr>
							<th><h3 class="h-marginfix text-center"><strong>4 - Moose diving to his death</strong></h3></th>
						</tr>
						<tr>
							<td><h3 class="text-center"><iframe src="https://clips.twitch.tv/embed?clip=moose1137/ThankfulAlbatrossSMSkull&autoplay=false" width="640" height="360" frameborder="1" scrolling="no" allowfullscreen="true"></iframe></h3></td>
						</tr>
						<tr>
							<th><h3 class="h-marginfix text-center"><strong>3 - Matt drowning in the lab</strong></h3></th>
						</tr>
						<tr>
							<td><h3 class="text-center"><iframe src="https://clips.twitch.tv/embed?clip=matttinthehat/GoodOtterTriHard&autoplay=false" width="640" height="360" frameborder="1" scrolling="no" allowfullscreen="true"></iframe></h3></td>
						</tr>
						<tr>
							<th><h3 class="h-marginfix text-center"><strong>2 - Alan vineclipping in Jabu</strong></h3></th>
						</tr>
						<tr>
							<td><h3 class="text-center"><iframe src="https://clips.twitch.tv/embed?clip=aliensqueakytoy/ObedientPartridgeHotPokket&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe></h3></td>
						</tr>
						<tr>
							<th><h3 class="h-marginfix text-center"><strong>1 - Matt realizing he had 61 skulltulas after having trouble getting up the tree in Lake Hylia</strong></h3></th>
						</tr>
						<tr>
							<td><h3 class="text-center"><iframe src="https://clips.twitch.tv/embed?clip=matttinthehat/TameLyrebirdDuDudu&autoplay=false" width="640" height="360" frameborder="1" scrolling="no" allowfullscreen="true"></iframe></h3></td>
						</tr>
						<tr>
							<th><h3 class="h-marginfix text-center"><strong>Bonus - Tashman getting the first skulltula  </strong></h3></th>
						</tr>
						<tr>
							<td><h3 class="text-center"><iframe src="https://clips.twitch.tv/embed?clip=tashman91/DoubtfulBaboonVolcania&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe></h3></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="updiv row table-padding">
				<div>
					<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
						<thead>
							<tr class="table-header">
								<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Random Stats</strong></h3></th>
							</tr>
						</thead>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>25/25 Got Hookshot</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Skipping hookshot wouldn't be faster</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>23/25 Got Hover Boots</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>3rd place skipped Hover Boots</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>22/25 Got Boomerang</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Highest placing for no boomerang was 12th</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>11/25 Got Sun's Song</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>3rd and 9th are the highest placings by people who got sun's song</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>1/25 Did ganondoor</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>While already having bombchus, probably to skip RBA</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>5/25 Went back in time</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Highest placing for back in time was 9th</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>2/25 Used a bow	</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>One got Fairy Bow, the other Ice Arrows</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Total Skulltula:</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1501 Tokens</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Total Time Played:</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>54:49:09</strong></h4></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="updiv row table-padding">
				<div>
					<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
						<thead>
							<tr class="table-header text-center">
								<th colspan="5"><h3 class="text-center h-marginfix">Skulltula Stats</h3></th>
							</tr>
							<tr class="table-header">
								<th><h4 class="h-marginfix text-center title"><strong>Area</strong></h4></th>
								<th><h4 class="h-marginfix text-center title"><strong>Location</strong></h4></th>
								<th><h4 class="h-marginfix text-center title"><strong>Child/Adult</strong></h4></th>
								<th><h4 class="h-marginfix text-center title"><strong>/25</strong></h4></th>
								<th><h4 class="h-marginfix text-center title"><strong>Top 3</strong></h4></th>
							</tr>
						</thead>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Death Mountain Trail</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Behind bombable wall</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Deku Tree</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Basement wall</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Deku Tree</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Basement vines</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Dodongo's Cavern</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Keese room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Dodongo's Cavern</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Vines above staircase</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Hyrule Castle</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Tree</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Kakariko Village</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Tree</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Kakariko Village</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Behind Bazaar</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Kakariko Village</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Lookout tower</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Kakariko Village</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Construction site</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Kakariko Village</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Behind Skulltula House</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Kokiri Forest</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Soft Soil near Kokiri Shop</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Kokiri Forest</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Twin's House</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Lost Woods</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Soft Soil near Bridge</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Market</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Room with all the pots</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>25</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Forest Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>First room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>24</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Ganon's Castle</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Near the stone arch</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>24</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Goron City</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Central upper platform</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>24</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Jabu-Jabu's Belly</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Basement room with rising water</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>24</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Jabu-Jabu's Belly</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Main basement room 1</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>24</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Jabu-Jabu's Belly</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Main basement room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>24</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Kokiri Forest</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Behind Know-It-All Brothers' house</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>24</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Sacred Forest Meadow</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Right wall</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>24</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Deku Tree</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Compass room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>23</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Forest Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Main room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>23</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Graveyard</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Soft soil</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>23</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Kakariko Village</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Roof of Impa's House</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>23</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Death Mountain Trail</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Rock near Goron City</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>22</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Lost Woods</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Soft Soil near Business Scrubs</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>22</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Dodongo's Cavern</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Alcove above staircase</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>21</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Forest Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Right Courtyard</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>21</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Graveyard</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Wall behind Dampe's house</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>21</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Zora's Fountain</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Wall near giant log</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>21</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Zora's River</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Ladder</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>21</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Jabu-Jabu's Belly</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Room before boss</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>20</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Lost Woods</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Near forest stage</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>20</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Dodongo's Cavern</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Room after lighting the eyes</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>19</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Forest Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Left courtyard</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>19</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Hyrule Field</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Grotto near Kakariko</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>19</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Ice Cavern</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Compass room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>19</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Ice Cavern</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Spinning blade room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>19</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Ice Cavern</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Block puzzle room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>18</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Zora's River</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Above the bridge</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>18</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Bottom of the Well</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Deku Baba room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>17</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Death Mountain Trail</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Rock on the way up to magic</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>17</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Dodongo's Cavern</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Baby Dodongo corridor</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>17</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Lake Hylia</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Laboratory wall</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>17</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Lake Hylia</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Soft soil</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>17</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Zora's Domain</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Near frozen waterfall</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>17</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Zora's Fountain</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Tree</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>17</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Bottom of the Well</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Keese room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>16</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Lon Lon Ranch</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Outside of Talon's house</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>16</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Lon Lon Ranch</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Tree</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>16</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Lon Lon Ranch</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Back of the ranch</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>16</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Lon Lon Ranch</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Near stone tower</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>16</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Gerudo Valley</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Behind tent</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>15</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Haunted Wasteland</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Inside the shelter</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>15</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2nd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Gerudo Valley</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Soft soil</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>14</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Gerudo Valley</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Stone pillar</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>14</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Goron City</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Room of rocks</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>14</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Bottom of the Well</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Like Like room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>13</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Death Mountain Trail</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Soft soil</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>13</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Gerudo Valley</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Near wooden bridge</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>13</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Lake Hylia</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Fire arrow island</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>13</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Zora's River</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Near two grottos</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>13</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Zora's River</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Tree</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>13</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Deku Tree</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Behind bombable wall</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>12</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Gerudo Fortress</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Back wall</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>12</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2nd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Forest Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Down the elevator</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>10</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2nd 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Death Mountain Crater</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Soft Soil</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>9</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Death Mountain Crater</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Box</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>9</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Desert Colossus</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Palm tree</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>9</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Shadow Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Like Like room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>9</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Shadow Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Near the boat</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>8</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Shadow Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Spike room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>8</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Gerudo Fortress</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>At the end of the archery minigame</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>7</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2nd</strong></h4></td>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Spirit Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child side silver rupee room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>7</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2nd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Spirit Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Behind Song of Time block</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>7</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Zora's Fountain</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Large hidden alcove</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>7</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1st 3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Lake Hylia</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Tree above Water Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>6</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Spirit Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Main statue room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>6</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2nd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Spirit Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Bombchu chest room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>6</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2nd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Desert Colossus</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>On top of rock</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>5</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Shadow Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Skull room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>5</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Spirit Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child side room before Iron Knuckle</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>4</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2nd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Desert Colossus</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Soft soil</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>3</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Fire Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Like Like room above Song of Time block</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>3</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Fire Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Like Like room before 2nd Flare Dancer</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>3</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Fire Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Boulder Maze</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>3</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Lake Hylia</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Lakeside Laboratory water tank</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>3rd</strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Water Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Behind gate with 4 pots</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>2</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Fire Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Top of the tower #1</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Fire Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Top of the tower #2</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Water Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Moving platform room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Water Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Whirlpool room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>1</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Hyrule Castle</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>In the grotto</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>0</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Hyrule Field</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>In the grotto near Gerudo Valley</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Child/Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>0</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Shadow Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Spinning skulls room</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>0</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Water Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Middle tower</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>0</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
						<tr>
							<td><h4 class="h-marginfix text-center"><strong>Water Temple</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Room before Boss Key chest</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>Adult</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong>0</strong></h4></td>
							<td><h4 class="h-marginfix text-center"><strong></strong></h4></td>
						</tr>
					</table>
				</div>
			</div>
		</div>	
	</body>
</html>