<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Season 2 - Quarter 1</title>
  <% include partials/head %>
</head>

<body>
  <div class="backgroundDiv"></div>
  <% include partials/header %>
  
	<div class="container body-content">
		<div id="backgroundDiv"></div>
					<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Season 2 - Recap 1st Quarter </h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Participation Statistics:</strong></h2>
							<h3>
								Just like that the first quarter of the second OCS season is over. All three races were bigger than any race from the first season (63, 69 and 73 entrants). We had 97 different entrants join at least one race so we need 74 of those to join the next race to keep growing. </br></br>
								Anyone can still join any race, you do not have to register, just show up in the race channel on time and play. Some players have continued their strong play from last year but there has also been a fair share of surprises. </br></br>
							</h3>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Not Like Like This - Race 1</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img src="/images/Challenges/S2/C1.png" class="img-responsive" alt="C1.png">
							<h2><strong>Recap:</strong></h2>
							<h3>
								The first race of the season was a regular challenge and it was meant to be a simple goal that would still get people a little bit out of their comfort zone. </br></br> 
								Since you can do most things in the game without a shield casually, the restriction meant that players did not have to learn many new tricks if their goal was to finish. </br></br>
								Defeat five bosses without ever obtaining any shields is not something you need to know for any categories, but it is still a goal that can be achievable with a level of improvisation. </br></br>
								Two of the biggest surprises in the first race if you take the results from the first season into account were realtimeattack64 and jenslang getting top 10. </br></br>
								Realtimeattack64’s knowledge of more obscure categories definitely helps and jenslang finished 16th overall in the first season so he might be trending up. </br></br>
								Amateseru also started the exact same way he started the first season by winning the first race. 
							</h3>
						</td>
						<td class="table-customstyle" style="width:50%">
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th colspan="3"><h3 class="h-marginfix text-center title">Standings after one race:</h3></th>
								</tr>
								<tr class="table-header">
								  <th>Position</th>
								  <th>Player</th>
								  <th>Score</th>
								</tr>
							  </thead>
							  <tr><td>#1</td><td>Amateseru<td style="text-align:center;">200</td></tr>
							  <tr><td>#2</td><td>Bonooruu</td><td style="text-align:center;">175</td></tr>
							  <tr><td>#3</td><td>Runnerguy2489</td><td style="text-align:center;">160</td></tr>
							  <tr><td>#4</td><td>Realtimeattack64</td><td style="text-align:center;">150</td></tr>
							  <tr><td>#5</td><td>Exodus</td><td style="text-align:center;">140</td></tr>
							  <tr><td>#6</td><td>Marco<td style="text-align:center;">132</td></tr>
							  <tr><td>#7</td><td>Jenslang</td><td style="text-align:center;">125</td></tr>
							  <tr><td>#8</td><td>Hyperion64</td><td style="text-align:center;">118</td></tr>
							  <tr><td>#9</td><td>Tob3000</td><td style="text-align:center;">111</td></tr>
							  <tr><td>#10</td><td>Juwk</td><td style="text-align:center;">105</td></tr>
							  <tr><td>#11</td><td>PhoenixFeather<td style="text-align:center;">100</td></tr>
							  <tr><td>#12</td><td>Dannyb21892</td><td style="text-align:center;">95</td></tr>
							  <tr><td>#13</td><td>Mrbubbleskp</td><td style="text-align:center;">90</td></tr>
							  <tr><td>#14</td><td>Gregortixlkyns</td><td style="text-align:center;">85</td></tr>
							  <tr><td>#15</td><td>Blinkzy</td><td style="text-align:center;">80</td></tr>
							  <tr><td>#16</td><td>Psymarth<td style="text-align:center;">75</td></tr>
							  <tr><td></td><td><td></td></tr>
							  <tr><td>#17</td><td>Acermax</td><td style="text-align:center;">70</td></tr>
							  <tr><td>#18</td><td>Scaramanga</td><td style="text-align:center;">66</td></tr>
							  <tr><td>#19</td><td>Thecowness</td><td style="text-align:center;">62</td></tr>
							  <tr><td>#20</td><td>Chris7M</td><td style="text-align:center;">58</td></tr>
							  <tr><td>#21</td><td>Flanthis</td><td style="text-align:center;">54</td></tr>
							  <tr><td>#22</td><td>Menou</td><td style="text-align:center;">50</td></tr>
							  <tr><td>#23</td><td>Gombill</td><td style="text-align:center;">46</td></tr>
							  <tr><td>#24</td><td>Sonfloro</td><td style="text-align:center;">43</td></tr>
							  <tr><td>#25</td><td>Bou_Frost</td><td style="text-align:center;">40</td></tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Dungeon Mice Monsters - Race 2</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img src="/images/Challenges/S2/C2.jpg" class="img-responsive" alt="C2.jpg">
							<h2><strong>Recap:</strong></h2>
							<h3>
								The second goal was to beat 6 dungeons while obtaining 30 gold skulltula tokens from dungeons. 	The hint for the race was “All Dungeons.” </br></br> 
								The second race of every quarter will have an established category as a clue so this means people will have the opportunity to somehow prepare and practice some of the tricks included in that category. </br></br>
								It does not mean they will all be useful but at least the clue is a bit more specific than the regular ones. It will usually be some elements from a known category but with a twist. </br></br>
								It was no surprise to most that Marco ended up winning this one but no one expected him to win by 10 minutes like he did. Many players struggled with this goal, they were forced to do a lot of tricks they do not usually have to worry about but now that they have seen an example of the category goals, there will probably be less scrambling.</br></br>
								The big differences here came from Runnerguy and Danny having a bit more trouble than usual so they both dropped a fair amount but remained in the top 16. Marco boosted up to 2nd place overall with his win but Amateseru finished high enough to stay at the top of the leaderboard.								
							</h3>
						</td>
						<td class="table-customstyle" style="width:50%">
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th colspan="4"><h3 class="h-marginfix text-center title">Standings after two races</h3></th>
								</tr>
								<tr class="table-header">
								  <th>Position</th>
								  <th>Player</th>
								  <th>Score</th>
								  <th>Difference</th>
								</tr>
							  </thead>
							  <tr><td>#1</td><td>Amateseru<td style="text-align:center;">375</td><td style="text-align:center;">=</td></tr>
							  <tr><td>#2</td><td>Marco</td><td style="text-align:center;">332</td><td style="text-align:center;">+4</td></tr>
							  <tr><td>#3</td><td>Bonooruu</td><td style="text-align:center;">286</td><td style="text-align:center;">-1</td></tr>
							  <tr><td>#4</td><td>Realtimeattack64</td><td style="text-align:center;">275</td><td style="text-align:center;">=</td></tr>
							  <tr><td>#5</td><td>Tob3000</td><td style="text-align:center;">268</td><td style="text-align:center;">+4</td></tr>
							  <tr><td>#6</td><td>Hyperion64<td style="text-align:center;">245</td><td style="text-align:center;">+2</td></tr>
							  <tr><td>#7</td><td>Exodus</td><td style="text-align:center;">240</td><td style="text-align:center;">-2</td></tr>
							  <tr><td>#8</td><td>PhoenixFeather</td><td style="text-align:center;">237</td><td style="text-align:center;">+3</td></tr>
							  <tr><td>#9</td><td>Juwk</td><td style="text-align:center;">225</td><td style="text-align:center;">+1</td></tr>
							  <tr><td>#10</td><td>Jenslang</td><td style="text-align:center;">214</td><td style="text-align:center;">-3</td></tr>
							  <tr><td>#11</td><td>Runnerguy2489<td style="text-align:center;">203</td><td style="text-align:center;">-8</td></tr>
							  <tr><td>#12</td><td>Gregortixlkyns</td><td style="text-align:center;">165</td><td style="text-align:center;">+2</td></tr>
							  <tr><td>#13</td><td>Blinkzy</td><td style="text-align:center;">160</td><td style="text-align:center;">+2</td></tr>
							  <tr><td>#14</td><td>Mrbubbleskp</td><td style="text-align:center;">156</td><td style="text-align:center;">-1</td></tr>
							  <tr><td>#15</td><td>Scaramanga</td><td style="text-align:center;">153</td><td style="text-align:center;">+3</td></tr>
							  <tr><td>#16</td><td>Dannyb21892<td style="text-align:center;">153</td><td style="text-align:center;">-4</td></tr>
							  <tr><td></td><td><td></td><td style="text-align:center;"></td></tr>
							  <tr><td>#17</td><td>Chris7M</td><td style="text-align:center;">153</td><td style="text-align:center;">+3</td></tr>
							  <tr><td>#18</td><td>Psymarth</td><td style="text-align:center;">150</td><td style="text-align:center;">-2</td></tr>
							  <tr><td>#19</td><td>Acermax</td><td style="text-align:center;">136</td><td style="text-align:center;">-2</td></tr>
							  <tr><td>#20</td><td>Gombill</td><td style="text-align:center;">126</td><td style="text-align:center;">+3</td></tr>
							  <tr><td>#21</td><td>Flanthis</td><td style="text-align:center;">88</td><td style="text-align:center;">=</td></tr>
							  <tr><td>#22</td><td>Xanra</td><td style="text-align:center;">76</td><td style="text-align:center;">New</td></tr>
							  <tr><td>#23</td><td>Thecowness</td><td style="text-align:center;">71</td><td style="text-align:center;">-4</td></tr>
							  <tr><td>#24</td><td>Bou_Frost</td><td style="text-align:center;">60</td><td style="text-align:center;">+1</td></tr>
							  <tr><td>#25</td><td>Flofloo</td><td style="text-align:center;">50</td><td style="text-align:center;">New</td></tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Greyout Bingo - Race 3</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img src="/images/Challenges/S2/C3.png" class="img-responsive" alt="C3.png">
							<h2><strong>Recap:</strong></h2>
							<h3>
								The third race of every quarter will be bingo related. Once again, players will have a better idea of the concept of this block after seeing the first race. The goal was to pick 18 squares out of a 25 square card. The Master Sword was banned until the  hour mark. This restriction was unique in the sense that the timer influenced it rather than the number of goals. It meant that if you really wanted to go adult you had to try and route as many child goals under one hour and get to Temple of Time as close to the 1:00 mark as you could. Tob and Exodus did all their goals as child and finished in the top two but Amateseru went adult and grabbed the third spot so it showed that both options were viable. One way to prepare for the bingo related goal would be to practice bingo squares, join bingo races whenever you can and watch other players race bingo. As usual, the goal will not just be a simple bingo but the more knowledge you have, the more you will be ready. 
								Three weeks in and Amateseru is still in first place after three top 3 placements. Realtimeattack64 and jenslang, Mrbubbleskp and Acermax did not join this race so they all dropped at least a few spots. Tob’s win in the third race puts him  just one point behind Marco for second place overall. Things are also getting really close in the middle of the pack with only 64 points separating 9th place and 18th place. 
							</h3>
						</td>
						<td class="table-customstyle" style="width:50%">
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th colspan="4"><h3 class="h-marginfix text-center title">Standings after three races</h3></th>
								</tr>
								<tr class="table-header">
								  <th>Position</th>
								  <th>Player</th>
								  <th>Score</th>
								  <th>Difference</th>
								</tr>
							  </thead>
							  <tr><td>#1</td><td>Amateseru<td style="text-align:center;">535</td><td style="text-align:center;">=</td></tr>
							  <tr><td>#2</td><td>Marco</td><td style="text-align:center;">472</td><td style="text-align:center;">=</td></tr>
							  <tr><td>#3</td><td>Tob3000</td><td style="text-align:center;">471</td><td style="text-align:center;">+1</td></tr>
							  <tr><td>#4</td><td>Exodus</td><td style="text-align:center;">420</td><td style="text-align:center;">=</td></tr>
							  <tr><td>#5</td><td>Bonooruu</td><td style="text-align:center;">411</td><td style="text-align:center;">-2</td></tr>
							  <tr><td>#6</td><td>Juwk<td style="text-align:center;">387</td><td style="text-align:center;">+2</td></tr>
							  <tr><td>#7</td><td>Hyperion64</td><td style="text-align:center;">386</td><td style="text-align:center;">-1</td></tr>
							  <tr><td>#8</td><td>Runnerguy2489</td><td style="text-align:center;">346</td><td style="text-align:center;">+3</td></tr>
							  <tr><td>#9</td><td>Realtimeattack64</td><td style="text-align:center;">275</td><td style="text-align:center;">-1</td></tr>
							  <tr><td>#10</td><td>Phoenixfeather</td><td style="text-align:center;">274</td><td style="text-align:center;">-2</td></tr>
							  <tr><td>#11</td><td>Scaramanga<td style="text-align:center;">256</td><td style="text-align:center;">+8</td></tr>
							  <tr><td>#12</td><td>Psymarth</td><td style="text-align:center;">255</td><td style="text-align:center;">+2</td></tr>
							  <tr><td>#13</td><td>Blinkzy</td><td style="text-align:center;">245</td><td style="text-align:center;">+2</td></tr>
							  <tr><td>#14</td><td>Gregortixlkyns</td><td style="text-align:center;">243</td><td style="text-align:center;">-1</td></tr>
							  <tr><td>#15</td><td>Chris7M</td><td style="text-align:center;">228</td><td style="text-align:center;">+2</td></tr>
							  <tr><td>#16</td><td>Jenslang<td style="text-align:center;">225</td><td style="text-align:center;">-4</td></tr>
							  <tr><td></td><td><td></td><td style="text-align:center;"></td></tr>
							  <tr><td>#17</td><td>Gombill</td><td style="text-align:center;">221</td><td style="text-align:center;">+3</td></tr>
							  <tr><td>#18</td><td>Dannyb21892</td><td style="text-align:center;">211</td><td style="text-align:center;">-2</td></tr>
							  <tr><td>#19</td><td>Flofloo</td><td style="text-align:center;">161</td><td style="text-align:center;">+6</td></tr>
							  <tr><td>#20</td><td>Mrbubbleskp</td><td style="text-align:center;">160</td><td style="text-align:center;">-6</td></tr>
							  <tr><td>#21</td><td>Armorysons</td><td style="text-align:center;">158</td><td style="text-align:center;">New</td></tr>
							  <tr><td>#22</td><td>Flanthis</td><td style="text-align:center;">150</td><td style="text-align:center;">-1</td></tr>
							  <tr><td>#23</td><td>Acermax</td><td style="text-align:center;">136</td><td style="text-align:center;">-4</td></tr>
							  <tr><td>#24</td><td>Adefgames</td><td style="text-align:center;">125</td><td style="text-align:center;">New</td></tr>
							  <tr><td>#25</td><td>Xanra</td><td style="text-align:center;">119</td><td style="text-align:center;">-3</td></tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">On the rise</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Juwk</strong></h2>
							<h3>
								Juwk has been on a tear these last few weeks. He has won multiple big bingo races with times under 1:10 and has gotten 6th and 4th in the last two OCS races. He also has recently gotten a 1:28:34 in All Dungeons, good enough for the third best time for that category. If you are looking for a sleeper pick that could finish in the top 5 for your fantasy team, here is your man. 
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Armorysons</strong></h2>
							<h3>
								One of the best bingo players in 2014 and 2015, Armory has been back for a couple weeks now and his OCS results are already trending upwards. There is always rust whenever someone comes back from a long break but Armory’s overall skill and routing ability undeniably makes him a prime contender for a playoff spot.							
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Tob3000</strong></h2>
							<h3>
								It seems crazy to say that Tob is a riser when he already is one of the top players but it does not seem like he is done improving. His combination of execution and routing skill might be better than any OoT player right now and more first places are not out of the question for him. 
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Jenslang</strong></h2>
							<h3>
								Currently sitting in the last playoff spot, Jenslang has only competed in two races but a 7th and an 11th place is a strong and he has shown abilities to adapt to many types of goals even dating back to last season. He is absolutely a player to keep an eye on in the races to come.
							</h3>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">If the playoffs started tomorrow</h3></th>
						</tr>
						<tr>
						<td class="table-customstyle">
							<h3 style="text-align:center;">
								Ama vs Jenslang</br></br>
								Marco vs Chris</br></br>
								Tob vs Greg</br></br>
								Exodus vs Blinkzy</br></br>
								Bonoo vs Psymarth</br></br>
								Juwk vs Scaramanga</br></br>
								Hyperion vs Phoenixfeather</br></br>
								Runnerguy vs RTA</br></br>
							</h3>
						</td>
					</tr>
					</thead>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Shoutouts to these players who finished all 3 races</h3></th>
						</tr>
						<tr>
						<td class="table-customstyle">
							<h3 style="text-align:center;">
								Amateseru</br></br>
								Marco8641</br></br>
								Tob3000</br></br>
								Exodus</br></br>
								Bonooruu</br></br>
								Juwk</br></br>
								Hyperion64</br></br>
								Runnerguy2489</br></br>
								PhoenixFeather</br></br>
								Scaramanga</br></br>
								Psymarth</br></br>
								Blinkzy</br></br>
								Gregortixlkyns</br></br>
								Chris7M</br></br>
								Gombill</br></br>
								Dannyb21892</br></br>
								Armorysons</br></br>
								Flanthis</br></br>
								Xanra</br></br>
								Bou_Frost</br></br>
								Thecowness</br></br>
								Thiefbug</br></br>
								Marshallobob</br></br>
								Kintefleush</br></br>
								Moosecrap</br></br>
								Sloth</br></br>
								QuickKiran</br></br>
								Nkiller</br></br>
								Trisscorp</br></br>
							</h3>
						</td>
					</tr>
					</thead>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Battle mode reveal</h3></th>
						</tr>
						<tr>
						<td class="table-customstyle">
							<h3>
								The first quarter being over means that a battle mode for the playoffs will be revealed. 
								</br></br>The second battle mode is Draft. </br></br>
								The two players will select goals from a blackout bingo card one after another until 24 goals are selected. The 25th goal will not be completed. 
								</br></br>There will be a limited amount of time to look at the card before picking and in between picks. This mode encourages players to study their opponents. 
								</br></br>What goals are they most comfortable with? What categories do they usually play? There are many possibilities for mind games in the drafting part and the time limit means that you really have to be concentrated and ready for any scenario. 
							</h3>
						</td>
					</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
