<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Season 2 - Race 1</title>
  <% include partials/head %>
</head>

<body>
  <div class="backgroundDiv"></div>
  <% include partials/header %>
  
	<div class="container body-content">
		<div id="backgroundDiv"></div>
					<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Season 2 - Race #1 - Not Like Like This</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Participation Statistics:</strong></h2>
							<h3>
								The first race of the second OCS season had a remarkable total of 63 entrants on Speedrunslive.<br /><br />		
								That was already 15 more than the biggest race of the first season. <br /><br />
								The coverage of the challenge was restreamed on Speedgaming once again. OCS is officially back!<br /><br />
							</h3>
							<h2><strong>Goal Explanation:</strong></h2>
							<h3>
							The goal was to defeat five bosses while never obtaining any shield. The restriction was simple and runners could understand it as soon as they saw the goal. This may seem too easy, but there are many elements that change in the game without being able to use a shield. <br /><br />	
							
							First, there is no way to defend against enemies, the only options are to kill them or run away. For example, in Jabu-Jabu’s Belly, you could not kill the Octorock guarding the elevator because the only item you would usually use against him is the Deku Shield. <br /><br />	
							Secondly, and this is the part speedrunners would have trouble with, many glitches and tricks in Ocarina of Time require a shield, including Infinite Sword Glitch, Superslides, Ground Jumps, Power Crouch-Stabbing and Bomb Hovering. Even the easiest way to do Reverse Bottle Adventure requires a shield now. If this race was two or three years ago, there probably would have been a lot more RBA since players were used to getting Bottle B using the Lon Lon Ranch or Fishing Pond methods. 
							</h3>
						</td>
						<td class="table-customstyle">
							<img src="/images/Challenges/ResuleS2C1.png" alt="ResuleS2C1.png">
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Routing Early Explosives</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								The first big issue some players might be faced with was what method to use to get explosives. Ocarina Dive, which is the most popular way, was impossible because there was no way to get ISG. The solution for many players was to vineclip in Bottom of the Well, just like they did a couple years ago before Ocarina Dive was found. This method is also still used in Bingos in rows that have Magic Beans or Lens of Truth in them. <br /><br />
								Players also had the option of going through a part of the Glitchless route and get Goron Bracelet after getting Zelda’s Lullaby and Saria’s Song. If you were already planning on getting ZL, all you had to do was watch a couple more cutscenes and learn the slingshot skips in Dodongo’s Cavern to get Bombs. This way might have been less intimidating than vineclip to some people.<br /><br />
								There were also two other ways to get explosives but they required a bit of creativity. The first one was to get Bombchus from the carpet salesman in the Haunted Wasteland. The prerequisites for this was to have 200 rupees and to figure out a way to cross the Gerudo Bridge and Fortress. You could get skulltulas from Kakariko Village, Market and Lon Lon Ranch as child and those added quickly to 10 so you could get your Adult’s Wallet as soon as you were adult. You can cross the bridge with just Hookshot but if you really wanted to be safe you could get Epona’s Song and then race Ingo to get Epona. Once in the fortress, you can either unload the area with a simple seam walk or just rescue all the carpenters and get the Gerudo’s Card. All you had to do next was to reach the salesman and buy 10 Bombchus.<br /><br />
								The other route that did not need vineclip or Goron Bracelet was to get Blue Fire from Ice Cavern (or a shop but good luck getting 300 rupees). This meant that you had to use Zelda’s Lullaby or Hover Boots for the waterfall, but you could then use Blue Fire in Dodongo’s Cavern and go get Bombs. While you were in Ice Cavern, you also had the possibility of getting Iron Boots to help you if you decided to do Water Temple.<br /><br />
								Every dungeon had a tricky part to it when you cannot use shields. The first dungeon a lot of racers went to was Jabu-Jabu’s Belly. The roadblocks were easy to work around in this case. The waterfall could be skipped by grabbing the cucco at the bottom of Zora’s River or by playing Zelda’s Lullaby if you had it. For the rest of this section you could just use the casual strategy of moving King Zora and going through the dungeon normally. A good idea here was to get Ruto’s Letter as a bottle instead of the Kakariko Village one, but some players realized this too late and ended up with two bottles. There were still ways to go past King Zora but they involved some less known strats like ledge clipping and getting pushed by a bombchu. One fun thing that happened because of this race is that a new way of doing that clip without a shield was randomly found by MikeKatz and adapted by bakeneko for some Low% routes.<br /><br />
							</h3>
							<table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
								<thead>
								  <tr class="table-header">
									<th>
									  <h3 class="h-marginfix text-center title ">Bomb Skip</h3>
									</th>
									<th>
									  <h3 class="h-marginfix text-center title ">Bombchu Skip</h3>
									</th>
								  </tr>
								</thead>
								<tr>
									<td class="table-customstyle">
										<blockquote class="twitter-tweet tw-center-align" data-lang="en"><p lang="en" dir="ltr">Bad setup for king zora skip with bombs as child (no shield) <a href="https://twitter.com/hashtag/zsroot?src=hash">#zsroot</a> <a href="https://t.co/n3lJS2WAmp">pic.twitter.com/n3lJS2WAmp</a></p>&mdash; MikeKatz45 (@Dr_Katz45) <a href="https://twitter.com/Dr_Katz45/status/902634076716355584">August 29, 2017</a></blockquote>
										<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
									</td>
									<td class="table-customstyle">
										<blockquote class="twitter-tweet tw-center-align" data-lang="en"><p lang="en" dir="ltr">I have a good news to low% runners :)<br>shoutouts to <a href="https://twitter.com/Dr_Katz45">@Dr_Katz45</a> for this clip <a href="https://t.co/BGnWM6dekc">pic.twitter.com/BGnWM6dekc</a></p>&mdash; 化猫 (@bakeneko1048) <a href="https://twitter.com/bakeneko1048/status/902657377127694336">August 29, 2017</a></blockquote>
										<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
									</td>
								<tr/>
							  </table>
							<h3>

								Once you were inside the dungeon you could go through all the rooms and fight Big Octo and Barinade, but there were some timesavers here and there. There is a way to use a fairy to skip killing all the tentacles before Big Octo and Hyperion attempted it. You can also use a fairy to skip the tentacle in the map room which was still faster since you could get a fairy right on your path in the basement.<br /><br /> 
								Getting to Bongo Bongo was relatively like what would be done in normal routes but small adjustments were needed in a couple spots. First, the dreaded ISG-less seam walk. Hookshot jump has become the main way to get to Shadow Temple early but you usually can ISG the Poe that is there to then walk to the temple without any trouble. In this case, you could still do the same thing but without ISG. Don’t look down and walk carefully! Boat Skip was not a possibility so ZL was required to ride the boat. You could not superslide or megasidehop across the chasm so you needed to throw a Bombchu or use the bow to blow up the bomb flowers. Most setups to blow up the statue need a shield or a crouch stab but it was the type of trick that can be gotten with trial and error.<br /><br /> 
								King Dodongo and Phantom Ganon did not have any real roadblocks to them. Both could be easily done with normal strats. The hardest part here was probably the Phantom Ganon fight which can be nerve-wrecking especially if he is your last boss. 
								Just like most dungeons, Fire Temple was not too complicated, only needed a few alterations. The best way to skip the Bolero cutscene was to use the timer as the other popular methods require a shield or ISG. 
							</h3>
							<table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
							<thead>
							  <tr class="table-header">
								<th>
								  <h3 class="h-marginfix text-center title">Bolero Skip</h3>
								</th>
							  </tr>
							</thead>
							<tr>
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">
									<iframe src="https://clips.twitch.tv/embed?clip=SarcasticInexpensiveChamoisSoonerLater&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
								</div>
							  </td>
							</tr>
						  </table>
						  <h3>
							  The big problem for some in Fire Temple was the block skip. Once you talked to Darunia (no time stop) and made it to the block room, you could do the fastest strat that does not use the crystal switch and does not require shield. If you knew that strat, no problem there, but some people still use the slower and older strat that has crouch stabs or shield drops in it. The only way to fix it here was to eyeball the bomb drop or jump on the block and go through the boulder maze.<br /><br /> 
							  The usuall boss key skips were possible (hammer slide, ledge clip) but Volvagia could be annoying since everyone’s muscle memory is to shield drops the bombs in the fire pits. A lot of bomb throws were seen and that made it that a lot of people had a longer and stressful fight than they would have wanted. <br /><br /> 
						  </h3>
						  <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
							<thead>
							  <tr class="table-header">
								<th>
								  <h3 class="h-marginfix text-center title">Bomb Throws</h3>
								</th>
							  </tr>
							</thead>
							<tr>
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">
									<iframe src="https://clips.twitch.tv/embed?clip=HardColdMinkOMGScoots&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
								</div>
							  </td>
							</tr>
						  </table>
						  <h3>
							Gohma was a tricky one. It seemed like everyone’s obvious first boss but that was before they realized they needed to get past Mido and defeat the 2-3-1 scrubs. Mido leaves once you visit Zelda (or just Mido skip!) but unless you knew some crazy low% strats you could not pass the scrubs. Adult Link had a way easier time here since he could have Hover Boots. The damage boost from the top of the Twins’ House worked as usual and you could then just 2-3-1 skip from the compass room. 
						  </h3>
						   <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
							<thead>
							  <tr class="table-header">
								<th>
								  <h3 class="h-marginfix text-center title">Gohma</h3>
								</th>
							  </tr>
							</thead>
							<tr>
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">
									<iframe src="https://clips.twitch.tv/embed?clip=MagnificentQuaintWalletGOWSkull&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
								</div>
							  </td>
							</tr>
						  </table>
						  <h3>
							Ganondorf was not a popular boss in this race, no one wanted to do the old RBA methods but it could have been a good option combined with getting ZL with RBA. This way you opened Nabooru-Knuckle and Bongo Bongo as options and you could even use a crazy strat to get Ice Arrows and RBA the Water Temple Boss Key. The problem here is that the ways to RBA were to skip getting the sword and doing Lon Lon Ranch RBA or use the Fishing Pond. <br /><br />
							Ganon ended up being a run killer for many racers. People thought that their last boss would be Ganon and wrong warp from Deku Tree but the usual setups have crouch stabs in them. The wrong warp could possibly happen with some improvisation but Aliensqueakytoy’s setup ended up being a lifesaver for some. <br /><br />
						  </h3>	
						  <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
							<thead>
							  <tr class="table-header">
								<th>
								  <h3 class="h-marginfix text-center title">Wrong Warp</h3>
								</th>
							  </tr>
							</thead>
							<tr>
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">
									<iframe src="https://clips.twitch.tv/embed?clip=PlausibleWildTirePartyTime&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>								
								</div>
							  </td>
							</tr>
						 </table>	
						 <h3>
							The best route was probably the all adult one (King Dodongo, Volvagia, Phantom Ganon, Gohma, Ganon) because it did not require Zelda’s Lullaby and you did not have to go out of your way to do Jabu-Jabu as child. For the sake of the race many players did Barinade instead of Ganon because they were not confident in the wrong warp and it paid off. 						 
						 </h3>	
					</tr>
					</table>
						 <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
							<thead colspan="2">
							  <tr class="table-header" style="width:50%;">
								<th>
								  <h3 class="h-marginfix text-center title">Ganonball Volleys</h3>
								</th>
								<th>
								  <h3 class="h-marginfix text-center title">Saving the princess.</h3>
								</th>
							  </tr>
							</thead>
							<tr style="width:50%;">
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">	
									<a class="embedly-card" href="https://www.twitch.tv/videos/170313319"></a>
									<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
								</div>
							  </td>
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">
									<iframe src="https://clips.twitch.tv/embed?clip=VictoriousLachrymoseApeShazBotstix&autoplay=false&tt_medium=clips_embed" width="540" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
								</div>
							  </td>
							</tr>
						 </table>	
						 <br /><br />
						 <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
							<thead>
							  <tr class="table-header">
								<th>
								  <h3 class="h-marginfix text-center title">Kid Caught</h3>
								</th>
								<th>
								  <h3 class="h-marginfix text-center title">Trowing the princess.</h3>
								</th>
							  </tr>
							</thead>
							<tr>
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">	
									<iframe src="https://clips.twitch.tv/embed?clip=BoldSourDragonflyVoHiYo&autoplay=false&tt_medium=clips_embed" width="570" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
								</div>
							  </td>
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">
									<iframe src="https://clips.twitch.tv/embed?clip=TenaciousAmazingYamSuperVinlin&autoplay=false&tt_medium=clips_embed" width="540" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>								
								</div>
							  </td>
							</tr>
						 </table>
						 <br /><br />
						 <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
							<thead>
							  <tr class="table-header">
								<th>
								  <h3 class="h-marginfix text-center title">The Spin Master</h3>
								</th>
								<th>
								  <h3 class="h-marginfix text-center title">Never Forget</h3>
								</th>
							  </tr>
							</thead>
							<tr>
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">	
									<iframe src="https://clips.twitch.tv/embed?clip=SuccessfulGoodPanOSkomodo&autoplay=false&tt_medium=clips_embed" width="540" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>							
								</div>
							  </td>
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">
									<iframe src="https://clips.twitch.tv/embed?clip=ElegantDrabTarsierStinkyCheese&autoplay=false&tt_medium=clips_embed" width="540" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
								</div>
							  </td>
							</tr>
						 </table>
						<br /><br />
						  <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
							<thead>
							  <tr class="table-header">
								<th>
								  <h3 class="h-marginfix text-center title">Bullseye</h3>
								</th>
								<th>
								  <h3 class="h-marginfix text-center title">Dive</h3>
								</th>
							  </tr>
							</thead>
							<tr>
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">
									<iframe src="https://clips.twitch.tv/embed?clip=SparklingPricklyAubergineChocolateRain&autoplay=false&tt_medium=clips_embed" width="540" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
								</div>
							  </td>
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">
									<iframe src="https://clips.twitch.tv/embed?clip=RelentlessBlightedMeatloafHeyGuys&autoplay=false&tt_medium=clips_embed" width="540" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
								</div>
							  </td>
							</tr>
						 </table>
						 <br /><br />
						  <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
							<thead>
							  <tr class="table-header">
								<th>
								  <h3 class="h-marginfix text-center title">WoW Player.</h3>
								</th>
							  </tr>
							</thead>
							<tr>
							  <td colspan="1" class="table-customstyle">
								<div class="embedly-card text-center">	
									<a class="embedly-card" href="https://twitter.com/juwker/status/902183616247160832"></a>
									<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
								</div>
							  </td>
							</tr>
						 </table>
						 <br /><br />
			</div>
		</div>
	</div>
</body>
</html>
