<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS - Recap Race #4</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/site.css">
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		 <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Leaderboard</a>
            </div>
            <div class="navbar-collapse collapse">  
                <ul class="nav navbar-nav">
					<li><a href="/challenges">Challenges</a></li>
					<li><a href="/information">Information</a></li>
					<li><a href="/revision">Race Revision</a></li>
					<li><a href="/highlights">Highlights</a></li>
					<li><a href="/halloffame">Hall of Fame</a></li>
					<li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
	</div>
	<div class="container body-content">
		<div id="backgroundDiv"></div>
		  <div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Race #4 - Trick Or Treat</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td colspan="2" class="table-customstyle">
							<h3 class="text-center">"OCS4? What kind of name is that?"</h3>
							<footer class="text-center">Nabooru 2016</footer>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Participation Statistics:</strong></h2>
							<h3>
									48 entrants! We beat last race's 43 and continued the trend of always having more entrants every race. 
									<br /><br />
									40 people finished which is also a record for OCS so far.The 50 entrants is closer than ever! 
									<br /><br />
							</h3>
						</td>
						<td class="table-customstyle">
							<img src="images/Challenges/Challenge4.png" class="img-responsive" alt="Challenge4.png">
						</td>
					</tr>
					<tr>
						<td colspan="2" class="table-customstyle">
							<h3 class="text-center">
									We also need to give a quick shoutout to Thundrio and his buddies for their sick setup! 
									<br />
									This is exactly what OCS should be, just a group of friends playing Ocarina of Time on a Sunday.
									<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<h3><iframe src="https://clips.twitch.tv/embed?clip=thundrio/EncouragingEelMingLee&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe></h3>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="table-customstyle">
							<h2><strong>Goal Explanation:</strong></h2>
							<h3>
									The 4th OCS race was the day before Halloween so we wanted to have a challenge that worked with the occasion. We were somewhat inspired by another Halloween challenge that happened in 2011. It involved getting to a specific room in Shadow Temple while wearing the Spooky Mask.
									<br /><br />
							</h3>
							<div class="text-center" style="display: flex; justify-content: center;">
								<img src="images/HallowenChallenge2011.jpg" class="img-responsive" alt="HallowenChallenge2011.jpg" style="display: flex; margin-bottom: 15px;">
							</div>
							<h3>
									We knew it would have to do with the mask sequence and after a discussion we thought of the Trick or Treat concept. The next part was just finding 4 interesting characters that you would need to talk to. We picked these 4 because the triggers needed for each of them would need some serious routing.
									<br /><br />
									For the owner of the Bombchu shop, you needed to beat Dodongo's Cavern. 
									<br /><br />
									You needed 20 skulltulas to make the man from the Fabulously Rich Family become human again when he gives you the Stone of Agony. 
									<br /><br />
									The only way to talk to a Gerudo guard without her throwing you in the river was to release all carpenters and obtain the Gerudo's Card.
									<br /><br />
									The owl in Desert Colossus is perched at the top of the Spirit Temple near the Silver Gauntlets chest so you needed to make your way up there.
									<br /><br />
									I really liked that there were so many different routes and I wasn't disappointed, everyone did something different. At first we wanted the goal to be that you had to wear the mask to talk to people but the owl cutscene starts so fast that you don't have time to put the mask on. If we kept the goal that way, you would have to hover from the Mirror Shield side or the bottom!
									<br /><br />
							</h3>
							<h3>
								The <a href="clue/Clue4.mp3" target="_blank">clue</a> for this race was a bit all over the place, but after seeing the goal, I'm sure most people understood what it meant. 
								<br /><br />
								First, you had the "Obtain mask" jingle from Majora's Mask, which should be pretty self-explanatory. You had the music from inside Deku Tree after that, but the twist here was that the same music plays inside the Skulltula house in Kakariko Village. It was followed by the shop theme, which worked for the Bombchu shop and then by the owl theme. At the end, the whistling sound was the one from the Gerudo guards. Some people thought it might have to do with the Hyrule Castle guards (or a minigame), but in the end you had to get Zelda's Lullaby anyway.
								<br /><br />
							</h3>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Result</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
									This race had some crazy results compared to the three first ones.
									<br /><br />
									<strong>Sniping</strong> was one of the favorites going into this one and he won pretty convicingly with a 1:29:43, almost 6 minutes ahead of second place! This was his second win of the series (he also won the Glass Ganon race) and he now takes back the 1st overall spot on the leaderboards. 
									<br /><br />
									The next couple places came as a surprise to many people, <strong>DoctorKill</strong> got 2nd place with a 1:35:20. He's an experienced bingo player and doesn't enter too many races these days but he's definitely not to be taken lightly. He got 10th place in the Skulltula Hunt but with this 2nd place he moves up to 7th place overall. 
									<br /><br />
									<strong>Makko</strong>, another experienced player, got 3rd place in his first OCS race with a 1:35:51. His 60 points put him in 14th place overall now.
									<br /><br />
									<strong>Hyperion</strong> finished in 4th place with a 1:36:21 and he was another newcomer to the top 5 club. After this solid result, he climbs up to 9th place on the leaderboards. 
									<br /><br />
									So many good players entered the last race but places 2 to 4 were taken by people who had not finished in the top 5 of a race yet. Blinkzy got a 1:38:01 and finished in 5th place, which was good enough to keep his 5th spot overall. Because of these crazy results, the top 6 didn't move except for <strong>Sniping</strong> getting 1st place. <strong>Amateseru, Exodus, Flo and Marco</strong> respectively got 9th, 12th, 13th and 15th so instead of separating themselves from the flock with this race, they made the whole thing a lot closer.
									<br /><br />
									This round of the most intense OCS rivalry was won by <strong>Blinkzy</strong> with his 5th place, while <strong>PhoenixFeather</strong> got 8th. 
									Post-race comments by <strong>Blinkzy</strong> included <strong>"did you even try pf?"</strong> so this clash is still burning hot.
									<br /><br />
									With a goal like this one, there wasn't room for many mistakes, it was not extremely complicated but doing it optimally could be very tricky. This was essentially some kind of bingo. You could see it like you had 5 goals: Bunny Hood, Silver Gauntlets, Gerudo's Card, Stone of Agony and Beat Dodongo's Cavern. The only difference is that you had to go get a different mask between every goal.
							</h3>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Individual characters review</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h2><strong>The Bombchu shop owner</strong></h2>
							<h3>
								Having the Goron's Ruby isn't enough to mke the Bombchu shop owner appear, you really need to step in the Dodongo's Cavern blue warp. People aren't used to doing this dungeon as child Link since the usual categories (No IM/WW, MST, 100%) will do it as adult Link.
								<br /><br />
								Even in bingo it's rare to see someone do it as child. You need a minimum of 5 Bombchus to get to the Bomb chest if you don't have a strength upgrade. Once you have blown up the boulder and the wall at the entrance, you would want to get a ground jump from the bomb flower to get to the switch that unbars the door on the left.
								<br /><br />
								If you don't have a strength upgrade you can also get it in a different way with a Bombchu, but some people opted for a safer strat. You can get a ground jump from a pot while getting hit by a Baby Dodongo and this way you are assured of only losing one Bombchu, even if you fail the trick multiple times.
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<h3><iframe src="https://clips.twitch.tv/embed?clip=dannyb21892/GlamorousKuduRedCoat&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe></h3>
							</div>
							<h3>
								Once you make your way to the top of the bombable stairs, you had to either dodge or kill all the Fire Keese on your way to Bombs. You didn't want to burn your Deku shield but you can always buy one from the Deku Scrub near the entrance for 50 rupees.
								<br /><br />
								The last thing before bombs was either a megaflip or a damage boost and then you just needed to light the eyes. There were multiple ways to get to the boss room including Ocarina items, using the Navi text from the Keese, dying on the switch or simply going all the way around and pushing the block (you could also get a Gold Skulltula this way.)
								<br /><br />
								Killing King Dodongo was the same as usual but the real intriguing part was the possibility of wrong warping to Gerudo Training Grounds. This wrong warp is only used in bingos (or puzzles) and even then is very scarcely done, but it was an amazing option for this race because you would skip the cutscene and also not have to worry about making your way to Gerudo Fortress. The last cutscene you need to have watched for the trick to work is either Goron City or Death Mountain Trail so once you watched the entrance cutscene in Dodongo's Cavern you could leave and come back.
								<br /><br />
								If you fail this wrong warp in the bad way, you would lose a lot of time but some people were confident enough to do it, notably Sniping, Dannyb and Amateseru.
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<h3><iframe src="https://clips.twitch.tv/embed?clip=sniping117/LovelyHawkWutFace&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe></h3>
							</div>
							<h3>
								Once you wrong warped or simply walked in the warp and watched the cutscene, the owner of the Bombchu shop would be behind his counter, doing his job.
								<br /><br />
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>The Gerudo guard</strong></h2>
							<h3>
								You can talk to Gerudos that are dressed in white, but you can't talk to Gerudos dressed in purple and that hold a spear. The only way you could trick or treat in the fortress was to get the Gerudo's Card and become one of them. If you didn't DC Wrong warp, you had to get past the bridge in Gerudo Valley without getting caught.
								<br /><br />
								The most popular strategy was to megaflip with a Bombchu but others hovered over the gate with a bomb, but the hover could be risky since depending on where the guards are looking, especially during daytime, you could get caught.
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=hyperion64/SplendidTapirSoBayed&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								Not many people know that if it's night time, you can just backwalk from the middle of the fence without worrying about where the guards are looking.
								<br /><br />
								You could also do the classic Cucco jump, but you had to make sure to always hold the Cucco steadily in your hands and never let go of it.
								<br /><br />
							</h3>
							<div class="text-center" style="display: flex; justify-content: center;">
								<img src="images/BridgeSkip.gif" class="img-responsive" alt="BridgeSkip.gif" style="display: flex; margin-bottom: 15px;">
							</div>
							<h3>
								There's a couple rocks at the Gerudo Valley entrance that are usually useless to farm but sometimes...
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=exodus122/WrongFinchPRChase&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								Getting the Gerudo's Card as child is a bit trickier then as adult for a couple reasons.
								<br /><br />
								First, when you get caught by a guard, they throw you down the river in Gerudo Valley instead of putting you in the cell. This is only because having the Hookshot is what triggers them to put you in prison, otherwise you would be stuck in there with no way out.
								<br /><br />
								Secondly, you don't have any projectile to hit the patrolling guards. Slingshot seeds or Boomerang will not affect them, the only way to stun them is to slash them with your sword, which puts you in an unsafe position.
								<br /><br />
								Thirdly, the fortress is designed for adult Link so it's not as easy to navigate around it and find all the carpenters. The one that's imprisoned in the highest room is the hardest to get as child because there's no way of jumping or ground jumping to that height. You need to either go through a room patrolled by two guards or completely skip that room with a megaflip.
								<br /><br />
								The megaflip would be the best option, but not many people know that you can make that distance. If you choose to go through the room with the guards, you need to go slowly and carefully but if it's night time, you can take your chances a lot more. You could save inside the fortress and reset back there if ever you got caught.
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=marco8641/UninterestedToadMingLee&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=dannyb21892/GorgeousWormJKanStyle&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								Since you could not stun the guards, you had one more difficulty and it was to get past the lone guard before the last carpenter. Again, if it was night you would have a much easier time, but you could wait for her to be all the way to the left and then either slash her or walk past her.
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe width="640" height="360" src="https://www.youtube.com/embed/iivh0SC75D0" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>
								To fight the Gerudo themselves, stick ISG seemed to be the best strat, but Drewdrewbro definitely had the most exciting fights. Link was truly hyped for Halloween and was really proud of his costume.
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=drewdrewbro/FamousReindeerTinyFace&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								Once you had the card you could just go talk to any guard patrolling the fortress. If you did the carpenter at the top last and you didn't slash the guard, you could talk to that one on your way out.
								<br /><br />
								You had the option of entering Gerudo Training Grounds to get 5 more Bombchus if you ended up a bit short and some people like Sniping and Marco did that.
								<br /><br />
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>The owl in Desert Colossus</strong></h2>
							<h3>
								If you were in Gerudo Fortress already, you might as well go straight to the Desert once you were done there. Most people got Requiem of Spirit and then went to trade their mask in, but Hyperion and Amateseru decided to go all the way to the top and talk to the owl without getting the warp song. This way they would not need to get the song, but it also meant that they needed to go back to Gerudo Valley to talk to a Gerudo guard.
								<br /><br />
							</h3>
							<h3>
								Short bingos used to be popular a couple years ago so child side Spirit Temple was known by a lot of people but now barely anyone does these rooms regularly.
								<br /><br />
								You had to make sure you had a Deku Stick at this point because there aren't any in Spirit Temple. The only way you can get one is if the Stalfos drops one and you don't want to rely on RNG.
								<br /><br />
								Nabooru talks forever but then the first roadblock is the switch room with the Stalfos.
								<br /><br />
								You can hit that switch with a well timed Bombchu drop or grab the ledge, turn around and instantly drop the chu.
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=blinkzy/DifficultHedgehogKappaRoss&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=gmanxxxx/PoisedHornetUleetBackup&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								Since not many people RBA'd more Bombchus, some were stuck in this room not having anything to hit the crystal switch so you had to hover to the other side or megaflip.
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=oxxyga/SillyHedgehogRaccAttack&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3 class="text-center">
								Otherwise...
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=amateseru/HealthySkunkBORT&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<blockquote class="text-center">
								<p>"This is how real men cross that room."</p>
								<footer>Amateseru, October 30 2016(not for OCS) </footer>
							</blockquote>
							<h3>
								The Anubis room is pretty straight forward and then it's just getting the small key. Once you have that, you can grab all the rupees to make the small bridge drop or you can walk back where you came from to go to the crawlspace room. There's a Deku shield chest in this room if ever you burn it from the Anubis or Fire Keese.
								<br /><br />
								Just watch out for the Green Bubble.
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=hyperion64/GorgeousEelPicoMause&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								We had an unintentional vineclip in the first race by Aliensqueakytoy and now we can add another one to the list with this beauty by Valientlink.
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<a class="embedly-card" href="https://www.twitch.tv/valientlink/v/98109913">VineClip</a>
								<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
							</div>
							<h3>
								The last room before the Iron Knuckle must have been super hard when we all first played the game. It's probably the room with the most puzzles in the game. You have to pick up the silver rupees for the golden torch to light, light all the torches for the small key chest to drop and push the sun block in the light for the door to unbar. You also have to do all that with 3 Beamos and 3 spike traps in the room.
								<br /><br />
								Knowing obscure strategy was really good for child Spirit and here Blinky saved a lot of time by not having to pick up the silver rupees.
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=blinkzy/DarkJellyfishPermaSmug&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								All that was left was killing the Iron Knuckle and you could talk to the owl.
								<br /><br />
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>The man who gives you the Stone of Agony</strong></h2>
							<h3>
								This race was already a big routing challenge but you also had to get 20 Gold Skulltulas. 20 is not too many but you wanted to do it as optimally as possible, which could be hard since you didn't go inside many dungeons and you also didn't have the Boomerang. The most obvious place to get tokens would be Kakariko Village where you could get 6 or 7. Hyrule Market had 2 more free ones and then it was just a matter of preference for the rest.
								<br /><br />
								You had to decide what tricks you wanted to do or not do and what rooms you wanted to visit in dungeons. There are 5 skulltulas in Dodongo's Cavern but only 3 of them seemed fast enough to get. It was the same with Spirit Temple but if you didn't want to do any crazy tricks you could only get 2. There was this slick strategy to get the Skulltula in the silver rupee room by PhoenixFeather.
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=phoenixfeather1/KindFerretFuzzyOtterOO&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								Getting the bottle was probably a good move since this way you could get 5-6 skulltulas from soft soil and if you skipped those you would end up having to go out of your way a bit more. Bottom of the Well, Kokiri Forest, Lost Woods, Zora's River, Gerudo Valley, Desert Colossus, Lon Lon Ranch and Death Mountain were the areas most people got the rest of their tokens. Some people also went to Deku Tree to get the Slingshot and got 3 skulltulas there this way. 
								<br /><br />
								Sniping had a good routing idea and megaflipped to the Lost Woods bridge after grabbing the skulltula from the soft soil. This way he didn't have to go back to Kokiri Forest and Pokey escape (especially after having Zelda's Lullaby).
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=sniping117/AliveMonkeyPRChase&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								Matttinthehat routed the Bombchu shop owner and the Stone of Agony man perfectly to be able to buy more Bombchus. He got the Adult's Wallet at the same time he got the Stone of Agony so when he went to trick or treat at the Bombchu shop, he could also buy 20 more while he was there. If you ran low on bombs you could also buy some from the Bazaar since you beat Dodongo's Cavern. 
								<br /><br />
								Of course, it would not be a Skulltula race without classic moments like these:
								<br /><br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=sniping117/ComfortableWallabyNotATK&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								The hardest thing to optimize in this challenge was probably the day/night cycles. There are some areas you wanted to be in at night, like Kakariko Village to get the skulltulas and the Bombchu shop is only open at night.
								<br /><br />
								The Happy Mask shop is only open during day time so even if you made it to castle after night, you had to wait for the sun to come up. The child in the Graveyard is only there during day time so you could not sell the Spooky Mask during the night.
								<br /><br />
								All this made it really complex to have the perfect route but you could also do like the top 2 places did and get Sun's Song. This way you didn't have to worry about any of this and you could just do the things in whatever order you wanted.
								<br /><br />
								The best way to get it would be at the beginning after showing Zelda's Letter to the guard and then you could use the song at it's fullest.
								<br /><br />
							</h3>
						</td>   
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Conclusion</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								Overall, we're happy with how the race went. We achieved our goal of having a Halloween themed challenge and it worked out pretty well. The next race will be on November 13th and the standings are the closest they have been since the beginning. 6 races are remaining in this season and so many things can change!
							</h3>
							<br /><br />
							<img src="images/Challenges/Result4.png" style="margin-right:auto;margin-left: auto;" class="img-responsive center-block" alt="Result4.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>