<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS - Recap Race #2</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/site.css">
<script src="script/OpaqueNavbar.js"></script>
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top opaque-navbar" role="navigation">
		 <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Leaderboard</a>
            </div>
            <div class="navbar-collapse collapse">  
                <ul class="nav navbar-nav">
					<li><a href="/challenges">Challenges</a></li>
					<li><a href="/information">Information</a></li>
					<li><a href="/revision">Race Revision</a></li>
					<li><a href="/highlights">Highlights</a></li>
					<li><a href="/halloffame">Hall of Fame</a></li>
					<li><a href="/season1">Season 1</a></li>
					<li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
	</div>
	<div class="container body-content">
		<div id="backgroundDiv"></div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Race #2 - Glass Ganon</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Participation Statistics:</strong></h2>
							<h3>
								<strong>
									The second OoT Championship Series race is already done and 41 people joined it! <br /><br /><br />
									That is 14 more than the first race and hopefully it can keep going, we can hit 50 I'm sure!<br />
								</strong>
							</h3>
						</td>
						<td class="table-customstyle">
							<img src="images/Challenges/Challenge2.png" class="img-responsive" alt="Challenge2.png">
						</td>
					</tr>
					<tr>
						<td colspan="2" class="table-customstyle">
							<h2><strong>Goal Explanation:</strong></h2>
							<h3>
								<strong>
									In the 3 years that I have been speedrunning, I've never seen anyone race any no damage goal and I thought it would be an interesting element to bring in one of the OCS races.
									<br /><br />
									The goal was basically No IM/WW but wrong warps were allowed and you just had to kill Ganondorf and not Ganon. I thought going down the tower with all those falling rocks would make the goal a bit too crazy since anytime you got hit you would have to go back to Ganon's Tower and kill Ganondorf all over again.
									<br /><br />
									The reason I banned RBA and GIM was that the way you would get Light Arrows with these glitches wouldn't make it as interesting or challenging to try to do without damage. You had to beat Shadow Temple and Spirit Temple to get Light Arrows and you also had to get Fairy Bow and magic to be able to shoot those arrows.
									<br /><br />
									Nayru's Love was also banned for obvious reasons.
								</strong>
							</h3>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Getting started</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h2><strong>First risk:</strong></h2>
							<h3>
								<strong>
									First of all, you had to figure out what to do in your child segment. The first things to decide were how to get explosives and Zelda's Lullaby. 
									<br /><br />
									Most people went straight to Bottom of the Well, but some got the Kakariko bottle first. 
									<br /><br />
									This is where the first risk of taking damage was, as if you were to go for the cucco ISG way of getting in the well, you could accidentally anger the cuccos and get attacked by them.
								</strong>
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<h3><iframe src="https://clips.twitch.tv/embed?clip=tashman91/CheerfulNarwhalTooSpicy&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe></h3>
							</div>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Bombchus:</strong></h2>
							<h3>
								<strong>
									With these restrictions, vineclip in Bottom of the Well was not possible but you could Ocarina dive to get Bombchus which is the option that most people went with. You just had to make sure to not take any fall damage or to avoid the poison water.
									<br /><br />
									The other popular option was to get Bombchus in Spirit Trial by wrong warping from Deku Tree. A couple runners went with this method but it involved more effort than Ocarina dive. You had to break the web in Deku Tree and then go down the vines or jump in the water to not take fall damage. For the Gohma fight, you couldn't double KO, so you had to Gohma clip or kill her, savewarp, save in Link's house and come back to Ganondoor. 
									<br /><br />
									The real challenge here was the Spirit Trial. You had to collect the silver rupees without getting touched by the Beamos or any of the spikes. MikeKatz managed to do it first try by smartly pulling the Armos statues to have an easier time dodging them.
								</strong>
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<a class="embedly-card" href="https://www.twitch.tv/mikekatz45/v/93211050#">Glass Ganon spirit trial for wthh</a>
								<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
							</div>
							<h3>
								<strong>
									You also could go the full glitchless way and go straight to Goron Bracelet and then get bombs from Dodongo's Cavern using that strength upgrade. This was the slowest way but also by far the safest (except for the scrubs on the way to Saria's Song but just shield!)
									<br /><br />
									Another option that no one picked but that still was a possibility could have been to get 10 Gold Skulltula tokens, grab the Adult's Wallet, 200 rupees and buy Bombchus from the salesman in the Haunted Wasteland. You would have to cucco jump over the Gerudo bridge for this. You could even go get Requiem as child at that point.
									<br /><br />
									The next part for the child segment would be to get Zelda's Lullaby since you could not RBA it either. One obstacle here was that you could not damage boost  to get to the crawlspace so you either had to megaflip from the milk crates or wake up Talon and jump from the crates. If you did Ganondoor then you had no issue at all here and could just go back in the crawlspace after getting out of it.
									<br /><br />
									Once you obtain ZL you should have all the tools you need for the adult segment but you could prepare a bit more if that's what you wanted. Din's Fire was a couple minutes slower to get but it made Shadow Temple (and a room in Spirit Temple) way easier and way less stressful. 
									<br /><br />
									You could also get Bombs on the way up Death Mountain to use them in Shadow temple too. All that separated you from Master Sword now was a very easy but scary Door of Time skip!
								</strong>
							</h3>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Graveyard and entering Shadow Temple</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Dampé</strong></h2>
							<h3>
								<strong>
									Once you are in Kakariko Village, (don't get grabbed by the Re-deads in Market!) this part is normally  where everyone just autopilots and thinks about what they have to do next, but in this challenge it was one of the most stressful parts. 
									<br /><br />
									The Dampé race to get Hookshot had this whole new scary allure where you couldn't get hit by any of the flames he drops. People are so used to cutting corners and rolling the whole way but you saw most runners take their time, wait after every corner and mostly walk to be as safe as they could. 
									<br /><br />
									Flofloo was the most courageous here and ended up with a time of 49 seconds which would still be pretty decent even without the no damage restriction!
								</strong>
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<a class="embedly-card" href="https://www.twitch.tv/flofloo2217/v/93271870">Flofloo</a>
								<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="table-customstyle">
							<h2><strong>Amazing Block Skip:</strong></h2>
							<h3>
								<strong>
									Once you had hookshot, you had the minor problem that you could not void to get back to the grave's entrance because that would mean you would lose one heart.
									<br /><br />
									There was no way anyone would beat all 3 child dungeons to get Song of Time so the way to go here was to savewarp back to Temple of Time and walk back to the Graveyard but Amateresu shocked everybody by doing an amazing damage boost through the block while still retaining his roll invicibility.
									<br /><br />
									This saved a lot of time over walking back from Temple of Time.
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=amateseru/HilariousLapwingSoBayed&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<blockquote class="text-center">
								<p>oh putain ca marché! Je suis un génie de la vie mon gars. (holy shit it worked! I am a life genius. Dude!)</p>
								<footer>Amateseru, OCS Race#2</footer>
							</blockquote>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="table-customstyle">
							<h2><strong>Entering Shadow Temple:</strong></h2>
							<h3>
								<strong>
									The last obstacle before entering Shadow Temple was that once you did the superslide teleport and seamwalk, you could not sidehop down in the unloaded torch area because that would mean taking fall damage. 
									<br /><br />
									Most people instead just jumped on the warp pad, walked down to the fully loaded torch area and did the ledge clip to get through the door and into the dungeon.
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=hyperion64/ExpensiveCheetahPJSalt&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								<strong>
									This is also where getting Din's Fire was useful because you could just do the same thing but light the torches instead of doing the ledge clip.
									<br /><br />
									Some people, like Exodus, decided to get bombs, magic and Minuet before Shadow Temple. This cost a bit of time but made the dungeon easier. 
									<br /><br />
									Others like Hyperion, even got Farore's Wind. It costs a few minutes since it's out of the way but it's super useful to set in every dungeon before parts you're not fully confident about. It makes those parts seem drastically easier because you have a really fast backup plan everytime.
								</strong>
							</h3>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>The Shadow Temple</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								<strong>
									The Shadow Temple had a couple tricky parts to it. Once you got your Hover Boots by not getting hit by Dead Hand, the next thing to worry about was the spinning blade room. Shielding right before the blade came close to you seemed like the best strategy but you could also just walk around and follow the cycle.
									<br /><br />
									If you didn't want to deal with the scythe at all, you could also weird shot to that small key or even skip it entirely and get the invisible Floormaster small key after the boat ride but that one also involved some risk.
									<br /><br />
									After the boat ride, you had to make two decisions. How to cross that gap and how to get through Bongo Bongo's door? You could use any of the regular ways to cross the gap like megasidehopping, supersliding or blowing up the bomb flowers with a Bombchu.
									<br /><br />
									The only added restriction was that you had to get it first try, but failing that will always be a big time loss, restriction or not.
									<br /><br />
									The Shadow Temple boss key skip setup involves getting boosted by an explosion after doing a ledge clip but you can also retain your invicibility if you get the trick on certain precise frames. This way didn't have to deal with the boss key room, but you also had to deal with the risk of failing and having to reset to the dungeon entrance.
								</strong>
								<br />
								</h3>
									<div class="text-center embed-responsive embed-responsive-16by9">
										<iframe src="https://clips.twitch.tv/embed?clip=sniping117/EasyMartenCoolCat&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
									</div>
								<h3>
								<strong>
									<br /><br />
									There were also multiple ways of obtaining the boss key. The easiest of them was Din's Fire, which was the method Marco used. Again, it was a bit slower to get the spell, but this way made this whole segment a lot easier. 
									<br /><br />
									You could also do a precise hover over the spikes to get to the chest but you would still have to leave the room before getting crushed which meant savewarping out or using Farore's Wind. Weirdshotting the boss key chest would also work but would have the same problem of having to leave the room.
									<br /><br />
									Lastly, all you had to do was to kill Bongo Bongo while dodging all his attacks. Some people got the Heart Container but they all realized as they were doing it that there was no point!
								</strong>
							</h3>
						</td>
					</tr>
				</table>

				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>The road to Minuet</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								<strong>
									For most people, the next part involved getting the Bomb Bag, magic and Minuet of Forest. You couldn't RBA more bombchus in this race, so bombs were pretty much required.
									<br /><br />
									Dodongo's Cavern wasn't too much of a problem for anyone. Doom jump was not an option but going up the normal way was pretty easy since all you had to do was not step in lava and dodge or kill the Keese before they hit you.
									<br /><br />
									You had two different ways to get to Magic, but most people decided to just climb Death Mountain from the outside. If you did it this way, you had to not get hit by any of the boulders, falling rocks, tektites or skulltulas. You also had to be super careful while going down the mountain too. 
									<br /><br />
									The safest way was probably to go inside Goron City and ground clip into Darunia's room (or bomb the rolling Goron) to then go up Death Mountain Crater. You could go back that same way after getting magic and this way you didn't have to deal with as many sources of damage.
								</strong>
								<br />
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=sniping117/MotionlessWalrusBigBrother&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								<strong>
									The rest of this segment was just getting to Sacred Forest Meadow and watching the Minuet of Forest cutscene.
								</strong>
							</h3>
						</td>
					</tr>
				</table>

				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>The Forest Temple</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								<strong>
									It was a little faster to do Forest Temple right after getting the song since then you didn't have to play Minuet again to get here and the bow was also useful for some parts of Spirit Temple. 
									<br /><br />
									At first you would get the same usual two small keys but then you couldn't do the regular route you would use in No IM/WW or MST to get to Fairy Bow since you couldn't do the megajump in the courtyard.
									<br /><br />
									You needed to get an extra key and open the door on the left of the main room first. Most people got the key from the Floormaster room by megasidehopping or megaflipping from the block room but you could also clip out of bounds this way!
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=sniping117/CooperativeChamoisBORT&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>                        
							</div>
							<h3>
								<strong>
									You could also just reach that door by rolling with Hover Boots. Draining the well was also a possibility if you wanted to skip this whole part and get that small key instead. 
									<br /><br />
									If you really didn't want to get any extra keys you could hover up where you would usually do the megajump, but PhoenixFeather stole the show here and went one step further with a strat he found years ago that was absolutely perfect for this challenge.
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=phoenixfeather1/UninterestedBatRedCoat&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>                        </div>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Haunted Wasteland and Desert Colossus</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								<strong>
									Now this is the part I dreaded the most while preparing this challenge. It's the part that almost made me reconsider doing it but after a lot of testing I thought that it would be doable, but very stressful. 
									<br /><br />
									After making your way to Gerudo Fortress, you definitely should have saved inside the fortress or inside Gerudo Training Grounds. A lot of people did this and some even got 5 more bombchus from the training grounds for Spirit hover while they were there.
									<br /><br />
									If you didn't save anywhere here, then anytime you would get damaged in the desert you would have to reset all the way back to Temple of Time so it was definitely worth it to take a couple seconds to save instead of losing even more minutes everytime you reset.
									<br /><br />
									You had to get past the quicksand and not void in the wasteland but the main problem was definitely Leevers. The fact that you knew that you would lose a couple minutes everytime you got touched made this part the most nerve-racking part of the whole run. 
									<br /><br />
									You had multiple ways to deal with them, but with good reactions you could usually make your way to Spirit Temple. Some people rolled all the way to the temple, some did a superslide and others fought their way through.
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=phoenixfeather1/AgreeableFoxPeteZarollTie&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=amateseru/HelplessFlyAsianGlow&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe> 
							</div>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=mikekatz45/BadCoyoteSmoocherZ&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>                       
							</div>
							<h3>
								<strong>
									The best strategy and most consistent strategy was to kill a couple "pack" of Leevers with quickspins until the big blue one appeared . That one is slower, very easy to dodge and then you get a peace period where the green ones stop appearing. 
									<br /><br />
									You can do this in the wasteland and in Colossus and then you shouldn't have any problems. All you had to do at this point is decide if you were going to Spirit Hover or not.
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<a class="embedly-card" href="https://www.twitch.tv/whatthehellshappened/v/93318767">Glass Ganon</a>
								<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
							</div>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>The Spirit Temple</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								<strong>
									The Spirit Temple was scary but not too hard if you were careful enough. The only problem was that if you did Spirit hover and saved inside the temple, anytime you would reset it would take you to the dungeon entrance at the bottom.
									<br /><br />
									If you didn't do Spirit Hover, you had to get the silver rupee small key and dodge the boulders on your way there.
									<br /><br />
									Again, nothing too hard if you play it safe. The next tricky part was the room with the three Anubis and the Beamos. You have to walk around the room for all the Anubis to burn in the fire but you also had to be careful not to void. 
									<br /><br />
									If you do this room in a certain way, you will sometimes cutscene dive and void once all the enemies are dead, but this couldn't happen in this challenge so you had to be wary of that. 
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=matttinthehat/AliveGoshawkKappa&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								<strong>
									Of course, if you had Din's Fire, you didn't have to worry about this at all.
									<br /><br />
									After getting Mirror Shield and surviving the Iron Knuckle, you had to decide how you would get to the boss room since many tricks weren't possible. 
									<br /><br />
									Unless you got Goron Tunic, there was no way of getting the boss key without getting damaged if you didn't want to remove the flames from around the chest
									<br /><br />
									The other way of getting the boss key was to go all the way back to your childhood and actually solve the puzzle and remove the flames. 
									<br /><br />
									For some reason, so many people (including myself before preparing this challenge) thought that you needed the hammer to do this room normally, but you only needed bombs and a bow. You just had to blow up the fake door that was hiding an eye switch, shoot that eye which made a glass platform appear near the ceiling. 
									<br /><br />
									You could then hookshot your way up there and step on a switch to make the fire go away. 
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=marco8641/WanderingTapirMrDestructoid&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<br />
							<h3>
								<strong>
									The next couple rooms were flooded with enemies. Pots, lizalfos and bubbles were all over the place so again, going slowly and carefully was the way to go here and Deku nuts were your best friends again. You couldn't do the actor glitch so you had to do the mirror puzzle normally and lower the platform in the main room. 
									<br /><br />
									Once you were there you could either boss key skip with a hover or unlock the boss door. The hoverslide boss key skip was not an option since you need to take damage while doing the ledge clip.
									<br /><br />
									There was a way to skip all of these rooms after Mirror Shield by going back down to the main statue room and do the statue climb and staircase hover boss key skip. Sniping did this and he probably had the fastest Spirit Temple in this race and it was a big reason why he had a big lead after Twinrova.
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<a class="embedly-card" href="https://www.twitch.tv/sniping117/v/93170447">Glass Ganon</a>
								<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
							</div>
							<h3>
								<strong>
									Nabooru-Knuckle and Twinrova were the same as usual since once you get hit by them you usually die anyway. You just couldn't do Nabooru cutscene skip. Once you beat the dungeon, you had to watch the Light Arrow cutscene but at least there was no way to get damaged in it.
								</strong>
							</h3>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Ganon's Castle</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								<strong>
									The last part of this race was to go up Ganon's Tower and kill Ganondorf, but first you had to trial skip, using whatever strat you prefered. Some did the staircase hover, others did the megasidehop or even the Armos clip.
									<br /><br />
									Dinofos and Stalfos are annoying, but once again Deku Nuts helped a lot. Once you got to the Iron Knuckles and Ganondorf you just had to not die.
									<br /><br />
									Farore's Wind could help here too because you can set it inside Ganon's Tower but not in the trial area. If you saved after watching Ganondorf's introduction cutscene, you didn't have to watch it fully whenever you came back so combined with Farore's Wind it made it pretty fast to go back and try again.
									<br /><br />
									We definitely saw some...interesting Ganondorf fights.
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=psymarth/InquisitiveSharkNotLikeThis&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=mrbubbleskp/MushyCamelMau5&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
						</td>
					</tr>
				</table>

				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Conclusion</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								<strong>
									There was one problem for people that got Farore's Wind and it's that some of them ended up being unable to equip Light Arrows because of the inventory glitch. 
									<br /><br />
									The combination of items they had was so uncommon that it never even occured to me that it could be an issue, so I'm sorry to people who ended up losing time because of that. 
									<br /><br />
									The solution for that was to get an item that would be close to the Light Arrows in your inventory like the Pocket Egg or the Ice Arrows.
									<br /><br />
									29 racers out of 41 ended up finishing the race. I was aware that more people would forfeit this race than the first one but I still wanted to try this type of race, but don't worry, this is the last "No damage" challenge for this Championship! 
									<br /><br />
									Overall, I think it went really well and I'm already excited for the 3rd race that will happen on October 16!
								</strong>
							</h3>
							<img src="images/Challenges/Result2.png" style="margin-right:auto;margin-left: auto;"  class="img-responsive center-block" alt="Result2.png">
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>