<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS - Recap Race #3</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/site.css">
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		 <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Leaderboard</a>
            </div>
            <div class="navbar-collapse collapse">  
                <ul class="nav navbar-nav">
					<li><a href="/challenges">Challenges</a></li>
					<li><a href="/information">Information</a></li>
					<li><a href="/revision">Race Revision</a></li>
					<li><a href="/highlights">Highlights</a></li>
					<li><a href="/halloffame">Hall of Fame</a></li>
					<li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
	</div>
	<div class="container body-content">
		<div id="backgroundDiv"></div>
		<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Race #3 - Killink Spree!</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Participation Statistics:</strong></h2>
							<h3>
								<strong>
									We're already 3 weeks into the Championship, only 7 more to go! <br /><br /><br />
									43 people joined the last race which means we beat the 41 from the second race! The 50 entrants race will come soon.<br />
								</strong>
							</h3>
						</td>
						<td class="table-customstyle">
							<img src="images/Challenges/Challenge3.png" class="img-responsive" alt="Challenge3.png">
						</td>
					</tr>
					<tr>
						<td colspan="2" class="table-customstyle">
							<h2><strong>Goal Explanation:</strong></h2>
							<h3>
								<strong>
									The goal for this race was to obtain 300 points by killing different enemies. Some people thought the goal might be to kill one of each "species" of enemies, but instead it was only enough to get 300 points.
									<br /><br />
									This was a bit like the 60 Skulltulas goal where you had to pick what you wanted to do instead of just getting all Skulltulas/enemies.You could still only kill one of each kind of enemies, so once you killed a Deku Baba for example, that was the only one that would give you a point.
									<br /><br />
									The racers also had a counter that they could use to add up their points. One thing that confused people was enemies like Keese or Fire/Ice Keese. Are they still considered Fire Keese if their fire is extinguished? The solution to this was obviously to go full casual and ask Navi!
									<br /><br />
								</strong>
							</h3>
							<div class="text-center embed-responsive embed-responsive-16by9">
								<h3><iframe src="https://clips.twitch.tv/embed?clip=exodus122/ShinyLyrebirdDansGame&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe></h3>
							</div>
							<h3>
								<strong>
									It was the same thing with Skulltulas and Big Skulltulas. The Skulltulas that block your way in Shadow Temple and Forest Temple are considered Big Skulltulas and the ones in Deku Tree are considered Skultullas. You could also ask Navi about this.
									<br /><br />
									Some people asked why Ganondorf was only worth one point and the reason was that we didn't want everyone to do Ganondorf because then the race would be a bit too much like the last challenge.                                 Everyone would beat Shadow and Spirit and then go defeat Ganondorf. The bosses and mini-bosses gave a lot of points so the best way to route was to figure out what bosses you wanted to do and then try to get as many smaller enemies on your way.
									<br /><br />
									For example, Forest Temple could be worth around 90 points, Gerudo Fortress, Colossus and Spirit Temple, around 125 points and Gohma + Ganon 60 points. If you did all 3 of these areas, you could then just pick up the smaller enemies you encounter in your route and it was enough.
									<br /><br />
									But if you did not want to deal with Spirit Temple or fighting Ganon, then you had to pick if you were going to do Fire Temple, Water Temple or Jabu-Jabu's Belly. Most people did King Dodongo but there was also the possibility of boat skip to get Bongo Bongo.
									<br /><br />
								</strong>
							</h3>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Result</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								<strong>
									Once again, it was really close between 1st and 2nd place. Exodus won with a 1:40:16 but Flo was right behind him with a 1:40:33. What was even more exciting is that Exodus finished on Ganon and Flo finished on Morpha so we had two completely different routes that finished only 17 seconds apart.
									<br /><br />
									Marco got 3rd place with a 1:43:55 and for a long time it seemed like he was going to win convincingly but unfortunately, a major mistake at Spirit Hover ended up costing him a lot of time, so he had to settle with 3rd place.
									<br /><br />
									PhoenixFeather won this chapter of the most popular OCS rivalry (him vs Blinkzy) by getting 4th place with a 1:44:54. To round up the top 5, we had MikeKatz who is one of the fastest improving OoT players as of late and should be a serious threat to qualify for the finals. He finished with a 1:46:17.
									<br /><br />
									As usual with these races, mistake management is key, no one will play perfectly but the person who can fix his mistakes the best will place well.
								</strong>
							</h3>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Individual dungeons review</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Bottom of the Well</strong></h2>
							<h3>
								<strong>
									Bottom of the Well had 15 fast points with Dead Hand if you were to do vineclip but if you were thinking of getting Hover Boots, you would get Dead Hand anyway.
									<br /><br />
									If you did Ocarina dive, you could just skip Dead Hand and if you did Ganondoor, you could just not go to the well at all. It was a good idea to kill the Green Bubble while you were there since it was a free 5 points.
								</strong>
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>The Deku Tree</strong></h2>
							<h3>
								<strong>
									The Deku Tree doesn't have too many enemies but it did have Gohma which was definitely fast enough to get 20 points. You could then get another 5 points killing random enemies. One idea was to let Gohma go to the ceiling so she could lay eggs and you could kill a Gohma Larva.
									<br /><br />
									Some people like Marco, did Ganondoor as child to get Bombchus in Ganon's Castle instead of going to Bottom of the Well. Others did it as adult so they could combine it with killing Ganon at the end. There were even people that did Ganondoor in child 2 to finish on Ganon.
								</strong>
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Dodongo's Cavern</strong></h2>
							<h3>
								<strong>
									Dodongo's Cavern had 33 points up for grabs. King Dodongo was one of the essential bosses you would want to kill seeing as you would probably go to DC anyway to kill bombs and it's only a couple more minutes to kill him and get another 20 points.
									<br /><br />
									Some people like Marco decided to light the eyes, leave to get a warp song and came back to wrong warp to Gerudo Training Grounds. GTG and Spirit Temple brought in a lot of points, so that was a solid route idea.
									<br /><br />
									DC has unique enemies like Baby Dodongos and Dodongos that are pretty fast to get but it has also has 4 Lizalfos that could give you 5 points. You could either get the ones after opening the Bomb chest or go through the room with the Dodongos and get it there.
									<br /><br />
									Another option was that if you were going to Spirit Temple, it was faster to skip Lizalfos in DC altogether since the ones in Spirit Temple were more on your way. The Gold Skulltula on the vines after going up the stairs was one of the best possibilities you had to get that point.
								</strong>
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Jabu Jabu's Belly</strong></h2>
							<h3>
								<strong>
									Jabu Jabu's Belly was very interesting in this challenge because you could decide if you would do it as child or as adult. 43 points were available  if you did it as child because you had access to all the enemies but also to Barinade which was a nice 20 points.
									<br /><br />
									If you chose to do it as adult, then you had a slower setup to get into Jabu but you could skip carrying Ruto all the way up to the Boomerang room and kill Big Octo. You would lose out on 20 points doing this but it was a good option if you were stuck needing around 20 points as an adult.
									<br /><br />
									The problem with adult Jabu was that Ice Cavern wasn't really worth going to so Zora's Fountain was completely out of the way whatever you wanted to do.
								</strong>
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Forest Temple</strong></h2>
							<h3>
								<strong>
									Forest Temple was the dungeon where you could get the most points, which was all the way up to 83. You could get 40 points by killing all the poes (another 10 for Stalfos on the way) and 20 by killing Phantom Ganon.
									<br /><br />
									Depending on your route, you could decide you only needed to do the first 2 poes after getting Fairy Bow or just going straight to Phantom Ganon. If you RBA'd a quiver, you could also just kill Amy and combine that with the boss.
									<br /><br />
									Some people also went back in time so they had to beat the Temple too. Surprisingly, Flo who finished in 2nd place did not even go to Forest Temple.
								</strong>
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Fire Temple</strong></h2>
							<h3>
								<strong>
									One of the things I was the most surprised to see was how many people did Fire Temple. It had 55 points to give but only 2 unique enemies (Flare Dancer and Volvagia). Killing Volvagia is around 10 minutes from the entrance of the dungeon but you would also get 15 points from the Flare Dancer on your way there.
									<br /><br />
									If you had enough points routed out, you could also just get the first small key in Darunia's room and go straight to the Flare Dancer that guides the Boss Key. You could not do the rest of the dungeon if you did that, but it was a fast 15 points (plus Torch Slugs, Keese and a Like Like on the way).
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=mikekatz45/PreciousShrimpPeoplesChamp&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								<strong>
									There are Red Bubbles in Gerudo Training Grounds, Shadow Temple and Ganon's Castle, but the ones in Fire Temple were the fastest ones to get. Since they don't directly attack you, they are pretty hard to kill, but everyone still wanted to get those 5 points.
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe width="640" height="360" src="https://www.youtube.com/embed/aK6Gxf7NVGE" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>
								<strong>
									Most people skipped Goron Tunic since they killed multiple bosses to get hearts but it backfired on some of them that died to Volvagia or failed the wrong warp to Forest Temple. Exodus went with the safe route, got the tunic and finished in 1st place anyway!
									<br /><br />
									Gombill also decided to get tunic and I'm happy he did because now we got to see this amazing bowling snipe.
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=gombill/CuriousFinchStoneLightning&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Water Temple</strong></h2>
							<h3>
								<strong>
									Water Temple was a popular dungeon that people did, but most just beat Morpha and left with those 30 points. If you didn't RBA, Dark Link would be tricky and slow to do but if you RBA Water keys, then you get the 20 points from Dark Link pretty fast and you can even pick up Longshot.
									<br /><br />
									Getting the fake Bomb Bag wouldn't even be out of the way since you would want to light the eyes in Dodongo's Cavern to kill King Dodongo anyway.
									<br /><br />
									Other than that, Water Temple only had one real unique enemy which was Spikes and getting them meant finding a way to going to the bottom of the water and also talking to Ruto, so it wasn't worth it for just one point.
								</strong>
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Shadow Temple</strong></h2>
							<h3>
								<strong>
									Everyone went to Shadow Temple but most people just got Hover Boots. You had a possibility of 82 points in Shadow Temple but getting Zelda's Lullaby for the Invisible Floormaster (15 pts) and Bongo Bongo (30 pts) was not the best idea since these would be the only 2 enemies that require Zelda's Lullaby.
									<br /><br />
									All the smaller enemies in the temple appear in other areas so going deep in the dungeon was not worth the time. You got that free 15 points from Dead Hand since everyone wanted Hover Boots. Boat Skip was amazing for this challenge though, you would get a super fast 30 pts but you had to do one of the riskiest tricks in the game. Some people pulled it off first try but others lost minutes, that trick is not forgiving.
								</strong>
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Spirit Temple</strong></h2>
							<h3>
								<strong>
									A lot of people went to Spirit Temple. On the way there you could stop by Gerudo Fortress and get 10 points from a Gerudo Guard and 10 points from a Dinolfos. This was the only time that you could just kill an enemy and leave the room since you usally want the Small Key you would get from killing all enemies.
									<br /><br />
									Exodus had a close call with the Dinolfos but because of the goal, he could just leave once he dealt with one of them.
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=exodus122/PoisedNarwhalBionicBunion&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
							<h3>
								<strong>
									In Desert Colossus, you could also get a free 5 points from a Big Leever. The Big Leever appears once you kill a certain number of normal Leevers (usually at least 7 or 8).
								</strong>
							</h3>
							<h3>
								<strong>
									The Twinrova + Nabooru-Knuckle combo brought in 50 points but that wasn't even counting the Invisible Floormaster, Iron Knuckle and White Bubbles. Spirit Temple can already be a pretty challenging dungeon but you had to do it without Zelda's Lullaby since there was no other reason to get it, so you didn't really have any backup plan if you messed up somewhere.
									<br /><br />
									If you didn't want to Spirit Hover, you could just go through the dungeon and statue climb to just get those 20 points from Nabooru-Knuckle and leave. If you were planning on killing Twinrova, just make sure you have Mirror Shield.
								</strong>
							</h3>
							<br />
							<div class="text-center embed-responsive embed-responsive-16by9">
								<iframe src="https://clips.twitch.tv/embed?clip=bzy/ObedientClamPRChase&autoplay=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							</div>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Ganon's Tower</strong></h2>
							<h3>
								<strong>
									Ganon's Tower had 3 enemies that brought in a lot of points but you could get all of them in other areas that were more on the way. You could get Dinolfos on the way to Spirit Temple, Stalfos in Forest or Shadow Temple and Iron Knuckle in Spirit Temple on you way to the boss.
									<br /><br />
									It was the same thing with the trials. At first it would seem like child Ganondoor would be really good because you could just go to all the trials and kill the enemies (beamos, wolfos, torch slugs, freezards, skulltulas, keese) but then it's the same thing, there's a faster option for them everywhere.
									<br /><br />
									A lot of people decided to Ganondoor as adult so they could finish on Ganon and if you didn't do Forest Temple, you could also pick up Stalfos points on your way down the tower.
								</strong>
							</h3>
						</td>
					</tr>
				</table>

				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title"><strong>Conclusion</strong></h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								<strong>
									After winning his first OCS race, Exodus takes the lead in the standings. Flo is now in second place after getting second in the last two races. Sniping lost a chance to increase his lead and falls to third now, but to his defence, he was playing on emulator for the last race. With an 8th place in the Killink spree, Amateseru also falls to 4th place and Blinkzy remains in fifth. Marco and PhoenixFeather only joined the last two races but nevertheless, they are still two strong contenders to place in the top 5.
									<br /><br />
									Once again, thanks to everyone who joined and the next race will be on October 30. If you haven't joined any of the first three, don't worry, you can still join and accumulate points.
									<br /><br />
									Even if your goal would be to place in the top 5, you could still do it, even with 7 races left.
								</strong>
							</h3>
							<br /><br />
							<img src="images/Challenges/Result3.png" style="margin-right:auto;margin-left: auto;" class="img-responsive center-block" alt="Result3.png">
						</td>
					</tr>
				</table>
				<div class="updiv row table-padding">
					<div>
						<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							<thead>
								<tr class="table-header text-center">
									<th colspan="5"><h3 class="text-center h-marginfix">Killing Spree! Stats</h3></th>
								</tr>
								<tr class="table-header">
									<th><h4 class="h-marginfix text-center title"><strong>Location</strong></h4></th>
									<th><h4 class="h-marginfix text-center title"><strong>Maximum Enemies (pts)</strong></h4></th>
									<th><h4 class="h-marginfix text-center title"><strong>Unique Enemies (pts)</strong></h4></th>
								</tr>
							</thead>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Deku Tree</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>26</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>22</strong></h4></td>
							</tr>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Dodongo's Cavern</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>34</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>22</strong></h4></td>
							</tr>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Jabu-Jabu's Belly</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>43</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>40</strong></h4></td>
							</tr>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Forest Temple</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>88</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>65</strong></h4></td>
							</tr>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Fire Temple</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>56</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>46</strong></h4></td>
							</tr>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Water Temple</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>57</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>52</strong></h4></td>
							</tr>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Shadow Temple</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>84</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>30</strong></h4></td>
							</tr>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Spirit Temple</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>113</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>56</strong></h4></td>
							</tr>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Bottom of the Well</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>29</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>0</strong></h4></td>
							</tr>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Gerudo's Fortress + Gerudo's Training Ground</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>33</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>10</strong></h4></td>
							</tr>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Ice Cavern</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>20</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>1</strong></h4></td>
							</tr>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Ganon's Castle</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>50</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>1</strong></h4></td>
							</tr>
							<tr>
								<td><h4 class="h-marginfix text-center"><strong>Hyrule Field</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>33</strong></h4></td>
								<td><h4 class="h-marginfix text-center"><strong>24</strong></h4></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>