<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Season 2 - Quarter 1</title>
  <% include partials/head %>
</head>

<body>
  <div class="backgroundDiv"></div>
  <% include partials/header %>
  
	<div class="container body-content">
		<div id="backgroundDiv"></div>
					<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Season 2 - Recap 1st Quarter </h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Participation Statistics:</strong></h2>
							<h3>
								Just like that the first quarter of the second OCS season is over. All three races were bigger than any race from the first season (63, 69 and 73 entrants). We had 97 different entrants join at least one race so we need 74 of those to join the next race to keep growing. </br></br>
								Anyone can still join any race, you do not have to register, just show up in the race channel on time and play. Some players have continued their strong play from last year but there has also been a fair share of surprises. </br></br>
							</h3>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Not Like Like This - Race 1</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img src="/images/Challenges/S2/C1.png" class="img-responsive" alt="ResuleS2C1.png">
							<h2><strong>Participation Statistics:</strong></h2>
							<h3>
								The first race of the season was a regular challenge and it was meant to be a simple goal that would still get people a little bit out of their comfort zone. </br></br> 
								Since you can do most things in the game without a shield casually, the restriction meant that players did not have to learn many new tricks if their goal was to finish. </br></br>
								Defeat five bosses without ever obtaining any shields is not something you need to know for any categories, but it is still a goal that can be achievable with a level of improvisation. </br></br>
							</h3>
						</td>
						<td class="table-customstyle" style="width:50%">
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th colspan="3"><h3 class="h-marginfix text-center title">Top 25 Result</h3></th>
								</tr>
								<tr class="table-header">
								  <th>Position</th>
								  <th>Player</th>
								  <th>Score</th>
								</tr>
							  </thead>
							  <tr><td>#1</td><td>Amateseru<td>200</td></tr>
							  <tr><td>#2</td><td>Bonooruu</td><td>175</td></tr>
							  <tr><td>#3</td><td>Runnerguy2489</td><td>160</td></tr>
							  <tr><td>#4</td><td>Realtimeattack64</td><td>150</td></tr>
							  <tr><td>#5</td><td>Exodus</td><td>140</td></tr>
							  <tr><td>#6</td><td>Marco<td>132</td></tr>
							  <tr><td>#7</td><td>Jenslang</td><td>125</td></tr>
							  <tr><td>#8</td><td>Hyperion64</td><td>118</td></tr>
							  <tr><td>#9</td><td>Tob3000</td><td>111</td></tr>
							  <tr><td>#10</td><td>Juwk</td><td>105</td></tr>
							  <tr><td>#11</td><td>PhoenixFeather<td>100</td></tr>
							  <tr><td>#12</td><td>Dannyb21892</td><td>95</td></tr>
							  <tr><td>#13</td><td>Mrbubbleskp</td><td>90</td></tr>
							  <tr><td>#14</td><td>Gregortixlkyns</td><td>85</td></tr>
							  <tr><td>#15</td><td>Blinkzy</td><td>80</td></tr>
							  <tr><td>#16</td><td>Psymarth<td>75</td></tr>
							  <tr><td>#17</td><td>Acermax</td><td>70</td></tr>
							  <tr><td>#18</td><td>Scaramanga</td><td>66</td></tr>
							  <tr><td>#19</td><td>Thecowness</td><td>62</td></tr>
							  <tr><td>#20</td><td>Chris7M</td><td>58</td></tr>
							  <tr><td>#21</td><td>Flanthis</td><td>54</td></tr>
							  <tr><td>#22</td><td>Menou</td><td>50</td></tr>
							  <tr><td>#23</td><td>Gombill</td><td>46</td></tr>
							  <tr><td>#24</td><td>Sonfloro</td><td>43</td></tr>
							  <tr><td>#25</td><td>Bou_Frost</td><td>40</td></tr>
							</table>
													</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
