<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Race Revision</title>
  <% include partials/head %>
</head>

<body>
  <div id="backgroundDiv"></div>
  <% include partials/header %>

    <div class="container body-content">
      <div class="updiv row hidden-xs text-center">
        <h1 class="title">
          OoT Championship Series - Race Revision by MikeKatz45
        </h1>
      </div>
      <div class="updiv row table-padding">
        <div>
          <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
            <thead>
              <tr class="table-header">
                <th>
                  <h3 class="h-marginfix text-center title"><strong>Race #1</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td colspan="1" class="table-customstyle">
                <div class="embedly-card text-center">
                  <iframe width="640" height="360" src="https://www.youtube.com/embed/qU412xsDwEc" frameborder="0" allowfullscreen></iframe>
                </div>
              </td>
            </tr>
          </table>
          <br /><br />
          <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
            <thead>
              <tr class="table-header">
                <th>
                  <h3 class="h-marginfix text-center title"><strong>Race #2</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td colspan="1" class="table-customstyle">
                <div class="embedly-card text-center">
                  <iframe width="640" height="360" src="https://www.youtube.com/embed/FiIDRboe7J8" frameborder="0" allowfullscreen></iframe>
                </div>
              </td>
            </tr>
          </table>
          <br /><br />
          <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
            <thead>
              <tr class="table-header">
                <th>
                  <h3 class="h-marginfix text-center title"><strong>Race #3</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td colspan="1" class="table-customstyle">
                <div class="embedly-card text-center">
                  <iframe width="640" height="360" src="https://www.youtube.com/embed/cHgew-N-ydM" frameborder="0" allowfullscreen></iframe>
                </div>
              </td>
            </tr>
          </table>
          <br /><br />
          <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
            <thead>
              <tr class="table-header">
                <th>
                  <h3 class="h-marginfix text-center title"><strong>Race #4</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td colspan="1" class="table-customstyle">
                <div class="embedly-card text-center">
                  <iframe width="640" height="360" src="https://www.youtube.com/embed/OKO4jwxy744" frameborder="0" allowfullscreen></iframe>
                </div>
              </td>
            </tr>
          </table>
          <br /><br />
          <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
            <thead>
              <tr class="table-header">
                <th>
                  <h3 class="h-marginfix text-center title"><strong>Race #5</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td colspan="1" class="table-customstyle">
                <div class="embedly-card text-center">
                  <iframe width="640" height="360" src="https://www.youtube.com/embed/ZeFestL1ad8" frameborder="0" allowfullscreen></iframe>
                </div>
              </td>
            </tr>
          </table>
          <br /><br />
          <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
            <thead>
              <tr class="table-header">
                <th>
                  <h3 class="h-marginfix text-center title"><strong>Race #6</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td colspan="1" class="table-customstyle">
                <div class="embedly-card text-center">
                  <iframe width="640" height="360" src="https://www.youtube.com/embed/sJ7lrBUbPTE" frameborder="0" allowfullscreen></iframe>
                </div>
              </td>
            </tr>
          </table>
          <br /><br />
          <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
            <thead>
              <tr class="table-header">
                <th>
                  <h3 class="h-marginfix text-center title"><strong>Race #7</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td colspan="1" class="table-customstyle">
                <div class="embedly-card text-center">
                  <iframe width="640" height="360" src="https://www.youtube.com/embed/Q22plQCoNwc" frameborder="0" allowfullscreen></iframe>
                </div>
              </td>
            </tr>
          </table>
          <br /><br />
          <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
            <thead>
              <tr class="table-header">
                <th>
                  <h3 class="h-marginfix text-center title"><strong>Race #8</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td colspan="1" class="table-customstyle">
                <div class="embedly-card text-center">
                  <iframe width="640" height="360" src="https://www.youtube.com/embed/PfaL7lzryo4?list=PLaQBCspP1UEeHSud_1YgHnkkdKlFD_umX"
                    frameborder="0" allowfullscreen></iframe>
                </div>
              </td>
            </tr>
          </table>
          <br /><br />
          <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
            <thead>
              <tr class="table-header">
                <th>
                  <h3 class="h-marginfix text-center title"><strong>Race #9</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td colspan="1" class="table-customstyle">
                <div class="embedly-card text-center">
                  <iframe src="https://www.youtube.com/embed/oJmQqut4o9Y?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe>
                </div>
              </td>
            </tr>
          </table>
          <br /><br />
          <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
            <thead>
              <tr class="table-header">
                <th>
                  <h3 class="h-marginfix text-center title"><strong>Race #10</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td colspan="1" class="table-customstyle">
                <div class="embedly-card text-center">
                  <iframe width="640" height="360" src="https://www.youtube.com/embed/zvv9OOuFGOY" frameborder="0" allowfullscreen></iframe>
                </div>
              </td>
            </tr>
          </table>
          <br /><br />
          <table style="width:0%; margin: 0 auto;" class="table table-bordered table-responsive">
            <thead>
              <tr class="table-header">
                <th>
                  <h3 class="h-marginfix text-center title"><strong>Comment</strong></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td colspan="1" class="table-customstyle">
                <h3 style="text-align:center;">
                  Thanks to <a target="_blank" href="https://www.twitch.tv/mikekatz45">MikeKatz45</a> for planning and executing
                  the route revision!
                  <br /><br />
                  <a target="_blank" href="https://www.youtube.com/playlist?list=PLaQBCspP1UEeHSud_1YgHnkkdKlFD_umX">Youtube Playlist</a>
                </h3>
              </td>
            </tr>
          </table>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</body>

</html>
