<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS - Race Revision</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/site.css">
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		 <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Leaderboard</a>
            </div>
            <div class="navbar-collapse collapse">  
                <ul class="nav navbar-nav">
					<li><a href="/challenges">Challenges</a></li>
					<li><a href="/information">Information</a></li>
					<li><a href="/revision">Race Revision</a></li>
					<li><a href="/highlights">Highlights</a></li>
					<li><a href="/halloffame">Hall of Fame</a></li>
					<li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
	</div>
	<div class="container body-content">
		<div id="backgroundDiv"></div>
		<div class="updiv row hidden-xs text-center">
			<h1 class="title">
				OoT Championship Series - Race Revision
			</h1>
		</div>
		 <div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive" id="ScoresboardTable">
						<thead>
							<tr class="table-header">
								<th><h3 class="h-marginfix text-center title"><strong>Revision</strong></h3></th>
							</tr>
						</thead>
						<tr>
							<td colspan="2" class="table-customstyle">
							<h3 style="text-align:center;">
								Thanks to MikeKatz45 for planning and executing the route revision!
								<br /><br />
								Disagree with the route or knowing something that might help?
								<br /><br />
								Come argue with mike in the discord channel.
								<br /><br />
								<a target="_blank" href="https://www.youtube.com/playlist?list=PLaQBCspP1UEeHSud_1YgHnkkdKlFD_umX">Youtube Playlist</a>
							</h3>
							</td>
						</tr>
						<tr>
							<td colspan="2" class="table-customstyle">
								<div class="text-center embed-responsive embed-responsive-16by9">
									<iframe width="640" height="360" src="https://www.youtube.com/embed/qU412xsDwEc" frameborder="0" allowfullscreen></iframe>
								</div>
								<br /><br />
								<div class="text-center embed-responsive embed-responsive-16by9">
									<iframe width="640" height="360" src="https://www.youtube.com/embed/FiIDRboe7J8" frameborder="0" allowfullscreen></iframe>
								</div>
								<br /><br />
								<div class="text-center embed-responsive embed-responsive-16by9">
									<iframe width="640" height="360" src="https://www.youtube.com/embed/cHgew-N-ydM" frameborder="0" allowfullscreen></iframe>
								</div>
								<br /><br />
								<div class="text-center embed-responsive embed-responsive-16by9">
									<iframe width="640" height="360" src="https://www.youtube.com/embed/OKO4jwxy744" frameborder="0" allowfullscreen></iframe>
								</div>
								<br /><br />
								<div class="text-center embed-responsive embed-responsive-16by9">
									<iframe width="640" height="360" src="https://www.youtube.com/embed/ZeFestL1ad8" frameborder="0" allowfullscreen></iframe>
								</div>
								<br /><br />
								<div class="text-center embed-responsive embed-responsive-16by9">
									<iframe width="640" height="360" src="https://www.youtube.com/embed/sJ7lrBUbPTE" frameborder="0" allowfullscreen></iframe>
								</div>
								<br /><br />
								<div class="text-center embed-responsive embed-responsive-16by9">
									<iframe width="640" height="360" src="https://www.youtube.com/embed/Q22plQCoNwc" frameborder="0" allowfullscreen></iframe>
								</div>
							</td>
						</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>