<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OCS Afterparty</title>
<% include partials/head %>
<link rel="stylesheet" href="/afterparty.css">
<script src="script/afterparty.js"></script>
</head>
<body>
  <div class="backgroundDiv"></div>
  <div class="col-lg-12 hidden-md hidden-xs hidden-sm">
		<div class="row">
			<div class="col-lg-12 col-centered" style="padding-top:20px;">
				<div class="media message-wrap-header">
						<div>
							<h1 class="message-wrap-header-text" align="center">OCS Season 2 - Race #8 - Skulltula Revenge</h1>
						</div>
				</div>
				<div class="msg-wrap row" style="padding-right:20px;">
					<div class="col-lg-10">
						<h1 class="message-wrap-header-text">Goal: </h1>
						<h2 style="font-family: FOT-ChiaroStd;" class="message-wrap-header-text">Obtain 20 Gold Skulltula tokens.</h2>
					</div>

					<div class="col-lg-1" style="padding-top:10px;">
						<div class="box" >
							<img src="images/GoldSkulltulaG.png" alt="Smiley face" height="42" width="42">
							<label class="box-text" id="qtyLabel">0 / 20</label>
							<input id="qty" class="hidden" value="0" />
						</div>
					</div>
					<div class="col-lg-1" style="padding-top:10px;"	>
						<div class="box" >
							<img src="images/GoldSkulltulaG.png" alt="Smiley face" height="42" width="42">
							<label class="box-text" id="qtyLabel">0 / 20</label>
							<input id="qty" class="hidden" value="0" />
						</div>
					</div>
				</div>
				<div style="padding-bottom:20px;" class="msg-wrap">
					<h1 class="message-wrap-header-text">Restrictions:</h1>
						<h3 style="font-size:25px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">Every time you fill a slot in your select item or equipment screen, you must obtain 5 more Gold Skulltula tokens.</h3>
						<h3 style="font-size:25px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">Only swords, shields, tunics and boots count for the equipment screen.</h3>
						<h3 style="font-size:25px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">The Master Sword is free and does not add any Skulltulas</h3>
						<h3 style="font-size:25px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text">Timing ends once you have the amount of Skulltulas corresponding to your total number of items.</h3>
						<h3 style="font-size:25px; font-family: FOT-ChiaroStd;" class="message-wrap-header-text"> You cannot get rid of an item to lower your Skulltula count, once you have the item, your Skulltula count cannot go down.</h3>
				</div>
				<br>
			</div>
		</div>
	</div>
</html>
