.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
  font-family: Hylia Serif Beta;
  font-size: 100px;
  color: white;
  text-align: center;
}

.main-title .sub {
  font-size: 48px;
  position: relative;
  left: -200px;
  bottom: -40px;
  text-transform: lowercase;
}

.desc {
  max-width: 1200px;
  font-size: 24px;
  color: white;
  font-family: FOT-Chiaro Std;
  padding: 16px;
  margin: auto;
}

@media (max-width: 1000px) {
  .main-title {
    font-size: 10vw;
  }
  .main-title .sub {
    font-size: 4.8vw;
    left: -20vw;
    bottom: -4vw;
  }
  .desc {
    font-size: 16px;
  }
}
