@font-face {
  font-family: 'FOT-Chiaro Std';
  src: url('/fonts/fot-chiarostd-b_0-webfont.woff');
}

@font-face {
  font-family: 'Hylia Serif Beta';
  src: url('/fonts/HyliaSerifBeta-Regular.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.container {
  padding-top: 50px;
}

.backgroundDiv {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size:cover;
  background-position:center;
  z-index:-100;
  background-image:url(/images/Hallowen.png);
}

#backgroundDiv {
  top: 0;
}
