@font-face {
  font-family: 'FOT-Chiaro Std';
  src: url('/fonts/FOT-ChiaroStd-B_0.otf');
}

@font-face {
  font-family: 'Hylia Serif Beta';
  src: url('/fonts/HyliaSerifBeta-Regular.otf');
}

.main-title {
  font-family: Hylia Serif Beta;
  font-size: 100px;
  color: white;
}

.main-title .sub {
  font-size: 48px;
  text-transform: lowercase;
  position: relative;
  left: -200px;
  bottom: -50px;
}

.desc {
  font-size: 24px;
  color: white;
  font-family: FOT-Chiaro Std;
  text-align: center;
  margin: 100px 150px 0;
}

.navbar {
  font-family: FOT-Chiaro Std;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
  border: 0;
  font-weight: 300;
}

#backgroundDiv {
  top: 0;
}
