.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
	
    
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(/images/pattern.png)  repeat top left; 
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    padding-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
     z-index:-100;
    /*animation: imageAnimation 36s linear infinite 0s;*/ 
    animation: imageAnimation 390s linear infinite 0s; 
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #000;
    animation: titleAnimation 30s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li:nth-child(1) span {
    background-image: url(/images/Windmill.png);
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(/images/Castle.png);
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(/images/Windmill.png);
    animation-delay: 60s; 
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(/images/Castle.png); 
    animation-delay: 90s; 
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(/images/Windmill.png);
    animation-delay: 120s; 
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(/images/Castle.png); 
    animation-delay: 150s; 
}
.cb-slideshow li:nth-child(7) span {
    background-image: url(/images/Windmill.png); 
    animation-delay: 180s; 
}
.cb-slideshow li:nth-child(8) span {
    background-image: url(/images/Castle.png); 
    animation-delay: 210s; 
}
.cb-slideshow li:nth-child(9) span {
    background-image: url(/images/Windmill.png);
    animation-delay: 240s; 
}
.cb-slideshow li:nth-child(10) span {
    background-image: url(/images/Castle.png);  
    animation-delay: 270s; 
}
.cb-slideshow li:nth-child(11) span {
    background-image: url(/images/Windmill.png);
    animation-delay: 300s; 
}
.cb-slideshow li:nth-child(12) span {
    background-image: url(/images/Castle.png); 
    animation-delay: 330s; 
}
.cb-slideshow li:nth-child(13) span {
    background-image: url(/images/Windmill.png);
    animation-delay: 360s; 
}
.cb-slideshow li:nth-child(14) span {
    background-image: url(/images/Castle.png); 
    animation-delay: 390s; 
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 60s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 90s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 120s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 150s; 
}
.cb-slideshow li:nth-child(7) div { 
    animation-delay: 180s; 
}
.cb-slideshow li:nth-child(8) div { 
    animation-delay: 210s; 
}
.cb-slideshow li:nth-child(9) div { 
    animation-delay: 240s; 
}
.cb-slideshow li:nth-child(10) div { 
    animation-delay: 270s; 
}
.cb-slideshow li:nth-child(11) div { 
    animation-delay: 300s; 
}
.cb-slideshow li:nth-child(12) div { 
    animation-delay: 330s; 
}
.cb-slideshow li:nth-child(13) div { 
    animation-delay: 360s; 
}
.cb-slideshow li:nth-child(14) div { 
    animation-delay: 390s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    1% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    1% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}