<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Season 2 - Quarter 3</title>
  <% include partials/head %>
</head>

<body>
  <div class="backgroundDiv"></div>
  <% include partials/header %>
  
	<div class="container body-content">
		<div id="backgroundDiv"></div>
			<div class="updiv row table-padding">
			<div>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Quarter 3 Recap</h3></th>
						</tr>
					</thead>
					<tr>
							<td class="table-customstyle">
								<h3>
									Things are getting hot! The last quarter of the OCS season is about to start and we have a tight battle in the race for the playoffs. Although the top spot seems set in stone, the rest of the top 10 might still shuffle quite a bit. </br></br> 
									No one wants to face the 10th seed instead of the 14th seed in the first round. 105 different players have joined at least one race so far, that is 28 more than the entirety of the first season. </br></br> 
									Many players will not make the playoffs but this is their last chance to climb up in the rankings.</br></br> 
							</h3>
						</td>
					</tr>
					</table>
					
					<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Power rankings</h3></th>
						</tr>
					</thead>

					<tr>
						<td class="table-customstyle">
							<h3>
								Amateseru just keeps on trucking, he has been at the top of the leaderboard since the very first race and not much can stop him now. Tob has also had a good quarter with two second place finishes. </br></br> 
								The middle of the rankings are where the results are the most interesting. Chris7M is trending up with a 3rd and 12th place finish. Matt and Numberplay are also in the top 16 for this quarter, but they will need to get really good placings in the next race to have a chance to make the playoffs. </br></br> 

							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle" style="width:50%;text-align:center;">
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th>Position</th>
								  <th>Player</th>
								  <th>Score</th>
								</tr>
							  </thead>
							  <tr><td>#1</td><td>Amateseru<td>485</td></tr>
							  <tr><td>#2</td><td>Tob3000</td><td>461</td></tr>
							  <tr><td>#3</td><td>Exodus</td><td>436</td></tr>
							  <tr><td>#4</td><td>Hyperion64</td><td>432</td></tr>
							  <tr><td>#5</td><td>Runnerguy2489</td><td>383</td></tr>
							  <tr><td>#6</td><td>Juwk</td><td>380</td></tr>
							  <tr><td>#7</td><td>Phoenixfeather</td><td>367</td></tr>
							  <tr><td>#8</td><td>Marco</td><td>305</td></tr>
							  <tr><td>#9</td><td>Blinkzy</td><td>268</td></tr>
							  <tr><td>#10</td><td>Psymarth</td><td>265</td></tr>
							  <tr><td>#11</td><td>Scaramanga</td><td>265</td></tr>
							  <tr><td>#12</td><td>Chris7M</td><td>256</td></tr>
							  <tr><td>#13</td><td>Matttinthehat</td><td>222</td></tr>
							  <tr><td>#14</td><td>Armorysons</td><td>207</td></tr>
							  <tr><td>#15</td><td>Numberplay</td><td>200</td></tr>
							  <tr><td>#16</td><td>Doctorkill</td><td>199</td></tr>
							  <tr><td>#17</td><td>Gombill</td><td>197</td></tr>
							  <tr><td>#18</td><td>Mrbubbleskp</td><td>195</td></tr>
							  <tr><td>#19</td><td>Realtimeattack64</td><td>193</td></tr>
							  <tr><td>#20</td><td>Dannyb21892</td><td>190</td></tr>
							  <tr><td>#21</tsd><td>Jenslang</td><td>168</td></tr>
							  <tr><td>#22</td><td>Sloth</td><td>162</td></tr>
							  <tr><td>#23</td><td>Gregortixlkyns</td><td>153</td></tr>
							  <tr><td>#24</td><td>Sonfloro</td><td>145</td></tr>
							  <tr><td>#25</td><td>Bou_Frost</td><td>123</td></tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Beyond The Memes - Race #7</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img src="/images/Challenges/S2/C7.png" class="img-responsive" alt="C7.png">
							<h3 style="text-align:center">Runnerguy2489 - The invisible chest save.<h3>
							<div>
								<iframe src="https://clips.twitch.tv/embed?clip=RoughApatheticPeafowlPeteZarollTie&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							<div/>
							<h3 style="text-align:center">Xanra - Broken Longshot.<h3>
							<div>
								<iframe src="https://clips.twitch.tv/embed?clip=CovertAlertSpaghettiKappaClaus&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							<div/>
						</td>
						<td class="table-customstyle" style="width:50%;text-align:center;">
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th colspan="4"><h3 class="h-marginfix text-center title">Standings after 7 races:</h3></th>
								</tr>
								<tr class="table-header">
								  <th>Position</th>
								  <th>Player</th>
								  <th>Score</th>
								  <th>Difference</th>
								</tr>
							  </thead>
								<tr><td>#1</td><td>Amateseru			<td>1210</td>	<td>=</td></tr>
								<tr><td>#2</td><td>Exodus				<td>1020</td>	<td>=</td></tr>
								<tr><td>#3</td><td>Hyperion64			<td>966</td>	<td>+1</td></tr>
								<tr><td>#4</td><td>Marco				<td>957</td>	<td>-1</td></tr>
								<tr><td>#5</td><td>Phoenixfeather		<td>871</td>	<td>=</td></tr>
								<tr><td>#6</td><td>Runnerguy2489		<td>854</td> 	<td>+1</td></tr>
								<tr><td>#7</td><td>Tob3000				<td>842</td>	<td>-1</td></tr>
								<tr><td>#8</td><td>Juwk					<td>830</td>	<td>=</td></tr>
								<tr><td>#9</td><td>Bonooruu				<td>710</td>	<td>=</td></tr>
								<tr><td>#10</td><td>Blinkzy				<td>677</td>	<td>=</td></tr>
								<tr><td>#11</td><td>Scaramanga			<td>615</td>	<td>=</td></tr>
								<tr><td>#12</td><td>Realtimeattack64	<td>607</td>	<td>+1</td></tr>
								<tr><td>#13</td><td>Gregortixlkyns		<td>603</td>	<td>-1</td></tr>
								<tr><td>#14</td><td>Dannyb21892			<td>538</td>	<td>=</td></tr>
								<tr><td>#15</td><td>Gombill				<td>484</td>	<td>+1</td></tr>
								<tr><td>#16</td><td>Armorysons			<td>470</td>	<td>+1</td></tr>
								<tr><td></td><td><td>					</td><td>		</td></tr>
								<tr><td>#17</td><td>Psymarth			<td>446</td>	<td>-2</td></tr>
								<tr><td>#18</td><td>Doctorkill			<td>418</td>	<td>+1</td></tr>
								<tr><td>#19</td><td>Chris7M				<td>390</td>	<td>-1</td></tr>
								<tr><td>#20</td><td>Mrbubbleskp			<td>385</td>	<td>+1</td></tr>
								<tr><td>#21</td><td>Jenslang			<td>375</td>	<td>-1</td></tr>
								<tr><td>#22</td><td>Menou				<td>365</td>	<td>+1</td></tr>
								<tr><td>#23</td><td>Xanra				<td>329</td>	<td>+1</td></tr>
								<tr><td>#24</td><td>Flanthis			<td>328</td>	<td>-2</td></tr>
								<tr><td>#25</td><td>Acermax				<td>288</td>	<td>New</td></tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Skulltula Revenge - Race #8</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img src="/images/Challenges/S2/C8.png" class="img-responsive" alt="C8.png">
							<h3 style="text-align:center">Runnerguy2489 - Nononono get away from that!!!<h3>
							<div>
								<iframe src="https://clips.twitch.tv/embed?clip=LightTastySalsifyDoritosChip&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							<div/>
							<h3 style="text-align:center">Numberplay - Hookshot Jump in DMT.<h3>
							<div>
								<iframe src="https://clips.twitch.tv/embed?clip=ClearFancyGrassPipeHype&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							<div/>
							<h3 style="text-align:center">Gombill - Into the Void.<h3>
							<div>
								<iframe src="https://clips.twitch.tv/embed?clip=PhilanthropicCrypticChimpanzeeFreakinStinkin&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							<div/>
						</td>
						<td class="table-customstyle" style="width:50%;text-align:center;">
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th colspan="4"><h3 class="h-marginfix text-center title">Standings after 8 races:</h3></th>
								</tr>
								<tr class="table-header">
								  <th>Position</th>
								  <th>Player</th>
								  <th>Score</th>
								  <th>Difference</th>
								</tr>
							  </thead>
								<tr><td>#1</td><td>Amateseru			<td>1335</td>	<td>=</td></tr>
								<tr><td>#2</td><td>Exodus				<td>1170</td>	<td>=</td></tr>
								<tr><td>#3</td><td>Hyperion64			<td>1098</td>	<td>=</td></tr>
								<tr><td>#4</td><td>Runnerguy2489		<td>1054</td>	<td>+2</td></tr>
								<tr><td>#5</td><td>Marco				<td>1052</td>	<td>-1</td></tr>
								<tr><td>#6</td><td>Tob3000				<td>1017</td> 	<td>+1</td></tr>
								<tr><td>#7</td><td>Phoenixfeather		<td>892</td>	<td>-2</td></tr>
								<tr><td>#8</td><td>Juwk					<td>830</td>	<td>=</td></tr>
								<tr><td>#9</td><td>Blinkzy				<td>817</td>	<td>+1</td></tr>
								<tr><td>#10</td><td>Bonooruu			<td>710</td>	<td>-1</td></tr>
								<tr><td>#11</td><td>Scaramanga			<td>700</td>	<td>=</td></tr>
								<tr><td>#12</td><td>Gregortixlkyns		<td>661</td>	<td>+1</td></tr>
								<tr><td>#13</td><td>Realtimeattack64	<td>641</td>	<td>-1</td></tr>
								<tr><td>#14</td><td>Dannyb21892			<td>638</td>	<td>=</td></tr>
								<tr><td>#15</td><td>Psymarth			<td>551</td>	<td>+2</td></tr>
								<tr><td>#16</td><td>Chris7M				<td>550</td>	<td>+3</td></tr>
								<tr><td></td><td><td>					</td><td>		</td></tr>
								<tr><td>#17</td><td>Armorysons			<td>536</td>	<td>-1</td></tr>
								<tr><td>#18</td><td>Gombill				<td>521</td>	<td>-3</td></tr>
								<tr><td>#19</td><td>Jenslang			<td>493</td>	<td>+2</td></tr>
								<tr><td>#20</td><td>Doctorkill			<td>458</td>	<td>-2</td></tr>
								<tr><td>#21</td><td>Menou				<td>396</td>	<td>+1</td></tr>
								<tr><td>#22</td><td>Mrbubbleskp			<td>342</td>	<td>-2</td></tr>
								<tr><td>#23</td><td>Xanra				<td>329</td>	<td>=</td></tr>
								<tr><td>#24</td><td>Sonfloro			<td>333</td>	<td>New</td></tr>
								<tr><td>#25</td><td>Flanthis			<td>288</td>	<td>-1</td></tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">OCS Countdown - Race #9</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img src="/images/Challenges/S2/C9.png" class="img-responsive" alt="C9.png">
							<h3 style="text-align:center">PhoenixFeather - Did That Really Just Happen?<h3>
							<div>
								<iframe src="https://clips.twitch.tv/embed?clip=IntelligentCrazyClipsmomDancingBaby&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							<div/>
							<h3 style="text-align:center">Hyperion64 - Last minute clutch.<h3>
							<div>
								<iframe src="https://clips.twitch.tv/embed?clip=AnnoyingPricklyTildeSaltBae&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							<div/>
							<h3 style="text-align:center">Psymarth - I'm not, I'm not, I'm not...<h3>
							<div>
								<iframe src="https://clips.twitch.tv/embed?clip=RamshackleDiligentFinchPipeHype&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>							
							<div/>
							<h3 style="text-align:center">Xanra - WTF fire?!<h3>
							<div>
								<iframe src="https://clips.twitch.tv/embed?clip=SuspiciousExuberantFennelBigBrother&autoplay=false&tt_medium=clips_embed" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
							<div/>
						</td>
						<td class="table-customstyle" style="width:50%;text-align:center;">
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th colspan="4"><h3 class="h-marginfix text-center title">Standings after 9 races:</h3></th>
								</tr>
								<tr class="table-header">
								  <th>Position</th>
								  <th>Player</th>
								  <th>Score</th>
								  <th>Difference</th>
								</tr>
							  </thead>
								<tr><td>#1</td><td>Amateseru			<td>1535</td>	<td>=</td></tr>
								<tr><td>#2</td><td>Exodus				<td>1281</td>	<td>=</td></tr>
								<tr><td>#3</td><td>Hyperion64			<td>1248</td>	<td>=</td></tr>
								<tr><td>#4</td><td>Tob3000				<td>1192</td>	<td>+2</td></tr>
								<tr><td>#5</td><td>Marco				<td>1137</td>	<td>=</td></tr>
								<tr><td>#6</td><td>Phoenixfeather		<td>1106</td> 	<td>+1</td></tr>
								<tr><td>#7</td><td>Runnerguy2489		<td>1097</td>	<td>-3</td></tr>
								<tr><td>#8</td><td>Juwk					<td>1010</td>	<td>=</td></tr>
								<tr><td>#9</td><td>Blinkzy				<td>845</td>	<td>=</td></tr>
								<tr><td>#10</td><td>Scaramanga			<td>800</td>	<td>+1</td></tr>
								<tr><td>#11</td><td>Bonooruu			<td>710</td>	<td>-1</td></tr>
								<tr><td>#12</td><td>Realtimeattack64	<td>695</td>	<td>+1</td></tr>
								<tr><td>#13</td><td>Psymarth			<td>691</td>	<td>+2</td></tr>
								<tr><td>#14</td><td>Gregortixlkyns		<td>661</td>	<td>-2</td></tr>
								<tr><td>#15</td><td>Chris7M				<td>645</td>	<td>+1</td></tr>
								<tr><td>#16</td><td>Dannyb21892			<td>638</td>	<td>-2</td></tr>
								<tr><td></td><td><td>					</td><td>		</td></tr>
								<tr><td>#17</td><td>Armorysons			<td>602</td>	<td>=</td></tr>
								<tr><td>#18</td><td>Gombill				<td>596</td>	<td>=</td></tr>
								<tr><td>#19</td><td>Doctorkill			<td>563</td>	<td>+1</td></tr>
								<tr><td>#20</td><td>Mrbubbleskp			<td>510</td>	<td>+2</td></tr>
								<tr><td>#21</td><td>Jenslang			<td>493</td>	<td>-2</td></tr>
								<tr><td>#22</td><td>Menou				<td>406</td>	<td>-1</td></tr>
								<tr><td>#23</td><td>Sonfloro			<td>395</td>	<td>+1</td></tr>
								<tr><td>#24</td><td>Xanra				<td>379</td>	<td>-1</td></tr>
								<tr><td>#25</td><td>Matttinthehat		<td>368</td>	<td>New</td></tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Playoff race</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								If we look at the top of the leaderboard, Amateseru has all but clinched the first seed. If Exodus joins the next race, wins and Amateseru decided to not play or forfeit, he would still be in first place! His lowest placing was 7th place so his lead is very safe. </br></br>
								Exodus has been the most consistent bingo player for years, he would be the obvious choice for the second seed. If I was a betting man I would say that the rest of the top 5 would be filled by Tob, Hyperion and Marco in any order. Tob has a win and many second-place finishes, Hyperion is one of the only top players that did not have a “bad” result and even though Marco did not have the best third quarter, his execution alone is good enough for him to finish strong.</br></br>
								These next comments will assume that these players will join and complete all three remaining races. If everyone played around their average then Doctorkill, Gombill and Armorysons might be in trouble but the beauty of this format is that if one of them can somehow pull out a top 5 finish then that might be enough to secure their spot. Doctorkill even already has a 5th place finish this season. </br></br>
								Bonooruu probably is the safest out of these 11 players and he could also be a prime candidate to cause an upset in the first round of the playoffs if he makes it. Greg, Danny and Armory have finished pretty consistently between 10 and 20 but they will need to finish closer to 10 as the weeks go on. Chris has been on a roll recently and finished in the top 12 in his last three races. He even finished 3rd in the Skulltula race! </br></br> 
								Realtimeattack started the season strong but just had his two worst races. He is still in a comfortable position, but he needs to make sure the people behind him do not beat him. Jenslang would be in a very different position if he had not missed four races but if he places around his average or better, he might still have a chance to land a spot. </br></br> 
								The players in the lower spots can simply must finish ahead of the people they are in direct competition with. Only three races are left, the spots will get filled out quickly.
							</h3>
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th>Player</th>
								  <th>Rank</th>
								  <th>Points</th>
								  <th>Highest</th>
								  <th>Lowest</th>
								  <th># of finished races</th>
								  <th>Average</th>
								</tr>
							  </thead>
								<tr><td>Bonooruu<td>11</td><td>710</td><td>2</td><td>17</td><td>6</td><td>8.3</td></tr>
							    <tr><td>Realtimeattack64<td>12</td><td>695</td><td>4</td><td>27</td><td>7</td><td>12.4</td></tr>
							    <tr><td>Psymarth<td>13</td><td>691</td><td>5</td><td>32</td><td>9</td><td>16.8</td></tr>
								<tr><td>Gregortixlkyns<td>14</td><td>661</td><td>8</td><td>25</td><td>8</td><td>14.9</td></tr>
								<tr><td>Chris7M<td>15</td><td>645</td><td>3</td><td>32</td><td>8</td><td>16.5</td></tr>
								<tr><td>Dannyb21892<td>16</td><td>638</td><td>10</td><td>20</td><td>8</td><td>15.3</td></tr>
								<tr><td>Armorysons<td>17</td><td>602</td><td>13</td><td>30</td><td>9</td><td>18.3</td></tr>
								<tr><td>Gombill<td>18</td><td>596</td><td>7</td><td>47*</td><td>9</td><td>17</td></tr>
								<tr><td>Doctorkill<td>19</td><td>563</td><td>5</td><td>35</td><td>8</td><td>18.5</td></tr>
								<tr><td>Mrbubbleskp<td>20</td><td>510</td><td>7</td><td>17</td><td>6</td><td>14.2</td></tr>
								<tr><td>Jenslang<td>21</td><td>493</td><td>7</td><td>22</td><td>5</td><td>11.8</td></tr>
							</table>
							<h5>
								*Gombill finished 47th in the 6th race because he started the race several hours late. Otherwise, he would have got 26 as is lowest ranking.
							</h5>
						</td>
					</tr>
				</table>
								<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">If the playoffs started today</h3></th>
						</tr>
						<tr>
						<td class="table-customstyle">
							<h3 style="text-align:center;">
								Amateseru vs Dannyb21892</br></br>
								Exodus vs Chris7M</br></br>
								Hyperion64  vs Gregortixlkyns</br></br>
								Tob3000  vs Psymarth</br></br>
								Marco  vs Realtimeattack64</br></br>
								Phoenixfeather  vs Bonooruu</br></br>
								Runnerguy2489  vs Scaramanga</br></br>
								Juwk  vs Blinkzy</br></br>
							</h3>
						</td>
					</tr>
					</thead>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Shoutouts to these players who finished all 9 races</h3></th>
						</tr>
						<tr>
						<td class="table-customstyle">
							<h3 style="text-align:center;">
								Amateseru</br></br>
								Marco8641</br></br>
								Exodus</br></br>
								Hyperion64</br></br>
								Runnerguy2489</br></br>
								PhoenixFeather</br></br>
								Scaramanga</br></br>
								Psymarth</br></br>
								Blinkzy</br></br>
								Gombill</br></br>
								Armorysons</br></br>
								Xanra</br></br>
								Bou_Frost</br></br>
								QuickKiran</br></br>
								Nkiller</br></br>
								Trisscorp</br></br>
							</h3>
						</td>
					</tr>
					</thead>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Battle modes #4 and #5</h3></th>
						</tr>
						<tr>
							<td class="table-customstyle">
								<h2>
									<b>Countdown</b>
								</h2>
								<h3>
									It is with no surprise that we announce that the fourth battle mode will be countdown. The players will have to accumulate points from a randomized scoreboard and from a randomized set of bingo goals. This battle mode requires a lot of routing skill and the ability to change your route on the fly many times if needed. The risk vs reward factor is very important in this as sneaking in that one item might be just enough to give you the win but it also means you have no room for mistakes. The exact setting for the timer and number of goals will be announced with the rest of the playoff details.
								</h3>
							</td>
						</tr>
						<tr>
							<td class="table-customstyle">
								<h2>
									<b>Spin the wheel</b>
								</h2>
								<h3>
									The true spirit of OCS! When this battle mode is selected, a goal will be randomly picked from a list of past OCS races, restriction races, less popular categories or just arbitrary goals. The players will not have access to the list so every goal so they cannot practice directly for them but playing bingos, restriction races or studying past OCS results can help to prepare. This can be a good battle mode to counterpick if you think your opponent can get overwhelmed by an impromptu goal, but also if you are confident in your ability to adapt. </br></br>
									<b>Example of an arbitrary goal: </b></br></br>Obtain Nocturne of Shadow, No RBA. </br></br>
									<b>Example of a restriction race: </b></br></br>Beat Spirit Temple & Deku Tree. Obtain Ice Arrow. Obtain Silver Scale. No Hookshot. No Hover Boots. </br></br>
								</h3>
							</td>
						</tr>
						<tr>
							<td class="table-customstyle">
								<h3>
									More details about how exactly the picking and counterpicking will work will come as we get closer to the end of the season. 
								</h3>
							</td>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
