<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Season 2 - Quarter 1</title>
  <% include partials/head %>
</head>

<body>
  <div class="backgroundDiv"></div>
  <% include partials/header %>
  
	<div class="container body-content">
		<div id="backgroundDiv"></div>
					<div class="updiv row table-padding">
			<div>
							<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Second quarter power rankings</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h3>
								It’s no surprise that Ama would be at the top of the rankings for the second quarter power rankings. A win, a 2nd place and a 5th place would be hard to replicate. In fact, the only person who could beat those results would be the Amateseru of the first quarter. </br></br> 
								A little more surprising would be that Phoenixfeather ends up in second place. He finished in the top 5 in all three races and topped it off with a second place in the Reverse Bingo race. </br></br> 
								Exodus had two wins in this quarter but he struggled with the 4th race so he ends up in 4th place here. </br></br> 
								Blinkzy continues his upward trajectory with a 7th place and Menou and Doctorkill are showing that they are getting ready to challenge for a playoff spot.</br></br> 
								</h3>
							</td>
					</tr>
					<tr>
						<td class="table-customstyle" style="width:50%;text-align:center;">
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th>Position</th>
								  <th>Player</th>
								  <th>Score</th>
								  <th># Races</th>
								</tr>
							  </thead>
							  <tr><td>#1</td><td>Amateseru <td>515</td><td>3</td></tr>
							  <tr><td>#2</td><td>Phoenixfeather</td><td>465</td><td>3</td></tr>
							  <tr><td>#3</td><td>Hyperion64</td><td>430</td><td>3</td></tr>
							  <tr><td>#4</td><td>Exodus</td><td>425</td><td>3</td></tr>
							  <tr><td>#5</td><td>Runnerguy2489</td><td>368</td><td>3</td></tr>
							  <tr><td>#6</td><td>Marco</td><td>360</td><td>3</td></tr>
							  <tr><td>#7</td><td>Blinkzy</td><td>332</td><td>3</td></tr>
							  <tr><td>#8</td><td>Scaramanga</td><td>329</td><td>3</td></tr>
							  <tr><td>#9</td><td>Doctorkill</td><td>295</td><td>3</td></tr>
							  <tr><td>#10</td><td>Gregortixlkyns</td><td>265</td><td>3</td></tr>
							  <tr><td>#11</td><td>Tob3000</td><td>260</td><td>2</td></tr>
							  <tr><td>#12</td><td>Juwk</td><td>243</td><td>2</td></tr>
							  <tr><td>#13</td><td>Dannyb21892</td><td>237</td><td>3</td></tr>
							  <tr><td>#14</td><td>Armorysons</td><td>237</td><td>3</td></tr>
							  <tr><td>#15</td><td>Menou</td><td>235</td><td>3</td></tr>
							  <tr><td>#16</td><td>Realtimeattack64</td><td>227</td><td>3</td></tr>
							  <tr><td>#17</td><td>Aliensqueakytoy</td><td>183</td><td>2</td></tr>
							  <tr><td>#18</td><td>Bonooruu</td><td>181</td><td>3</td></tr>
							  <tr><td>#19</td><td>Gombill</td><td>178</td><td>3</td></tr>
							  <tr><td>#20</td><td>Psymarth</td><td>171</td><td>3</td></tr>
							  <tr><td>#21</td><td>Chris7M</td><td>162</td><td>3</td></tr>
							  <tr><td>#22</td><td>Flanthis</td><td>156</td><td>3</td></tr>
							  <tr><td>#23</td><td>Mrbubbleskp</td><td>155</td><td>3</td></tr>
							  <tr><td>#24</td><td>Xanra</td><td>143</td><td>3</td></tr>
							  <tr><td>#25</td><td>Sonfloro</td><td>141</td><td>3</td></tr>
							  <tr><td>#26</td><td>Quickkiran</td><td>119</td><td>3</td></tr>
							  <tr><td>#27</td><td>Acermax</td><td>109</td><td>3</td></tr>
							  <tr><td>#28</td><td>Sloth</td><td>101</td><td>2</td></tr>
							  <tr><td>#29</td><td>Jenslang</td><td>100</td><td>1</td></tr>
							  <tr><td>#30</td><td>Lulz</td><td>100</td><td>1</td></tr>
							  <tr><td>#31</td><td>Mattinthehat</td><td>99</td><td>2</td></tr>
							  <tr><td>#32</td><td>Nkiller</td><td>90</td><td>3</td></tr>
							  <tr><td>#33</td><td>Bou_Frost</td><td>84</td><td>3</td></tr>
							  <tr><td>#34</td><td>Marshallobob</td><td>71</td><td>3</td></tr>
							  <tr><td>#35</td><td>Tasslehoff9566</td><td>69</td><td>3</td></tr>
							  <tr><td>#36</td><td>Titoukay</td><td>66</td><td>3</td></tr>
							  <tr><td>#37</td><td>Letsklay</td><td>56</td><td>3</td></tr>
							  <tr><td>#38</td><td>King_Nuptup</td><td>49</td><td>2</td></tr>
							  <tr><td>#39</td><td>Moosecrap</td><td>47</td><td>2</td></tr>
							  <tr><td>#40</td><td>Ostrealava</td><td>40</td><td>2</td></tr>
							  <tr><td>#41</td><td>Kintefleush</td><td>40</td><td>3</td></tr>
							  <tr><td>#42</td><td>Thiefbug</td><td>36</td><td>2</td></tr>
							  <tr><td>#43</td><td>CoffeeRunner1</td><td>35</td><td>3</td></tr>
							  <tr><td>#44</td><td>Trisscorp</td><td>35</td><td>3</td></tr>
							  <tr><td>#45</td><td>Numberplay</td><td>34</td><td>3</td></tr>
							  <tr><td>#46</td><td>Knighty</td><td>31</td><td>3</td></tr>
							  <tr><td>#47</td><td>Adefgames</td><td>27</td><td>1</td></tr>
							  <tr><td>#48</td><td>Sanzeau</td><td>25</td><td>3</td></tr>
							  <tr><td>#49</td><td>Thecowness</td><td>20</td><td>2</td></tr>
							  <tr><td>#50</td><td>Fenyan</td><td>19</td><td>3</td></tr>
							  <tr><td>#51</td><td>Kaylabee17</td><td>18</td><td>3</td></tr>
							  <tr><td>#52</td><td>Haru</td><td>18</td><td>1</td></tr>
							  <tr><td>#53</td><td>Luigidude851</td><td>17</td><td>3</td></tr>
							  <tr><td>#54</td><td>Ziranui</td><td>15</td><td>2</td></tr>
							  <tr><td>#55</td><td>Blanca</td><td>10</td><td>2</td></tr>
							  <tr><td>#56</td><td>Elminster</td><td>10</td><td>1</td></tr>
							  <tr><td>#57</td><td>Revi</td><td>9</td><td>3</td></tr>
							  <tr><td>#58</td><td>Remidemmi</td><td>7</td><td>2</td></tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Rupees don't grow in grass - Race 4</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img src="/images/Challenges/S2/C4.png" class="img-responsive" alt="C4.png">
							<h2><strong>Recap:</strong></h2>
							<h3>
								The fourth race of the season is where all hell broke loose. </br></br> 
								The combination of a scary goal, unclear instructions and players who want to do well in the competition made Sunday September 24th, 2017 a bad experience for all parties involved. </br></br> 
								However, some participants ended up using this opportunity to climb up the rankings (or solidify their lead if you’re Ama). </br></br> 
								Hyperion climbed up all the way to the 3rd spot after finishing in 2nd place and Gombill climbed from 17th to 12th place. Doctorkill finished in 5th place in that race and he makes his first appearance in the top 25. Menou also had his best result of the season with an 8th place. </br></br> 
								A couple of the top players forfeited or finished a lot lower than their average so this meant a lot of shuffling in the leaderboard. Notable absents here were Realtimeattack, Jenslang and Flo. </br></br> 
							</h3>
						</td>
						<td class="table-customstyle" style="width:50%;text-align:center;">
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th colspan="4"><h3 class="h-marginfix text-center title">Standings after 4 races:</h3></th>
								</tr>
								<tr class="table-header">
								  <th>Position</th>
								  <th>Player</th>
								  <th>Score</th>
								  <th>Difference</th>
								</tr>
							  </thead>
								<tr><td>#1</td><td>Amateseru<td>735</td><td>=</td></tr>
								<tr><td>#2</td><td>Tob3000<td>571</td><td>+1</td></tr>
								<tr><td>#3</td><td>Hyperion64<td>561</td><td>+5</td></tr>
								<tr><td>#4</td><td>Marco<td>557</td><td>-2</td></tr>
								<tr><td>#5</td><td>Runnerguy2489<td>508</td><td>+3</td></tr>
								<tr><td>#6</td><td>Juwk<td>498</td><td>=</td></tr>
								<tr><td>#7</td><td>Exodus<td>445</td><td>-3</td></tr>
								<tr><td>#8</td><td>Phoenixfeather<td>424</td><td>+2</td></tr>
								<tr><td>#9</td><td>Bonooruu<td>411</td><td>-4</td></tr>
								<tr><td>#10</td><td>Scaramanga<td>388</td><td>+1</td></tr>
								<tr><td>#11</td><td>Gregortixlkyns<td>348</td><td>+3</td></tr>
								<tr><td>#12</td><td>Gombill<td>346</td><td>+5</td></tr>
								<tr><td>#13</td><td>Psymarth<td>335</td><td>-1</td></tr>
								<tr><td>#14</td><td>Blinkzy<td>229</td><td>-1</td></tr>
								<tr><td>#15</td><td>Dannyb21892<td>277</td><td>+3</td></tr>
								<tr><td>#16</td><td>Realtimeattack64<td>275</td><td>-7</td></tr>
								<tr><td></td><td><td></td><td></td></tr>
								<tr><td>#17</td><td>Chris7M<td>259</td><td>-2</td></tr>
								<tr><td>#18</td><td>Armorysons<td>248</td><td>+3</td></tr>
								<tr><td>#19</td><td>Flanthis<td>225</td><td>+2</td></tr>
								<tr><td>#20</td><td>Jenslang<td>225</td><td>-5</td></tr>
								<tr><td>#21</td><td>Doctorkill<td>209</td><td>New</td></tr>
								<tr><td>#22</td><td>Sonfloro<td>204</td><td>New</td></tr>
								<tr><td>#23</td><td>Menou<td>186</td><td>New</td></tr>
								<tr><td>#24</td><td>Flofloo<td>161</td><td>-5</td></tr>
								<tr><td>#25</td><td>Mrbubbleskp<td>160</td><td>-5</td></tr>
							</table>
						</td>
					</tr>
				</table>
			
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Trials and Doors - Race 5</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img src="/images/Challenges/S2/C5.png" class="img-responsive" alt="C5.png">
							<h2><strong>Recap:</strong></h2>
							<h3>
								For the second race of the second quarter, things went a bit back to normal. </br></br> 
								Exodus won his first race of the season, Ama finished in the top 2 again and Tob got 3rd place. </br></br> 
								Aliensqueakytoy finished in 7th place to start his mid season playoff push (even though he ended up missing the 6th race).</br></br> 
								Realtimeattack joined again after missing the last 2 races to keep himself in playoff contention and Blinkzy also had what was his best result of the season at that time to climb to the 12th spot. </br></br> 
								Things are getting really close near the playoff cut-off line with only around 100 points separating the 15th and 21st spots. </br></br> 
							</h3>
						</td>
						<td class="table-customstyle" style="width:50%;text-align:center;">
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th colspan="4"><h3 class="h-marginfix text-center title">Standings after 5 races:</h3></th>
								</tr>
								<tr class="table-header">
								  <th>Position</th>
								  <th>Player</th>
								  <th>Score</th>
								  <th>Difference</th>
								</tr>
							  </thead>
								<tr><td>#1</td><td>Amateseru<td>910</td><td>=</td></tr>
								<tr><td>#2</td><td>Tob3000<td>731</td><td>=</td></tr>
								<tr><td>#3</td><td>Marco<td>707</td><td>+1</td></tr>
								<tr><td>#4</td><td>Hyperion64<td>666</td><td>-1</td></tr>
								<tr><td>#5</td><td>Exodus<td>645</td><td>+2</td></tr>
								<tr><td>#6</td><td>Juwk<td>630</td><td>=</td></tr>
								<tr><td>#7</td><td>Runnerguy2489<td>596</td><td>-2</td></tr>
								<tr><td>#8</td><td>Phoenixfeather<td>564</td><td>=</td></tr>
								<tr><td>#9</td><td>Bonooruu<td>522</td><td>=</td></tr>
								<tr><td>#10</td><td>Scaramanga<td>450</td><td>=</td></tr>
								<tr><td>#11</td><td>Gregortixlkyns<td>418</td><td>=</td></tr>
								<tr><td>#12</td><td>Blinkzy<td>417</td><td>+2</td></tr>
								<tr><td>#13</td><td>Gombill<td>392</td><td>=</td></tr>
								<tr><td>#14</td><td>Psymarth<td>389</td><td>=</td></tr>
								<tr><td>#15</td><td>Realtimeattack64<td>370</td><td>+1</td></tr>
								<tr><td>#16</td><td>Dannyb21892<td>343</td><td>-1</td></tr>
								<tr><td></td><td><td></td><td></td></tr>
								<tr><td>#17</td><td>Armorysons<td>333</td><td>+1</td></tr>
								<tr><td>#18</td><td>Jenslang<td>325</td><td>+2</td></tr>
								<tr><td>#19</td><td>Doctorkill<td>289</td><td>+2</td></tr>
								<tr><td>#20</td><td>Chris7M<td>279</td><td>-3</td></tr>
								<tr><td>#21</td><td>Flanthis<td>275</td><td>-2</td></tr>
								<tr><td>#22</td><td>Mrbubbleskp<td>235</td><td>+3</td></tr>
								<tr><td>#23</td><td>Sonfloro<td>222</td><td>-1</td></tr>
								<tr><td>#24</td><td>Aliensqueakytoy<td>221</td><td>New</td></tr>
								<tr><td>#25</td><td>Xanra<td>217</td><td>New</td></tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Reverse Bingo - Race 6</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<img src="/images/Challenges/S2/C6.png" class="img-responsive" alt="C6.png">
							<h2><strong>Recap:</strong></h2>
							<h3>
								If you had been following OCS for the first 5 races you probably would not have predicted a top 3 of Exodus, Phoenixfeather and Blinkzy yet that it was happened. </br></br> 
								Phoenix crowned his strong second quarter with a silver medal and Blinkzy also climbed another 2 ranks to make it to the top 10. </br></br> 
								Amateseru finished outside of the top 3 for the first time of the season and had his worst race of the season but that is still good enough for 5th place. Ama’s lead is significant enough that he could get zero points in the next race and still be guaranteed to remain in first. </br></br> 
								Chris7M had his best result with a 9th place and is now only 9 points behind a playoff spot. </br></br> 
								This race was missing some of the regulars like Tob and Juwk so they both dropped a bit but they are still in very comfortable spots. </br></br> 
							</h3>
						</td>
						<td class="table-customstyle" style="width:50%;text-align:center;">
							<table class="table table-bordered table-responsive table-striped" id="ScoresboardTable">
							  <thead>
								<tr class="table-header">
								  <th colspan="4"><h3 class="h-marginfix text-center title">Standings after 6 races:</h3></th>
								</tr>
								<tr class="table-header">
								  <th>Position</th>
								  <th>Player</th>
								  <th>Score</th>
								  <th>Difference</th>
								</tr>
							  </thead>
								<tr><td>#1</td><td>Amateseru<td>1050</td><td>=</td></tr>
								<tr><td>#2</td><td>Exodus<td>845</td><td>+3</td></tr>
								<tr><td>#3</td><td>Marco<td>832</td><td>=</td></tr>
								<tr><td>#4</td><td>Hyperion64<td>816</td><td>=</td></tr>
								<tr><td>#5</td><td>PhoenixFeather<td>739</td><td>+3</td></tr>
								<tr><td>#6</td><td>Tob3000<td>731</td><td>-4</td></tr>
								<tr><td>#7</td><td>Runnerguy2489<td>714</td><td>=</td></tr>
								<tr><td>#8</td><td>Juwk<td>630</td><td>-2</td></tr>
								<tr><td>#9</td><td>Bonooruu<td>592</td><td>=</td></tr>
								<tr><td>#10</td><td>Blinkzy<td>577</td><td>+2</td></tr>
								<tr><td>#11</td><td>Scaramanga<td>535</td><td>-1</td></tr>
								<tr><td>#12</td><td>Gregortixlkyns<td>508</td><td>-1</td></tr>
								<tr><td>#13</td><td>Realtimeattack64<td>502</td><td>+2</td></tr>
								<tr><td>#14</td><td>Dannyb21892<td>448</td><td>+2</td></tr>
								<tr><td>#15</td><td>Psymarth<td>426</td><td>-1</td></tr>
								<tr><td>#16</td><td>Gombill<td>399</td><td>-3</td></tr>
								<tr><td></td><td><td></td><td></td></tr>
								<tr><td>#17</td><td>Armorysons<td>395</td><td>=</td></tr>
								<tr><td>#18</td><td>Chris7M<td>390</td><td>+2</td></tr>
								<tr><td>#19</td><td>Doctorkill<td>364</td><td>=</td></tr>
								<tr><td>#20</td><td>Jenslang<td>315</td><td>-2</td></tr>
								<tr><td>#21</td><td>Mrbubbleskp<td>325</td><td>+1</td></tr>
								<tr><td>#22</td><td>Flanthis<td>306</td><td>-1</td></tr>
								<tr><td>#23</td><td>Menou<td>303</td><td>New</td></tr>
								<tr><td>#24</td><td>Xanra<td>263</td><td>+1</td></tr>
								<tr><td>#25</td><td>Sonfloro<td>250</td><td>-2</td></tr>
							</table>
						</td>
					</tr>
				</table>
			
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">On the rise</h3></th>
						</tr>
					</thead>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Phoenixfeather</strong></h2>
							<h3>
								Phoenixfeather was already contending for a playoff spot but his second quarter was more than impressive. He ended up with 3 top 5 finishes in a row (2nd, 4th and 5th). The only other player to have a streak like this is Amateseru (6 in a row). That also brings him to the 5th spot in the overall rankings so he is in a comfortable spot to be a top 10 seed for the playoffs.
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Menou</strong></h2>
							<h3>
								Menou had a solid second quarter including an 8th and a 12th place. His results were good enough for 15th in the 2nd quarter power rankings. His ability to adapt and make decisions on the fly paid off in the last few races and he now enters the battle for a playoff spot. Beta Quest might have helped there, you need fast decisions and reactions there too! He will be an interesting player to follow in the second half of the season.
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Doctorkill</strong></h2>
							<h3>
								Doctorkill finished in 12th place last OCS season. He was one of the best bingo players during a time and now maybe some of the rust is coming off. His 2nd quarter’s results were 15th, 16th and a notable 5th place in the rupee challenge. If Doctorkill starts playing the way everyone knows he can, players battling for last playoff spots should be very nervous.  
							</h3>
						</td>
					</tr>
					<tr>
						<td class="table-customstyle">
							<h2><strong>Scaramanga</strong></h2>
							<h3>
								No, the first quarter was not a fluke, Scaramanga is for real. He finished the first quarter in 11th place and is now still sitting in that spot after three more races. His best result in this quarter was 6th place. Can he continue his consistent play and solidify his lead over the 16th spot? The only thing that could stop him might be a no damage goal. 
							</h3>
						</td>
					</tr>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">If the playoffs started today</h3></th>
						</tr>
						<tr>
						<td class="table-customstyle">
							<h3 style="text-align:center;">
								Amateseru vs Gombill</br></br>
								Exodus vs Psymarth</br></br>
								Marco vs Dannyb21829</br></br>
								Hyperion64 vs Realtimeattack64</br></br>
								Phoenixfeather vs Gregortixlkyns</br></br>
								Tob3000 vs Scaramanga</br></br>
								Runnerguy2489 vs Blinkzy</br></br>
								Juwk vs Bonooruu</br></br>
							</h3>
						</td>
					</tr>
					</thead>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Shoutouts to these players who finished all 6 races</h3></th>
						</tr>
						<tr>
						<td class="table-customstyle">
							<h3 style="text-align:center;">
								Amateseru</br></br>
								Marco8641</br></br>
								Exodus</br></br>
								Hyperion64</br></br>
								Runnerguy2489</br></br>
								PhoenixFeather</br></br>
								Scaramanga</br></br>
								Psymarth</br></br>
								Blinkzy</br></br>
								Gregortixlkyns</br></br>
								Chris7M</br></br>
								Gombill</br></br>
								Dannyb21892</br></br>
								Armorysons</br></br>
								Flanthis</br></br>
								Xanra</br></br>
								Bou_Frost</br></br>
								Marshallobob</br></br>
								QuickKiran</br></br>
								Nkiller</br></br>
								Trisscorp</br></br>
							</h3>
						</td>
					</tr>
					</thead>
				</table>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr class="table-header">
							<th colspan="2"><h3 class="h-marginfix text-center title">Battle mode reveal</h3></th>
						</tr>
						<tr>
						<td class="table-customstyle">
							<h3>
								The third battle mode is categories! The three categories are MST, All Dungeons and No IM/WW. </br></br>
								The person who picks this battle mode does not pick the category. Your opponent gets to pick which of these three categories you will be racing.</br></br>
								Exceptionally, bingo rules will not apply but normal rules for the selected category will. This means that according to the category, Stick as adult, Hold R and GIM may be allowed. </br></br>
								Studying your adversaries will be very important since you do not want to counter pick a category you know your opponent is a master at. </br></br>
							</h3>
						</td>
					</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
