<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OCS - Season 2- Result race 9</title>
  <% include partials/head %>
</head>

<body>
  <div id="backgroundDiv"></div>
  <% include partials/header %>
  <div class="container body-content">
    <div class="updiv row hidden-xs text-center">
      <h1 class="title">
        OoT Championship Series - Season 2 - Race #9 Results
      </h1>
    </div>
	</br></br>
	<div>
		<h3 class="title">
		  Ties has been broken in this order, as mention in the pastebin.</br></br>
		  1. Number of Heart Pieces shown in inventory at end of race. </br></br>
		  2. If still tie, Number of gold skulls that don’t complete a set of 3. </br></br>
		  3. If still tie, the amount of time left when the last positive value item was collected.</br></br>
		<h3>
	</div>
	<div class="updiv row">
			  <div>
				<table class="table table-bordered table-responsive table-striped">
				  <thead>
					<tr class="table-header">
					  <th class="leaderboard-td">Rank</th>
					  <th>Player</th>
					  <th>Country</th>
					  <th>Score</th>
					</tr>
				  </thead>
				  <tbody id="ScoresboardTable">

				  </tbody>
				</table>
			  </div>
			</div>
		  </div>
		  <div>
			<h4 style="text-align: center;" class="title"><a href="https://drive.google.com/open?id=1MRqBh9ssM52-kyYQ3i5sft7DZsg8hTq0tdjfWiCac3k">Tiebreaker and public survey</a><h4>
		  </div>
	</body>
	<script>
		var Avatars = <%- JSON.stringify(data) %>;
	</script>
	<script src="http://www.ootchampionship.com/script/leaderboardrace9.js"></script>
  </div>
</body>

</html>
